﻿@model PalletPlus.Website.Areas.User.ViewModels.RecordMovement.RecordMovementViewModel
@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.User.ViewModels.Enumerators
@using nTrack.Web.Bootstrap

@{
    var year = @DateTime.Now.Year;
}

<script>
    debugger;
    var equipmentsGiven = 0;
    
    $(document).ready(function () {
        kendo.culture('en-AU');

        $("#validateEq").hide();
        $("#validateDateEq").hide();
        validateDateEq
        
        @if(Model.MovementDirection == MovementDirection.Out)
        {
            <text>
                $("#docketNumber").toggle();
            </text>
        }
        //$('#Transporter').combobox();
        
        $("#datepicker").kendoDatePicker({
            name: "MovementDate",
            culture: "en-AU",
            value: new Date()
        });

        $('form').submit(function () {
            
            if (!isDate($("#datepicker").val())) {
                $("#validateDateEq").show();     
                return false;

            }

            if (equipmentsGiven > 0)
                return true;

           

            $("#validateEq").show();
            return false;
        });
    });
    
    function equipmentOnBlur(e) {
        if (equipmentsGiven > 0 && e.value == "") {
            equipmentsGiven--;
        }
        else if (e.value != "") {
            equipmentsGiven++;
        }
        
        if(equipmentsGiven > 0)
            $("#validateEq").hide();
    }
    
 
</script>



@if (Model.MovementDirection == MovementDirection.Out && Model.RequairePTAEnabled)
{
    <div class="validation-summary-errors" >
        <ul>
            <li>Partner requaire site to be PTA process enabled.</li>
        </ul>
    </div>
}
else
{
    using (Html.BeginForm("Save", "RecordMovementBase", FormMethod.Post, new { @class = "form-horizontal" }))
    {
     @Html.HiddenFor(m => m.SupplierId)
     @Html.HiddenFor(m => m.TradingPartnerID)
     @Html.HiddenFor(m => m.TradingPartner)
     @Html.HiddenFor(m => m.PartnerAccountNumber)
     @Html.HiddenFor(m => m.MovementType)
     @Html.HiddenFor(m => m.MovementDirection)
     @Html.HiddenFor(m => m.LocationId)

     <div id="MovementSection" >
        
         <fieldset>
             <legend>Movement Details</legend>
             @Html.ValidationSummary()
             <div id="validateEq" class="validation-summary-errors" >
                 <ul>
                     <li>Please provide number for at least one equipment kind.</li>
                 </ul>
             </div>
              <div id="validateDateEq" class="validation-summary-errors" >
                 <ul>
                     <li>Effective Date is invalid.</li>
                 </ul>
             </div>


             <div class="control-group">
                 @Bootstrap.LabelFor(Html, m => m.MovementDate)
                 <div class="controls">
                     <input id="datepicker" name="MovementDate" required style="width: 150px;" />
                 </div>
             </div>
             @*          <div id="transporters-div" class="control-group" hidden="hidden">
                @Bootstrap.LabelFor(Html, m => m.Transporters)
                <div class="controls">
                    <div id="TransporterCombobox">@Bootstrap.ComboboxFor(Html, m => m.Transporter, Model.Transporters)</div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Bootstrap.CheckBoxFor(Html, m => m.ReceivedViaTransporter, "receivedViaTransporterChxbx", "@sendMode via Transporter")
                </div>
            </div>*@
             @if (Model.MovementDirection == MovementDirection.Out)
             {
                 <div class="control-group">
                     @Bootstrap.Label("Override docket number")
                     <div class="controls">
                         @Html.CheckBox("overrideDocketNo", false, new { id = "overrideDocketNo" })
                     </div>
                 </div>

                 <div id="docketNumber" class="control-group">
                     @Bootstrap.LabelFor(Html, m => m.ProviderDocketNo)
                     <div class="controls">
                         @Bootstrap.TextBoxFor(Html, m => m.ProviderDocketNo)
                     </div>
                 </div>
             }
             else
             {
                 <div class="control-group">
                     @Bootstrap.LabelFor(Html, m => m.ProviderDocketNo)
                     <div class="controls">
                         @Bootstrap.TextBoxFor(Html, m => m.ProviderDocketNo)
                     </div>
                 </div>
             }
             <div class="control-group">
                 @Bootstrap.LabelFor(Html, m => m.Reference)
                 <div class="controls">
                     @Bootstrap.TextBoxFor(Html, m => m.Reference)
                 </div>
             </div>
             <div class="control-group">
                 @Bootstrap.LabelFor(Html, m => m.PartnerReference)
                 <div class="controls">
                     @Bootstrap.TextBoxFor(Html, m => m.PartnerReference)
                 </div>
             </div>
             <div class="control-group">
                 @Bootstrap.LabelFor(Html, m => m.ConNote)
                 <div class="controls">
                     @Bootstrap.TextBoxFor(Html, m => m.ConNote)
                 </div>
             </div>
            
             @{
             foreach (var equipment in Model.Equipment)
             {
                     <div class="control-group">
                         <label class="control-label">@Model.EquipmentNames[equipment.Key]</label>
                         <div class="controls">
                             <input data-val="true" data-val-number="The field must be a number." name="Equipment[@equipment.Key]" type="text" value="" onblur="equipmentOnBlur(this);"> 
                         </div>
                     </div>
             }
             }
         </fieldset>

         <div class="control-group">
             <div class="controls">
                 @Bootstrap.SaveButton("Save", "edit")
                 @Bootstrap.BackButton("Cancel", "back", Url.Action("Index", "Home"))
             </div>
         </div>
     </div>
    }
}

<script>
    $.validator.unobtrusive.parse($('form'));
    //  $("#MovementSection").toggle("fast");
    
    //$("#receivedViaTransporterChxbx").change(function () {
    //    $("#transporters-div").toggle("fast");
    //});
    
    //if ($("#MovementDirection").val() == "In")
    //    ValidateItem("ProviderDocketNo", true, "The docket number must be provided");
    
    @foreach (var v in Model.IdToValidate)
    {
        <text>
            ValidateItem("@v.Key", true, "@v.Value")
    </text>
    }
    
    var state = false;
    
    $("#overrideDocketNo").click(function () {
        state = !state;
        ValidateItem("ProviderDocketNo", state, "You have to provide a docket number!")
        $("#docketNumber").toggle("fast");
    });

</script>