﻿@model PalletPlus.Website.Areas.User.ViewModels.RecordMovement.RecordMovementViewModel
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        $('#TradingPartner').combobox();
    });
</script>

<div id="TradingPartnerSection">
    <div id="TradingPartnerDiv" class="control-group">
        @Bootstrap.LabelFor(Html, m => Model.TradingPartner)
        <div id="partner-div" class="controls">
            @Bootstrap.ComboboxFor(Html, m => Model.TradingPartner, Model.TradingSubjects)
        </div>
    </div>
</div>

<div id="PartnerNumberDiv"></div>

<script>
    $("#TradingPartner").change(function () {
        var id = $("#TradingPartner option:selected").val();
        if (id == "") {
          //  $("#PartnerNumberDiv").hide("fast");
            $("#PartnerNumberDiv").html("");
            return;
        }
        CallView("@Url.Action("GetCascadeAccountNumber", "RecordMovementBase", new { movementDirection = Model.MovementDirection, supplierId = Model.SupplierId, partnerId = UrlParameter.Optional })" + id, "PartnerNumberDiv");
@*        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCascadeAccountNumber", "RecordMovementBase", new { movementDirection = Model.MovementDirection, supplierId = Model.SupplierId, partnerId = UrlParameter.Optional })" + id
        }).done(function (msg) {
            $("#PartnerNumberDiv").html(msg);
            $("#PartnerNumberDiv").show("fast");
        });*@
    });
</script>