﻿@using Kendo.Mvc.UI
@model PalletPlus.Website.ViewModels.Dashboard.VizViewModel

<script>
    $(document).ready(function () {
        $("#@Model.Name").removeClass("k-widget k-chart");
    });
</script>

@{
    var maxIn = Model.Collection.Max(p => p.ValueIN);
    var maxOut = Model.Collection.Max(p => p.ValueOUT);

    int max = 0;

    if (maxIn > maxOut)
    {
        max = (int)maxIn;
    }
    else
    {
        max = (int) maxOut;
    }

    var majorUnit = (int)(0.1*maxOut);

    if (majorUnit <= 0)
    {
        majorUnit = 1;
    }

}
<div class="chart-wrapper">
    @(Html.Kendo().Chart(Model.Collection)
          .Name(Model.Name)
          .Title(x =>
                     {
                         x.Text(Model.Title);
                         x.Font("18px Myriad Pro");
                         x.Color("#9DBE51");
                     })
          .Legend(legend => legend
                                .Position(ChartLegendPosition.Bottom)
          )
          .Series(series => {
                                series.Line(model => model.ValueIN).Name("RECEIVED").Color("#764376");
                                series.Line(model => model.ValueOUT).Name("SENT").Color("#78A700");
          })
          .CategoryAxis(axis => axis
                                    .Categories(model => model.Week)
                                    .Title("Week")
          )
          .ValueAxis(axis => axis.Numeric()
                                 .Labels(labels => labels.Format("{0:N0}"))
                                 .MajorUnit(majorUnit)
          )
          .Tooltip(tooltip => tooltip
                                  .Visible(true)
                                  .Format("{0:N0}")
          )
          ) 
</div>