﻿@model Subscription.Website.Areas.Admin.ViewModels.Product.ProductEditViewModel

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @class = "form-horizontal", area = "Admin" }))
    {
        @Html.ValidationSummary(false, "", new { @class = "well well-small" })
        @Html.HiddenFor(x => x.ProductId)

        <div class="control-group">
            <div class="controls">
                @if (Model.IsActive)
                {
                    <span class="label label-success">Online</span>
                }
                else
                {
                    <span class="label label-warning">Discontinued</span>
                }
            </div>
        </div>
        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.IsActive)
            <div class="controls">
                @Bootstrap.CheckBoxFor(Html, p => p.IsActive, "is-active", "Make this product discontinued or online.")
            </div>
        </div>
        
        <div class="control-group">
            <div id="reason">
                @Bootstrap.LabelFor(Html, x => x.DiscontinueReason)
                <div class="controls">
                    @Bootstrap.TextAreaFor(Html, x => x.DiscontinueReason)
                </div>
            </div>
        </div>
        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.Name)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.Name)
            </div>
        </div>
        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.Code)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.Code)
            </div>
        </div>
        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.BasePrice)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.BasePrice)
            </div>
        </div>
        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.Description)
            <div class="controls">
                @Bootstrap.TextAreaFor(Html, x => x.Description)
            </div>
        </div>
    
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.AccessUrl)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.AccessUrl)
            </div>
        </div>
                                    
        <div class="control-group">
            <div class="btn-group">
                @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Product"))
                @Bootstrap.SaveButton("Save", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
    }