﻿@model Subscription.Website.Areas.Admin.ViewModels.Product.ProductEditViewModel

@(Html.Kendo().Grid(Model.Features)
      .Name("features-grid")
      .Columns(columns =>
                   {
                       columns.AutoGenerate(false);
                       columns.Bound(p => p.Name).Width(250);                       
                       columns.Bound(p => p.Price);
                       columns.Bound(p => p.IsActive);
                       //columns.Bound(p => p.IsLocked);
                       columns.Bound(p => p.Code);
                       columns.Template(
                           @<text>
                                <div class="btn-group">
                                    <a id="edit-offer" class="btn btn-small" rel="tooltip" title="Edit" href="@Url.Action("EditFeature", "Product", new {productId = Model.ProductId, featureCode = item.Code, area = "Admin"})">
                                        <i class="icon-edit"></i>
                                    </a>
                                    @if(!item.IsLocked)
                                    {
                                        <a id="remove-offer" class="btn btn-small" rel="tooltip" title="Remove" href="@Url.Action("DeleteFeature", "Product", new {productId = Model.ProductId, featureCode = item.Code, area = "Admin"})">
                                            <i class="icon-remove"></i>
                                        </a>
                                    }
                                </div>
                            </text>
                           );
                   })
      .ToolBar(tools => tools.Template(
          @<text>
               <a class="btn" href="@Url.Action("CreateFeature", "Product", new {productId = Model.ProductId, area = "Admin"})">
                   <i class="icon-plus-sign"></i> Add Feature
               </a>
           </text>))
)