﻿@model Subscription.Website.Areas.Admin.ViewModels.Product.ProductEditViewModel

@(Html.Kendo()
       .Grid(Model.Offers)
       .Name("offers-grid")
       .DataSource(
           data=> data.Server().Model(model => model.Id(x => x.Key)))
       .Columns(
           cols=>
               {
                   cols.AutoGenerate(false);
                   cols.Bound(x => x.Name);
                   cols.Bound(x => x.IsActive);
                   cols.Bound(x => x.Price).Title("Total Amount");
                   cols.Template(x => x.Features.Count(p => p.IsIncluded)).Title("Total Features");
                   cols.Template(
                       @<text>
                            <div class="btn-group">
                                <a id="edit-offer" class="btn btn-small" rel="tooltip" title="Edit" href="@Url.Action("EditOffer", "Product", new { productId = Model.ProductId, offerKey = item.Key, area = "Admin" })">
                                    <i class="icon-edit"></i>
                                </a>
                                @if(!item.IsLocked)
                                {
                                    <a id="remove-offer" class="btn btn-small" rel="tooltip" title="Remove" href="@Url.Action("RemoveOffer", "Product", new {productId = Model.ProductId, offerKey = item.Key, area = "Admin"})">
                                        <i class="icon-remove"></i>
                                    </a>
                                }
                            </div>
                        </text>
                       );
               })
       .ToolBar(tools=>tools.Template(@<text><a class="btn" href="@Url.Action("CreateOffer", "Product", new { productId = Model.ProductId, area = "Admin" })"> <i class="icon-plus-sign"></i> Add Offer</a></text>))
)