﻿@model Subscription.Website.Areas.Admin.ViewModels.Product.OfferViewModel

@{
    ViewBag.Title = "Create offer";
}

@section Tabs
{
    <li class="active"><a href="#tab1" data-toggle="tab">Add Offer for @Model.ProductName product</a></li>
}

<div class="tab-pane active" id="tab1">
    @using (Html.BeginForm("CreateOffer", "Product", FormMethod.Post, new { productId = Model.ProductId, @class = "form-horizontal", area = "Admin" }))
    {
        @Html.ValidationSummary(false, "", new { @class = "well well-small" })
                        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.Name)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.Name)
            </div>
        </div>
                                                            
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.SelectedFeatures)
            <div class="controls">
                @*@Html.ListBox("SelectedFeatures",new MultiSelectList(Model.Features, "Code", "Name", Model.SelectedFeatures), new { size = "8" })*@
                  <table class="table">
                    <thead>
                        <th>Include</th>
                        <th>Features</th>
                        <th>Limit</th>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.SelectedFeatures.Count; i++)
                        {
                            var SelectedFeatures = Model.SelectedFeatures[i];
                            <tr>
                                <td>
                                     @Html.CheckBox("SelectedFeatures[" + i + "].IsIncluded",SelectedFeatures.IsIncluded,new {@class="checkbox"})
                                </td>
                                <td>
                                   
                                    @SelectedFeatures.Name
                                </td>
                                <td>
                             
                                    @Html.TextBox("SelectedFeatures[" + i + "].Limit",SelectedFeatures.Limit,new { @class="span1"})
                                    @Html.Hidden("SelectedFeatures["+ i + "].Code",SelectedFeatures.Code)
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
                        
        <div class="control-group">
            <div class="controls">
                @Bootstrap.CheckBoxFor(Html, x => x.IsActive, "is-active", "Make this offer available.")
            </div>
        </div>

        <div class="control-group">
            <div class="btn-group">
                @Bootstrap.BackButton("Back", "back", Url.Action("Edit", "Product", new {Id = Model.ProductId}))
                @Bootstrap.SaveButton("Save", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
    }
</div>
