﻿@model Subscription.Website.Areas.Admin.ViewModels.Product.ProductViewModel

@{
    ViewBag.Title = "Products";
}

@section Tabs
{
    <li class="active"><a href="#tab1" data-toggle="tab">Add Product</a></li>
}

<div class="tab-pane active" id="tab1">
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "form-horizontal", area = "Admin" }))
    {
        @Html.ValidationSummary(false, "", new { @class = "well well-small" })
                        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.Name)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.Name)
            </div>
        </div>
                        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.Code)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.Code)
            </div>
        </div>
                        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.BasePrice)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.BasePrice)
            </div>
        </div>
                        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.Description)
            <div class="controls">
                @Bootstrap.TextAreaFor(Html, x => x.Description)
            </div>
        </div>
        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.AccessUrl)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.AccessUrl)
            </div>
        </div>
                        
        <div class="control-group">
            <div class="controls">
                @Bootstrap.CheckBoxFor(Html, x => x.IsActive, "is-active", "Make this product available.")
            </div>
        </div>

        <div class="control-group">
            <div class="btn-group">
                @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Product"))
                @Bootstrap.SaveButton("Save", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
    }
</div>

