﻿@model Subscription.Website.Areas.Admin.ViewModels.Product.FeatureViewModel

@{
    ViewBag.Title = "Create feature";
}

@section Tabs
{
    <li class="active"><a href="#tab1" data-toggle="tab">Add Feature for @Model.ProductName product</a></li>
}

<div class="tab-pane active" id="tab1">
    @using (Html.BeginForm("CreateFeature", "Product", FormMethod.Post, new { productId = Model.ProductId, @class = "form-horizontal", area = "Admin" }))
    {
        @Html.ValidationSummary(false, "", new { @class = "well well-small" })
        
                        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.Name)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.Name)
            </div>
        </div>
                                                 
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.Code)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.Code)
            </div>
        </div>
        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.Price)
            <div class="controls">
                @Bootstrap.TextBoxFor(Html, x => x.Price)
            </div>
        </div>
        
       
                        
        <div class="control-group">
            <div class="controls">
                @Bootstrap.CheckBoxFor(Html, x => x.IsActive, "is-active", "Make this feature active.")
            </div>
        </div>

        <div class="control-group">
            <div class="btn-group">
                @Bootstrap.BackButton("Back", "back", Url.Action("Edit", "Product", new {Id = Model.ProductId}))
                @Bootstrap.SaveButton("Save", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
    }
</div>

