﻿@model Subscription.Website.Areas.Admin.ViewModels.Product.RemoveFeatureViewModel

@{
    ViewBag.Title = "Remove feature";
}

@section Tabs
{
    <li class="active"><a href="#tab1" data-toggle="tab">Remove feature @Model.Name for @Model.ProductName product</a></li>
}

<div class="tab-pane active" id="tab1">
    @using (Html.BeginForm("DeleteFeature", "Product", FormMethod.Post, new { productId = Model.ProductId, @class = "form-horizontal", area = "Admin" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "well well-small" })
        @Html.HiddenFor(model => model.Code)                
        
        <h3>Are you sure to remove this feature?</h3>

        <div class="control-group">
            <div class="btn-group">
                @Bootstrap.BackButton("Back", "back", Url.Action("Edit", "Product", new {Id = Model.ProductId}))
                @Bootstrap.SaveButton("Remove", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
    }
</div>