﻿@model Subscription.Website.Areas.Admin.ViewModels.Product.ProductEditViewModel


@{
    ViewBag.Title = "Edit Product " + Model.Name;
}

@section Tabs
{
    <li id="detailsTab"><a href="#details" data-toggle="tab">Details</a></li>
    <li id="imageTab"><a href="#image" data-toggle="tab">Logo</a></li>
    <li id="featuresTab"><a href="#features" data-toggle="tab">Features</a></li>
    <li id="offersTab"><a href="#offers" data-toggle="tab">Offers</a></li>
}

<div class="tab-pane" id="details">
    @Html.Partial("_DetailsPartial")
</div>

<div class="tab-pane" id="image">
    @Html.Partial("_Image", Model.ImageVM)
</div>

<div class="tab-pane" id="features">
    <div id="alertFeature"></div>

    @Html.Partial("_FeaturesPartial")
</div>

<div class="tab-pane" id="offers">
    <div id="alertOffer"></div>
    
    @Html.Partial("_OffersPartial")
</div>


@section Scripts
{
        <script>

            function strToBool(str) {
                return str == "True";
            }

            var checked = strToBool("@Model.IsActive");
        //$(document).ready(function () {

        //    $('#IsActive').attr('checked', 'checked').change(function () {

        //        // If checked
        //        if ($("#IsActive").is(":checked")) {
        //            //show the hidden div
        //            $("#reason").show("fast");
        //        }
        //        else {
        //            //otherwise, hide it
        //            $("#reason").hide("fast");
        //        }
        //    });

        //});

        //$('#IsActive').click(function () {
        //    $("#reason").toggle(this.checked);
        //});

        $(document).ready(function () {
            $("#reason").toggle(!checked);

            $('#is-active').click(function () {
                checked = !checked;
                $("#reason").toggle(!checked);
            });

            //$('#is-active').click(function () {
            //    if ($(this).is(':checked')) {
            //        $("#reason").show();
            //    } else {
            //        $("#reason").hide();
            //    }
            //});
        });

        //function editFeature(e) {

        //    if (!e.model.isNew()) {
        //        $('#Code').attr('readonly', 'readonly');
        //    }
        //    //$("#features tbody tr td #Code").each(function () {

        //    //    var val = $(this).val();
        //    //    var content = "<text>";
        //    //    content += val;
        //    //    content += "</text>";
        //    //    $(this).replaceWith(content);
        //    //    //$(this).append("<text data-bind='value:Code' />");

        //    //});
        //}

        //function errorFeature(e) {
        //    if (e.errors) {

        //        var message = "<div class='alert fade in alert-error'><button type='button' class='close' data-dismiss='alert'>×</button>";
        //        $.each(e.errors, function (key, value) {
        //            if ('errors' in value) {
        //                $.each(value.errors, function () {
        //                    message += this + "\n";
        //                });
        //            }
        //        });
        //        message += "</div>";
        //        $("#alertFeature").append(message);
        //        this.cancelChanges();
        //    }


        //}

        //function editPermission(e) {
        //    if (!e.model.isNew()) {
        //        $('#Code').attr('readonly', 'readonly');
        //    }
        //    //$("#permissions tbody tr td #Code").each(function () {

        //    //    var val = $(this).val();
        //    //    var content = "<text>";
        //    //    content += val;
        //    //    content += "</text>";
        //    //    $(this).replaceWith(content);
        //    //    //$(this).append("<text data-bind='value:Code' />");

        //    //});
        //}

        //function errorPermission(e) {
        //    if (e.errors) {

        //        var message = "<div class='alert fade in alert-error'><button type='button' class='close' data-dismiss='alert'>×</button>";
        //        $.each(e.errors, function (key, value) {
        //            if ('errors' in value) {
        //                $.each(value.errors, function () {
        //                    message += this + "\n";
        //                });
        //            }
        //        });
        //        message += "</div>";
        //        $("#alertPermission").append(message);
        //        this.cancelChanges();
        //    }


        //}

        var totalFiles = 0;

        function onselect(e) {
            var selectedFiles = e.files.length;
            if (totalFiles + selectedFiles > 1) {
                alert("You can upload only one file!");
                e.preventDefault();
            } else {


                $.each(e.files, function (index, value) {
                    if (value.extension != ".jpg" && value.extension != ".png") {
                        e.preventDefault();
                        alert("You can upload only jpg and png file!");
                    } else if (value.size > 1024000) {
                        e.preventDefault();
                        alert("You can not upload file that isn't bigger than 1MB!");
                    } else {
                        totalFiles++;
                    }
                });
            }
        }

        ;

        function onremove(e) {
            totalFiles--;
        }

    </script>
}