﻿@model Subscription.Website.Areas.Admin.ViewModels.Product.ProductsViewModel

@{
    ViewBag.Title = "Products";
}

@section Tabs
{
    <li class="active">
        <a href="#tab1" data-toggle="tab">Products</a>
    </li>
}

@(Html.Kendo()
   .Grid(Model.Products)
   .Name("products-grid")
   .DataSource(
       data=> data.Server().Model(model => model.Id(x => x.ProductId)))
   .Columns(
       cols=>
           {
               cols.AutoGenerate(false);
               cols.Bound(x => x.Name);
               cols.Bound(x => x.IsActive);
               cols.Bound(x => x.FeaturesCount).Title("Total Features");
               cols.Bound(x => x.OffersCount).Title("Total Offers");
               cols.Template(
                   @<text>
                        <div class="btn-group">
                            <a id="edit-product" class="btn btn-small" rel="tooltip" title="Edit" href="@Url.Action("Edit", "Product", new {id = item.ProductId, area = "Admin"})">
                                <i class="icon-edit"></i>
                            </a>
                        </div>
                    </text>
                   );
           })
   .ToolBar(tools=>tools.Template(@<text><a class="btn" href="@Url.Action("Create","Product")"> <i class="icon-plus-sign"></i> Add Product</a></text>))
)
