﻿@model Subscription.Website.Areas.Admin.ViewModels.Product.RemoveOfferViewModel

@{
    ViewBag.Title = "Remove offer";
}

@section Tabs
{
    <li class="active"><a href="#tab1" data-toggle="tab">Remove offer @Model.Name for @Model.ProductName product</a></li>
}

<div class="tab-pane active" id="tab1">
    @using (Html.BeginForm("RemoveOffer", "Product", FormMethod.Post, new { productId = Model.ProductId, offerKey = Model.OfferKey, @class = "form-horizontal", area = "Admin" }))
    {
        @Html.ValidationSummary(false, "", new { @class = "well well-small" })
                        
        <h3>Are you sure to remove this offer?</h3>

        <div class="control-group">
            <div class="btn-group">
                @Bootstrap.BackButton("Back", "back", Url.Action("Edit", "Product", new {Id = Model.ProductId}))
                @Bootstrap.SaveButton("Remove", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
    }
</div>