﻿@{
    ViewBag.Title = "Email Sent";
}

<h2>Email Sent!</h2>
<p>An email with a link to reset your password was sent to your inbox.</p>
@* Start test code *@
<p><a href="@ViewBag.ResetPasswordUrl">@ViewBag.ResetPasswordUrl</a></p>
@* End test code *@