﻿@model ForgotPasswordPageViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Your Password?</h2>

@Html.ValidationSummary()

@{ Html.BeginForm("ForgotPassword", "UserPassword", null, FormMethod.Post, null); }

<p>
    Please enter your email and we will send you a link to reset your password.
</p>
<div class="field-container">
    <label for="email-input">Email:</label>
    @Html.TextBoxFor(vm => vm.Email, new { id = "email-input", @class = "text-input" })
</div>
<div class="buttons-container">
    <input type="submit" value="Reset Password" />
</div>

@{ Html.EndForm(); }