﻿@{
    ViewBag.Title = "Password Changed";
}

<h2>Password Changed!</h2>
<p>
    Your password was changed successfully. You can now @Html.ActionLink("login", "Login", "Authentication") using your new password.
</p>