﻿@model ResetPasswordPageViewModel

@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@Html.ValidationSummary()

@{ Html.BeginForm("ResetPassword", "UserPassword", new { token = Request.QueryString["token"] }, FormMethod.Post, new { id = "reset-password-form" }); }

<div class="field-container">
    <label for="new-password-input">New password:</label>
    @Html.PasswordFor(vm => vm.NewPassword, new { id = "new-password-input", @class = "text-input" })
</div>
<div class="field-container">
    <label for="repeat-password-input">Repeat password:</label>
    @Html.PasswordFor(vm => vm.RepeatPassword, new { id = "repeat-password-input", @class = "text-input" })
</div>
<div class="buttons-container">
    <input type="submit" value="Save New Password" />
</div>

@{ Html.EndForm(); }


@section Styles
{
    <style type="text/css">
        #reset-password-form label
        {
            width: 122px;
        }
    </style>
}