/*
* Kendo UI Complete v2012.2.831 (http://kendoui.com)
* Copyright 2012 Telerik AD. All rights reserved.
*
* Kendo UI Complete commercial licenses may be obtained at
* https://www.kendoui.com/purchase/license-agreement/kendo-ui-complete-commercial.aspx
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
/* Kendo skin */
/* main colors */
.k-block,
.k-widget {
  background-color: #ffffff;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-editable-area,
.k-separator,
.k-colorpicker .k-i-arrow-s,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header-wrap,
.k-grid-header,
.k-grid td,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-dropdown-wrap,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-upload-files,
.k-tiles,
.k-toolbar,
.k-dropdown-wrap,
.k-tooltip,
.k-progress {
  border-color: #dadada;
}
.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-grouping-row td,
td.k-group-cell,
.k-calendar th,
.k-dropzone-hovered,
.k-upload-files {
  background-color: #ffffff;
}
.k-list-container {
  border-color: #dadada;
  background-color: #ffffff;
}
.k-content,
.k-editable-area,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: #ffffff;
}
.k-alt,
.k-separator {
  background-color: #f5f5f5;
}
.k-widget .k-dropdown-wrap,
.k-widget .k-picker-wrap,
.k-widget .k-numeric-wrap,
.k-textbox,
.k-autocomplete.k-header,
.k-autocomplete.k-state-focused,
div.k-dropdown-wrap.k-state-active,
.k-dropdown-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused:hover,
div.k-picker-wrap.k-state-active,
.k-picker-wrap.k-state-focused,
.k-picker-wrap.k-state-focused:hover,
span.k-numeric-wrap.k-state-active,
.k-numeric-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused:hover {
  border-color: #dadada;
  background-color: #ffffff;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #dadada;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background-color: #ffffff;
  color: #777777;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-dropdown .k-input {
  color: #777777;
}
.k-link:link,
.k-link:visited {
  color: #777777;
}
.k-header {
  color: #777777;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-grouping-header,
.k-tooltip,
.k-pager-wrap,
.k-button,
.k-draghandle,
.k-tile,
.k-textbox,
.k-autocomplete,
.k-state-hover,
.k-state-selected,
.k-state-focused,
.k-state-highlight,
.k-tabstrip-items .k-item {
  background-image: none;
}
.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-tooltip,
.k-pager-wrap,
.k-button,
.k-draghandle {
  background-color: #ffffff;
}
/* icons */
.k-icon,
.k-column-menu .k-sprite {
  opacity: .8;
}
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite {
  opacity: 1;
}
.k-icon,
.k-tool-icon,
.k-grouping-dropclue,
.k-drop-hint,
.k-callout,
.k-progress,
.k-progress-status,
.k-column-menu .k-sprite {
  background-image: url('Metro/sprite.png');
}
.k-loading {
  background-image: url('Metro/loading.gif');
}
.k-loading-image {
  background-image: url('Metro/loading-image.gif');
}
.k-loading-color {
  background-color: #ffffff;
}
.k-button {
  color: #777777;
}
.k-button,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:hover,
.k-draghandle {
  border-color: #dadada;
  background-color: #ffffff;
}
.k-button:hover,
.k-draghandle:hover {
  border-color: #e6e6e6;
  background-color: #e6e6e6;
}
/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter {
  background-color: #ffffff;
  border-color: #8ebc00;
  color: #000000;
}
.k-state-highlight {
  background-color: #ffffff;
  color: #000000;
}
.k-state-focused {
  color: #000000;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.k-state-selected,
.k-list > .k-state-selected,
.k-list > .k-state-focused,
.k-list > .k-state-highlight,
.k-panelbar > .k-state-selected,
.k-panel > .k-state-selected,
.k-button:active,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover {
  color: #ffffff;
  background-color: #8ebc00;
  border-color: #8ebc00;
}
.k-state-selected.k-state-focused,
.k-state-selected.k-state-highlight {
  background-color: #6f9300;
}
.k-state-selected > .k-link {
  color: #ffffff;
}
.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-marquee,
.k-pager-wrap .k-link:hover {
  color: #000000;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link {
  color: #000000;
}
.k-textbox:hover,
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: #e6e6e6;
  border-color: #dadada;
}
.k-calendar .k-state-selected.k-state-focused > .k-link {
  background-color: transparent;
}
.k-dropdown .k-state-hover .k-input {
  color: #000000;
}
.k-dropdown .k-state-focused .k-input {
  color: #777777;
}
.k-state-error {
  border-color: #e20000;
  background-color: #ffffff;
  color: #e20000;
}
.k-state-disabled {
  filter: alpha(opacity=70);
  opacity: .7;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button,
.k-other-month .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: #dadada;
}
/* Slider */
.k-slider-track {
  background-color: #ffffff;
}
.k-slider-selection {
  background-color: #8ebc00;
}
.k-slider-horizontal .k-tick {
  background-image: url('Metro/slider-h.gif');
}
.k-slider-vertical .k-tick {
  background-image: url('Metro/slider-v.gif');
}
/* Tooltip */
.k-tooltip {
  border-color: #8ebc00;
  background-color: #8ebc00;
  color: #ffffff;
}
.k-tooltip-validation {
  border-color: #ffe68e;
  background-color: #ffe68e;
  color: #000000;
}
/* Splitter */
.k-splitbar {
  background-color: #dadada;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: #e20000;
}
/* Upload */
.k-progress-status {
  border-color: #e6e6e6 transparent;
}
/* ImageBrowser */
.k-tile {
  border-color: #ffffff;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: #e6e6e6;
}
.k-tiles li.k-state-selected {
  border-color: #8ebc00;
}
.k-tile .k-folder {
  background-image: url('Metro/imagebrowser.png');
}
/* Shadows */
.k-popup,
.k-menu .k-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-imagebrowser .k-image {
  box-shadow: 0 2px 2px 0 transparent;
  -webkit-box-shadow: 0 2px 2px 0 transparent;
}
.k-window {
  border-color: #dadada;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-combobox .k-input,
.k-picker-wrap .k-input {
  box-shadow: inset 0 0 1px 1px transparent;
  -webkit-box-shadow: inset 0 0 1px 1px transparent;
}
.k-shadow {
  box-shadow: 0 1px 2px 0 transparent;
  -webkit-box-shadow: 0 1px 2px 0 transparent;
}
.k-inset {
  box-shadow: inset 0 1px 1px transparent;
  -webkit-box-shadow: inset 0 1px 1px transparent;
}
/* Border radius */
.k-block,
.k-button,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-state-hover,
.k-treeview .k-state-selected,
.k-editor-button .k-state-hover,
.k-editor-button .k-state-active,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-animation-container .k-calendar-container,
.k-list-container.k-state-border-right {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-numeric-wrap .k-link,
.k-colorpicker .k-selected-color,
.k-progress,
.k-progress-status {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-dropzone,
.k-upload-files {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
.k-draghandle {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
