﻿@{
    string loginPartial = ViewBag.LoginPartial ?? "_LoginPartial";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Pallet Plus - @ViewBag.Title </title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/Kendo/css")
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("Styles", false)
        
        <style type="text/css">
            body {
                padding-bottom: 20px;
            }
            .content {
                padding-top: 100px;
            }
            .sidebar-nav {
                padding: 5px 0;
            }
        </style>
        @RenderSection("Scripts", false)
</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container" style="padding-top: 5px;padding-bottom: 5px;">
                    <a href="/">
                        <img class="pull-left" id="ntrackLogo" src="/Content/UI/ntrack-pp-logo.png">
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div style="padding-top: 6px;">
                            @Html.Partial(loginPartial)
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="content container">
            @RenderBody()
            <hr/>@Html.Partial("_FooterPartial")
        </div>
        @*<div class="container footer"></div>*@
    </body>
</html>
