﻿@using PalletPlus.Website.Helpers
@model PalletPlus.Website.ViewModels.PageViewModel
@if(User.Identity.IsAuthenticated)
{
    var userIdent = User.Identity as CustomIdentity;
    var userFullname = userIdent != null ? userIdent.UserFullName : string.Empty;

    if (userIdent != null)
    {

        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="profile-user"></i> @userFullname
                <span class="profile-caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("Logout", "Authentication", new { area=""})">Sign Out</a></li>
            </ul>
        </div>
        
    }
}
