﻿@model PageViewModel

@using (Html.BeginForm("Login", "Authentication", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "form-horizontal", autocomplete="off" }))
{
    <div class="field-container">
        <label id="email-label" for="email-input">Email:</label>
        @Html.TextBoxFor(vm => vm.Login, new {id = "email-input", @class = "text-input"})
    </div>
    <div class="field-container">
        <label id="password-label" for="password-input">Password:</label>
        @Html.PasswordFor(vm => vm.Password, new {id = "password-input", @class = "text-input"})
    </div>
    <div class="field-container" style="padding-top: 5px;">
        <label for="remember-me-input" class="checkbox">
        @Html.CheckBoxFor(vm => vm.RememberMe, new {id = "remember-me-input", @class="checkbox"}) Remember me</label>
    </div>
    <div class="buttons-container">
        <input type="submit" value="Login" />
    </div>
}