﻿@model Subscription.Website.ViewModels.User.UserLockingVM

@{
    if (Model.Locking)
    {
        ViewBag.Title = "Locking " + Model.FullName;
    }
    else
    {
        ViewBag.Title = "Unlocking " + Model.FullName;
    }
}

@section Tabs
{
    <li class="active">
        <a href="#tab1" data-toggle="tab">
            @if (Model.Locking)
            {
                <text>Locking @Model.FullName</text>
            }
            else
            {
                <text>Unlocking @Model.FullName</text>
            }
        </a>
    </li>
}

<div class="tab-pane active" id="tab1">

    
    @using (Html.BeginForm(Model.Locking ? "Lock" : "Unlock", "User", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(false,null,(new {@class="well well-small"}))
        @Html.HiddenFor(x=>x.UserKey)
        @Html.HiddenFor(x=>x.FullName)
        @Html.HiddenFor(x=>x.Locking)
        @Html.HiddenFor(x => x.AccountId)
        @Html.HiddenFor(p => p.ReturnUrl)

        <div class="control-group">
            @Bootstrap.LabelFor(Html, x => x.Reason)
            <div class="controls">
                @Bootstrap.TextAreaFor(Html,x=>x.Reason)
            </div>
        </div>
       
        <div class="control-group">
            <div class="controls">
                @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
                @Bootstrap.SaveButton(Model.Locking ? "Lock" : "Unlock", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
    }
</div>

    
