﻿@model Subscription.Website.ViewModels.User.UserResetPasswordVM

@{
    ViewBag.Title = "Reseting "+Model.UserFullName+" Password";
}

@section Tabs
{
                    <li class="active"><a href="#tab1" data-toggle="tab">Reseting @Model.UserFullName Password</a></li>
}
                <div class="tab-pane active" id="tab1">
                    
                    @using (Html.BeginForm("ResetPasswordPost", "User",  FormMethod.Post, new {@class = "form-horizontal"}))
                    {
                                                 @Html.ValidationSummary(false,null,(new {@class="well well-small"}))
                        @Html.HiddenFor(p => p.UserKey)
                        @Html.HiddenFor(x => x.AccountId)
                        @Html.HiddenFor(p => p.UserFullName)
                        @Html.HiddenFor(p => p.ReturnUrl)

                            
                        <div class="control-group">
                            <div class="controls">
                                <h5>Are you sure to reset password for this user?</h5>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                @Bootstrap.BackButton("No", "back", Model.ReturnUrl)
                                @Bootstrap.SaveButton("Yes", "edit")
                            </div>
                        </div>
                    }
                </div>
