<!DOCTYPE html>
<html>
<head>
    <title>nTrack - @ViewBag.Title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/content/public/stylesheets/css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)

    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/scripts/public/js")"></script>
    @RenderSection("Scripts", false)
</head>
<body>
    <div id="header">
        <div class="page-column">
            <a class="logo" href="#"></a>

            @Html.ActionLink("Account Admin Panel", "Index", "Home", new { area = "AccountAdminPanel" }, new { id = "admin-panel-link" })

            <ul id="main-menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Register", "Register", "Registration")</li>
            </ul>
        </div>
    </div>

    <div id="body" class="page-column">
        @RenderBody()
    </div>
</body>
</html>