﻿<script>
    $(document).ready(function () {
        resetNav();
        $("#Dashboard").addClass("active");
    });
</script>

<div class="span9">
    <div class="hero-unit">
      <h1>@(ViewBag.ContextSite)</h1>
        <p>Manage and track all equipment movement in and out of this site.</p>
        <div style="padding: 5px;"></div>
      <p><a class="btn btn-primary btn-primary" href="@Url.Action("Index","RecordOutMovement")">Out Movement</a> <a class="btn btn-primary btn-primary" href="@Url.Action("Index","RecordInMovement")">In Movement</a> <a class="btn btn-primary btn-primary" href="@Url.Action("Index","Movements")">Recent Movements</a></p>
    </div>
    
</div><!--/span-->



