﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        resetNav();
        $("#ImportPartners").addClass("active");
    });
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Import Partners</legend>
            
            @using (Html.BeginForm("ImportPartners", "ImportPartners", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                @Html.ValidationSummary()
                
                <div class="control-group">
                    <label class="control-label">Select file location:</label>
                    <div class="controls">
                        @(Html.Kendo().Upload().Events(p =>
                                                {
                                                    p.Select("onselect");
                                                })
                              .Name("files"))
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        @Bootstrap.SaveButton("Submit", "edit")
                        @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Home"))
                    </div>
                </div>
            }
        </fieldset>
    </div>
</div>

<script>
    
    function onselect(e) {
        $.each(e.files, function(index, value) {
            if (value.extension != ".csv") {
                e.preventDefault();
                alert("You can select only csv files!");
            } else if (value.size > 102400000) {
                e.preventDefault();
                alert("You can not upload file that isn't bigger than 100MB!");
            }
        });

    };
</script>
