﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Company.CompanyViewModel

<script>
    $(document).ready(function () {
        $("#add-equipment-modal").hide();
        $.validator.unobtrusive.parse($('form'));
    });
</script>

<a id="add-equipment-button" data-toggle="modal" data-target="#add-equipment-modal" class="btn"><i class="icon-plus-sign"></i>Add Equipment Color</a>

@using (Html.BeginForm("AddEquipmentColor", "Company", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.CompanyId)
    
    <div class="modal" id="add-equipment-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="add-supplier-label">Add Equipment Color</h3>
        </div>
    <div class="modal-body">
        @Html.ValidationSummary()
        @Html.HiddenFor(x => x.CompanyId)

        <div class="control-group">
            @Bootstrap.LabelFor(Html, m => Model.EquipmentItemColor.EquipmentCode)
            <div class="controls">
                @(Html.Kendo().ComboBoxFor(m => Model.EquipmentItemColor.EquipmentCode)
                      .Name("EquipmentItemColor.EquipmentCode")
                      .DataTextField("Name")
                      .DataValueField("Code")
                      .BindTo(Model.ComboboxEquipments)
                      .Value("")
                      .Events(evt=> evt.Select("EquipmentItemColoronSelect"))
                      )
            </div>
            @Html.HiddenFor(x=>x.EquipmentItemColor.EquipmentName)
            <div class="controls">
                @Html.ValidationMessageFor(x => x.EquipmentItemColor.EquipmentCode)
            </div>
        </div>
        <div class="control-group">
            
            <div class="controls">
                <div class="colorpicker_div" id="colorSelector" style="background-color: #000;">
                   
                </div>
                @Html.HiddenFor(x=>x.EquipmentItemColor.R)
                @Html.HiddenFor(x=>x.EquipmentItemColor.G)
                @Html.HiddenFor(x=>x.EquipmentItemColor.B)

                <script>
                    
                    $(document).ready(function () {
                        $('#colorSelector').ColorPicker({
                            color: '#0000ff',
                            onShow: function (colpkr) {
                                $(colpkr).fadeIn(500);
                                return false;
                            },
                            onHide: function (colpkr) {
                                $(colpkr).fadeOut(500);
                                return false;
                            },
                            onChange: function (hsb, hex, rgb) {
                                $('#colorSelector').css('backgroundColor', '#' + hex);
                                $('#EquipmentItemColor_R').val(rgb.r);
                                $('#EquipmentItemColor_G').val(rgb.g);
                                $('#EquipmentItemColor_B').val(rgb.b);
                            }
                        });
                    });

                </script>
                <style >
                            .colorpicker
{
   z-index: 9999; 
}
                </style>
            </div>
            </div>
            @*<div class="control-group">
            @Bootstrap.LabelFor(Html,m=>Model.EquipmentItemColor.Key)
            <div class="controls">
            
              
            </div>
        </div>   *@

            
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                <button id="add-equipment-submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        </div>
}

<script> 
    $("#add-equipment-submit").click(function () {
        $(this).addClass('loading');
    });
    
    $('.txtupper').keyup(function () {
        this.value = this.value.toUpperCase();
    });
    
    function EquipmentItemColoronSelect(e) {
        var dataItem = this.dataItem(e.item.index());
        $('#EquipmentItemColor_EquipmentName').val(dataItem.Name);
    }
</script>


