﻿@using System.Drawing
@using nTrack.Extension
@model PalletPlus.Website.Areas.Admin.ViewModels.Company.CompanyViewModel

@{
    int i = 0;
    var equipment = Model.SettingsVM.EquipmentItemsColors.Any();
}

<link rel="stylesheet" media="screen" type="text/css" href="~/Content/ColorPicker/css/colorpicker.css" />
<script type="text/javascript" src="~/Scripts/colorpicker.js"></script>

<div class="alert alert-success" id="colorAlert">Color changed!</div>

@if (equipment)
{
    <legend>Equipments Color</legend>
    <table class="table">
        <thead>
            <tr>
                <td>Code</td>
                <td>Equipment Name</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
             @foreach (var item in Model.SettingsVM.EquipmentItemsColors)
    {
        var color = Color.FromArgb(item.Value.R, item.Value.G, item.Value.B).ToHexConverter();
        
        <tr>
            <td><span>@item.Value.EquipmentCode</span></td>
            <td><span>@item.Value.EquipmentName</span></td>
            <td>
                <div class="colorpicker_div" id="colorSelector_@i" style="background: @color"></div>
                <script>
                    $(document).ready(function() {
                        $('#colorSelector_@i').ColorPicker({
                            onSubmit: function(hsb, hex, rgb, el) {
                                var r = rgb.r;
                                var g = rgb.g;
                                var b = rgb.b;
                                var rgb = "rgb(" + r + "," + g + "," + b + ")";
                                $.ajax({
                                    type: "POST",
                                    url: "/Admin/Company/SetColor/@item.Key/" + r + "/" + g + "/" + b
                                }).done(function(msg) {
                                    $('#colorSelector_@i').css("background-color", rgb);
                                    $('#colorAlert').show().animate({ opacity: 1.0 }, 2000).fadeOut(1000);
                                });
                            }
                        });
                    });
            
                </script>
                @{
                    i++;
                }
            </td>
        </tr>
       
    }
        </tbody>
    </table>
    
   
}

<script>
    $(document).ready(function () {
        $('#colorAlert').hide();
    });
</script>

@*<legend>Main Colors</legend>
    foreach (var item in Model.SettingsVM.EquipmentItemsColors)
    {
        var color = Color.FromArgb(item.Value.R, item.Value.G, item.Value.B).ToHexConverter();

        <div class="colorpicker_div" id="colorSelector_@i" style="background: @color"></div>
        <script>
            $(document).ready(function() {
                $('#colorSelector_@i').ColorPicker({
                    onSubmit: function(hsb, hex, rgb, el) {
                        var r = rgb.r;
                        var g = rgb.g;
                        var b = rgb.b;
                        var rgb = "rgb(" + r + "," + g + "," + b + ")";
                        $.ajax({
                            type: "POST",
                            url: "/Admin/Company/SetColor/@item.Key/" + r + "/" + g + "/" + b
                        }).done(function(msg) {
                            $('#colorSelector_@i').css("background-color", rgb);
                        });
                    }
                });
            });
        </script>

        i++;
        if (i == 2)
        {
            <div style="clear: both;"></div>
            <br/>
            <legend>Secondary Colors</legend>
        }
    }*@
<style scoped>
    input {
        width: 30px;
    }
    .input-cls {
        width: 320px;
    }
    .colorpicker_div {
        width: 60px;
        height: 60px;
        border: 2px;
        border-color: gray;
        margin-right: 20px;
        float: left;
    }
    input[type="text"] {
        background-image: none;
    }
</style>