﻿@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Company.CompanyViewModel


<div class="control-group">
    @Bootstrap.LabelFor(Html, m => m.ExportMovementIn)
    <div class="controls">
        @Bootstrap.CheckBoxFor(Html, m => m.ExportMovementIn, "exportMovementIn", "")
    </div>
</div>

 <div class="control-group">
        @Bootstrap.LabelFor(Html, m => m.ExportMovementOut)
        <div class="controls">
            @Bootstrap.CheckBoxFor(Html, m => m.ExportMovementOut, "exportMovementIn", "")
        </div>
    </div>