﻿@using nTrack.Web.Bootstrap
@model List<PalletPlus.Website.Areas.Admin.ViewModels.Company.RequirementViewModel>

@for (int i = 0; i < Model.Count; i++)
{
    @Html.HiddenFor(p => Model[i].Key)
    <div class="control-group">
        @*        <label class="control-label" for="">@Model[i].Name</label>*@
        <div>
            @Bootstrap.CheckBoxFor(Html, m => Model[i].Checked, @Model[i].Key, @Model[i].Name + " Required")
        </div>
    </div>
    
    <style scoped>
        .checkbox {
            width: auto;
        }
    </style>
}