﻿@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.Admin.ViewModels.Company
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Company.CompanyViewModel

@{
    int i;
    var tab = TempData["tab-value"] ?? "details";
    var users = Model.UsersVM.Any();
    var suppliers = Model.SuppliersVM.Any();
    var correctionReasons = Model.SettingsVM.CorrectionReasonsVM.Any();
    var cancellationReasons = Model.SettingsVM.CancellationReasonsVM.Any();
    ViewBag.Title = "Company Details";
}

<script>
    $(document).ready(function () {
        resetNav();
        $('#myTab a[href=#@tab]').tab('show');
        $("#Company").addClass("active");
    });
</script>
<link rel="stylesheet" media="screen" type="text/css" href="~/Content/ColorPicker/css/colorpicker.css" />
<script type="text/javascript" src="~/Scripts/colorpicker.js"></script>
<div class="span9">
    <div class="row">
        <fieldset>
            <legend>@Model.CompanyName</legend>
        </fieldset>
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#users" data-toggle="tab">Users</a></li>
                <li><a href="#suppliers" data-toggle="tab">Suppliers</a></li>
                <li><a href="#requirements" data-toggle="tab">Requirements</a></li>
                <li><a href="#correction-reasons" data-toggle="tab">Correction Reasons</a></li>
                <li><a href="#cancellation-reasons" data-toggle="tab">Cancellation Reasons</a></li>
                <li><a href="#colors" data-toggle="tab">Dashboard Colors</a></li>
                <li><a href="#exportSettings" data-toggle="tab">Export Settings</a></li>
            </ul>
            <div class="tab-content">
                @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                <div id='deleteModal' class='modal hide fade in'>
                   <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="add-supplier-label">Confirm Delete</h3>
                    </div>
                    <div class="modal-body">
                    </div>

                </div>
                <div class="tab-pane active" id="users">
                    @if (users)
                    {
                        <table class="table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User Name</th>
                                    <th>Phone</th>
                                    <th>Role</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    i = 0;
                                    foreach (var item in Model.UsersVM)
                                    {
                                        i++;
                                        var deleted = item.IsDeleted ? "disabled" : string.Empty;
                                        <tr>
                                            <td>@(i)</td>
                                            <td>
                                                @item.FullName
                                                @if (!string.IsNullOrWhiteSpace(deleted))
                                                {
                                                    <span class="label label-important">Deleted</span>
                                                }
                                            </td>
                                            <td>@item.Phone</td>
                                            <td>@item.Role</td>
                                            <td><a href="mailto:@item.Email">@item.Email</a></td>
                                            <td>
                                               
                                                <div class="btn-group">
                                                    <a id="edit-user" class="btn btn-small @(deleted)" rel="tooltip" title="Edit" href="@Url.Action("EditUser", "Company", new { key = item.UserKey })">
                                                        <i class="icon-edit"></i>
                                                    </a>
                                                    @if (!item.IsLocked)
                                                    {
                                                        <a id="lock-user" class="btn btn-small @(deleted)" rel="tooltip" title="Lock" href="@Url.Action("LockUser", "Company", new { key = item.UserKey })">
                                                            <i class="icon-lock"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a id="unlock-user" class="btn btn-small @(deleted)" rel="tooltip" title="Unlock" href="@Url.Action("UnlockUser", "Company", new { key = item.UserKey })">
                                                            <i class="icon-unlock"></i>
                                                        </a>
                                                    }
                                                    @*                                                    <a id="reset-password" class="btn btn-small" rel="tooltip" title="Rest Password" href="@Url.Action("ResetPassword", "Company", new { key = item.UserKey})">
                                                        <i class="icon-wrench"></i>
                                                    </a>*@
                                                    @if (!item.IsDeleted)
                                                    {
                                                        
                                                        <a id="delete-user" class="btn btn-small @(deleted)" data-toggle="modal"  rel="tooltip" data-target="#deleteModal" title="Delete User" href="@Url.Action("RemoveUser", "Company", new { key = item.UserKey })">
                                                            <i class="icon-remove"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a id="undelete-user" class="btn btn-small" rel="tooltip" title="Undelete" href="@Url.Action("RetrieveUser", "Company", new { key = item.UserKey })">
                                                            <i class="icon-repeat"></i>
                                                        </a>
                                                        <style scoped>
                                                            .icon-repeat {
                                                                width: 20px;
                                                                height: 20px;
                                                                background-position: -215px -21px;
                                                            }
                                                        </style>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="tab-pane" id="suppliers">
                    @Html.Partial("_AddSupplierPartial")

                    @if (suppliers)
                    {
                        <table class="table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Supplier Account Number</th>
                                    <th>Supplier Name</th>
                                    <th>Prefix</th>
                                    <th>Suffix</th>
                                    <th>Sequence Start Number</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                        i = 0;
                        foreach (var item in Model.SuppliersVM)
                        {
                            if (item.IsDeleted) { continue; }
                            i++;
                                        @Html.Partial("_EditSupplierPartial", new CompanySupplierEditViewModel(item, Model.CompanyId, i))
                                        <tr>
                                            <td>@(i)</td>
                                            <td>@item.AccountNumber</td>
                                            <td>@Model.SupplierNames[item.SupplierId]</td>
                                            <td>@item.Prefix</td>
                                            <td>@item.Suffix</td>
                                            <td>@item.SequenceStartNumber</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-small" rel="tooltip" title="Edit supplier"
                                                       data-toggle="modal" data-target="#edit-supplier-modal-@i" href="#"><i class="icon-edit"></i>
                                                    </a>
                                                    <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                       href="@Url.Action("DeleteSupplier", "Company", new { supplierId = item.SupplierId })">
                                                        <i class="icon-remove"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                        }
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="tab-pane" id="requirements">
                    @using (Html.BeginForm("EditRequirements", "Company", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.Partial("_RequirmentsPartial", Model.Requirements)

                        @Bootstrap.SaveButton("Save", "edit")
                    }
                </div>
                <div class="tab-pane" id="correction-reasons">
                    @using (Html.BeginForm("AddCorrectionReason", "Company", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, m => Model.SettingsVM.CorrectionReason)
                            <div class="controls">
                                @Bootstrap.TextBoxFor(Html, m => Model.SettingsVM.CorrectionReason, null, "input-box")
                                @Html.ValidationMessageFor(p => p.SettingsVM.CorrectionReason)
                                <button type="submit" class="btn btn-small btn-primary">Add</button>
                            </div>
                        </div>
                    }
                    @if (correctionReasons)
                    {
                        <div class="span6">
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Reason</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                        i = 0;
                        foreach (var item in Model.SettingsVM.CorrectionReasonsVM)
                        {
                            i++;
                                            <tr>
                                                <td style="width: 20px;">@( i)</td>
                                                <td>@item.Value</td>
                                                <td style="width: 20px;">
                                                    <div class="btn-group">
                                                        <a class="btn btn-small" rel="tooltip" title="Delete reason" href="@Url.Action("RemoveCorrectionReason", "Company", new { id = item.Key })"><i class="icon-remove"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="cancellation-reasons">
                    @using (Html.BeginForm("AddCancellationReason", "Company", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, m => Model.SettingsVM.CancellationReason)
                            <div class="controls">
                                @Bootstrap.TextBoxFor(Html, m => Model.SettingsVM.CancellationReason, null, "input-box")
                                @Html.ValidationMessageFor(p => p.SettingsVM.CancellationReason)
                                <button type="submit" class="btn btn-small btn-primary">Add</button>
                            </div>
                        </div>
                    }
                    @if (cancellationReasons)
                    {
                        <div class="span6">
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Reason</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                        i = 0;
                        foreach (var item in Model.SettingsVM.CancellationReasonsVM)
                        {
                            i++;
                                            <tr>
                                                <td style="width: 20px;">@( i)</td>
                                                <td>@item.Value</td>
                                                <td style="width: 20px;">
                                                    <div class="btn-group">
                                                        <a class="btn btn-small" rel="tooltip" title="Delete reason" href="@Url.Action("RemoveCancellationReason", "Company", new { id = item.Key })"><i class="icon-remove"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="colors">
                    
                    <div class="span6">
                        @Html.Partial("_DashboardColorsSettings", Model)
                    </div>
                </div>
                
                <div class="tab-pane" id="exportSettings">
                     @using (Html.BeginForm("ChangeExportSettings", "Company", FormMethod.Post, new { @class = "form-horizontal" }))
                     {
                        @Html.Partial("_ExportSettingsPartial", Model)

                        @Bootstrap.SaveButton("Save", "edit")
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style scoped>
    .input-box {
        width: 200px;
    }


</style>
<script>
    $('#deleteModal').on('hidden',  function () {
        
        $(this).removeData('modal');
    });
</script>

