﻿@model UserEditPermissionsPageViewModel

@{
    ViewBag.Title = "Edit Permissions";
}

<div id="edit-user-permissions-page">

    <h2>Edit @Model.User.FirstName @Model.User.LastName Permissions</h2>

    @if (ViewBag.ShowUpdateSuccessMessage != null && ViewBag.ShowUpdateSuccessMessage == true)
    {
        <p class="success-message">
            The user permissions were updated successfully.
        </p>
    }

    @{ Html.BeginForm("EditPermissions", "User", new { userID = Model.User.UserID }, FormMethod.Post, null); }

        @foreach (Product product in Model.AccountProducts)
        {
            <h4 class="product-name">@product.Name</h4>
            <ul class="permission-list">
            @foreach (ProductPermission permission in product.Permissions)
            {
                <li>
                    <label>
                        @{ string checkBoxValue = product.Id + "|" + permission.Code; }
                        <input type="checkbox" name="SelectedPermissionStrs" value="@(checkBoxValue)" checked="@(Model.SelectedPermissionStrs.Contains(checkBoxValue) ? "checked" : (string)null)" />
                        @permission.Name
                    </label>
                </li>
	        }
            </ul>
        }

        <div class="buttons-container">
            <input type="submit" value="Update Permissions" />
        </div>

    @{ Html.EndForm(); }

</div>