﻿@model UserInvitedPageViewModel

@{
    ViewBag.Title = "User Invited";
}

<p>An invitation email was sent to @Model.Email</p>
<p><a href="@ViewBag.AcceptInvitationUrl">@ViewBag.AcceptInvitationUrl</a></p>