﻿@model UserInvitePageViewModel

@{
    ViewBag.Title = "Invite a New User";
}

<div id="invite-user-page">
    <h2>Invite a New User</h2>

    @Html.ValidationSummary()

    @{ Html.BeginForm("Invite", "User", null, FormMethod.Post, null); }

    <div class="field-container">
        <label for="email-input">Email:</label>
        @Html.TextBoxFor(vm => vm.Email, new { id = "email-input", @class = "text-input" })
    </div>

    <h3 class="subtitle">Permissions</h3>

    @foreach (Product product in Model.AccountProducts)
    {
        <h4 class="product-name">@product.Name</h4>
        <ul class="permission-list">
        @foreach (ProductPermission permission in product.Permissions)
	    {
            <li>
                <label>
                    @Html.CheckBox("SelectedPermissionStrs", false, new { value = product.Id + "|" + permission.Code })
                    @permission.Name
                </label>
            </li>
	    }
        </ul>
    }

    <div class="buttons-container">
        <input type="submit" value="Send Invitation" />
    </div>

    @{ Html.EndForm(); }
</div>