﻿@model UserManagePageViewModel

@{
    ViewBag.Title = "Manage";
}


<div id="manage-users-page">
    <h2>Active Users</h2>
    <ul id="active-user-list">
    @foreach (AccountUser user in Model.AccountUsers.Users)
    {
        <li>
            <div class="actions-menu">
                <button type="button" class="menu-trigger">&#x25BC;</button>
                <ul>
                    <li>@Html.ActionLink("Edit permissions", "EditPermissions", "User", new { userID = user.UserID }, null)</li>
                    <li>
                    @if (user.IsAdmin)
                    {
                        <a href="#" class="user-action-trigger" data-user-id="@user.UserID" data-action="DemoteToUser">Demote to user</a>
                    }
                    else
                    {
                        <a href="#" class="user-action-trigger" data-user-id="@user.UserID" data-action="PromoteToAdmin">Promote to admin</a>
                    }
                    </li>
                    <li><a href="#" class="user-action-trigger" data-user-id="@user.UserID" data-action="Delete">Delete</a></li>
                </ul>
            </div>
            @user.FirstName @user.LastName
            @if (user.IsAdmin)
            {
                @:(Admin)
            }
        </li>
    }
    </ul>

    <h2>Invited Users</h2>
    <ul id="invited-user-list">
    @if (Model.AccountUsers.InvitedUserEmails == null || Model.AccountUsers.InvitedUserEmails.Count == 0)
    {
        <p>There are no pending invitations.</p>
    }
    else
    {
        foreach (string invitedUserEmail in Model.AccountUsers.InvitedUserEmails)
        {
            <li>@invitedUserEmail</li>
        }
    }
    </ul>
</div>


@{ Html.BeginForm("Manage", "User", null, FormMethod.Post, new { id = "manage-user-form", @class = "hidden-form" }); }
    <input type="hidden" name="userID" value="" />
    <input type="hidden" name="action" value="" />
@{ Html.EndForm(); }


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('.actions-menu .menu-trigger').click(
                function () {
                    $('.actions-menu ul').hide();
                    $(this).siblings('ul').show();
                    return false;
                }
            );

            $(window).click(
                function () {
                    $('.actions-menu ul').hide();
                }
            );

            $('#active-user-list .user-action-trigger').click(
                function () {
                    var userID = $(this).attr('data-user-id');
                    var action = $(this).attr('data-action');
                    $('#manage-user-form input[name=userID]').val(userID);
                    $('#manage-user-form input[name=action]').val(action);
                    $('#manage-user-form').submit();

                    return false;
                }
            );
        });
    </script>
}