﻿@using Subscription.Website.Infrastructure
@using nTrack.Web.Bootstrap
@model Subscription.Website.ViewModels.Account.AccountVM

@{
    ViewBag.Title = "Edit " + Model.CompanyName + " account";
}

@section Tabs
{
    <li id="detailsTab"><a href="#details" data-toggle="tab">Details</a></li>
    <li id="imageTab"><a href="#image" data-toggle="tab">Logo</a></li>
}

<div class="tab-pane" id="details"> 
    @using(
        Html.BeginForm("Edit", "CompanyInfo", new { returnUrl = Request.RawUrl, area = "Manager"}, FormMethod.Post, new {@class = "form-horizontal"}))
        {
        @Html.ValidationSummary(null as string, new {@class = "alert alert-error"})
        @Html.Partial("_AccountForm", Model)
        <div class="control-group">
            <div class="controls">
                @Bootstrap.SaveButton("Save", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
    }
</div>

<div class="tab-pane" id="image"> 
    @Html.Partial("_Image", Model.ImageVM)
</div>

            



                
