﻿@model Subscription.Website.ViewModels.Account.AccountVM 

<div class="control-group">
    @Bootstrap.LabelFor(Html, x => x.CompanyName)
    <div class="controls">
        @Bootstrap.TextBoxFor(Html,x=>x.CompanyName)
    </div>
</div>

<div class="control-group">
    @Bootstrap.LabelFor(Html, x => x.AddressLine1)
    <div class="controls">
        @Bootstrap.TextBoxFor(Html,x=>x.AddressLine1)
    </div>
</div>

<div class="control-group">
    @Bootstrap.LabelFor(Html, x => x.AddressLine2)
    <div class="controls">
        @Bootstrap.TextBoxFor(Html,x=>x.AddressLine2)
    </div>
</div>

<div class="control-group">
    @Bootstrap.LabelFor(Html, x => x.Suburb)
    <div class="controls">
        @Bootstrap.TextBoxFor(Html,x=>x.Suburb)
    </div>
</div>

<div class="control-group">
    @Bootstrap.LabelFor(Html, x => x.State)
    <div class="controls">
        @Bootstrap.TextBoxFor(Html,x=>x.State)
    </div>
</div>

<div class="control-group">
    @Bootstrap.LabelFor(Html, x => x.Postcode)
    <div class="controls">
        @Bootstrap.TextBoxFor(Html,x=>x.Postcode)
    </div>
</div>

<div class="control-group">
    @Bootstrap.LabelFor(Html, x => x.Phone)
    <div class="controls">
        @Bootstrap.TextBoxFor(Html, x => x.Phone)
    </div>
</div>

<div class="control-group">
    @Bootstrap.LabelFor(Html, x => x.Country)
    <div class="controls">
        @Html.DropDownList("Country", Model.CountryOptions, "",new { id = "country-input", @class = "select-input" })
    </div>
</div>