﻿@model Subscription.Website.ViewModels.Image.ImageVM


  @using (Html.BeginForm("PutImage", "Image", new { area = "", returnUrl = Request.Url, id = @Model.Id, entity = @Model.Entity}, FormMethod.Post, new {@class = "form-horizontal"}))
        {
        @Html.ValidationSummary(null as string, new {@class = "alert alert-error"})
            <div class="control-group">
                @if (Model.Avaible)
                {
                    <img src="@Url.Action("GetImage", "Image", new {area = "", id = @Model.Id, entity = @Model.Entity})" />
                }
                <p>Upload new image will override currently uploaded image.</p>
                @(Html.Kendo().Upload()
                      .Name("files").Events(p =>
                                                {
                                                    p.Select("onselect");
                                                    p.Remove("onremove");
                                                })
                      )
            </div>
        <div class="control-group">
            <div class="controls">
                @Bootstrap.SaveButton("Save", "edit")
            </div>
        </div>
    }

<script type="text/javascript">
    var totalFiles = 0;

    function onselect(e) {
        var selectedFiles = e.files.length;
        if (totalFiles + selectedFiles > 1) {
            alert("You can upload only one file!");
            e.preventDefault();
        } else {


            $.each(e.files, function (index, value) {
                if (value.extension != ".jpg" && value.extension != ".png") {
                    e.preventDefault();
                    alert("You can upload only jpg and png file!");
                } else if (value.size > 1024000) {
                    e.preventDefault();
                    alert("You can not upload file that isn't bigger than 1MB!");
                } else {
                    totalFiles++;
                }
            });
        }
    }

    ;

    function onremove(e) {
        totalFiles--;
    }
</script>