﻿@model List<Subscription.Website.ViewModels.Billing.InvoiceVM>

@(Html.Kendo()
          .Grid(Model)
          .Name("invoices-grid")
          .DataSource(
              data=> data.Server().Model(model => model.Id(x => x.InvoiceId)))
          .Columns(
              cols=>
                  {
                      cols.AutoGenerate(false);
                      cols.Bound(x => x.InvoiceNumber);
                      cols.Bound(x => x.InvoiceCreateDate);
                      cols.Bound(x => x.OfferName);
                      cols.Bound(x => x.Amount);
                      cols.Bound(x => x.Paid);
                      cols.Template(@<text>
                                         @if (string.IsNullOrWhiteSpace(item.FileUrl))
                                         {
                                             <text>missing</text>
                                         }
                                         else
                                         {
                                             @Html.ActionLink("View","Invoice", "Billing", new {invoiceId = item.InvoiceId}, null)
                                         }
                                     </text>);
                      
                      cols.Template(
                          @<text>
                                                                                    @if(!item.Paid)
                                                                                    {
                                                                                        <div class="btn-group">
                                                                                            <a id="invoice-pay" class="btn btn-small" rel="tooltip" title="Pay" href="@Url.Action("StartPayment", "Billing", new {invoiceId = item.InvoiceId})">
                                                                                                <i class="icon-shopping-cart"></i>
                                                                                            </a>
                                                                                        </div>
                                                                                    }
                           </text>
                                                         
                          );
                  })
          )
