@using System.Web.Optimization
@using Subscription.Website.Common
@using nTrack.Web.Bootstrap
<!DOCTYPE html>
<html lang="en">
<head>
    <title>nTrack - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Kendo/css")
    @RenderSection("Styles", false)
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/ntrack")
        @Scripts.Render("~/bundles/kendo")
            @RenderSection("Scripts", false)
    
    <script type="text/javascript">
        $(function () {
            $('.input-validation-error').each(
                function () {
                    $(this).parents('.control-group').addClass('error');
                }
            );
        });
    </script>

</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container" style="padding-bottom: 7px; padding-top: 7px;">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    @if(IsSectionDefined("Header"))
                    {
                                            @RenderSection("Header", false)
                    }
                    else
                    {
                        <a href="/">
                            <img class="pull-left" id="ntrackLogo" style="height: 32px; margin-right: 10px;" src="/Content/ntrack-logo.png" alt="logo" ></a>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                @if (User.IsInRole("Administrator"))
                                {
                                    <li class="@Html.GetActiveMenuClass("Admin", null, null, ViewContext)" style="height:30px !important;">@Html.ActionLink("Admin", "Index", "Home", new { area = "Admin" }, null)</li>
                                }
                                <li class="@Html.GetActiveMenuClass("Manager", null, null, ViewContext)" style="height:30px !important;">@Html.ActionLink("Manage", "Index", "Home", new { area = "Manager" }, null)</li>
                            </ul>
                        </div>
                        @Html.Partial("_LoginPartial")
                    }
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
        <div class="container footer"><hr/>@Html.Partial("_FooterPartial")</div>
    </body>
</html>