﻿@model LoginFormVM

@using (Html.BeginForm("Login", "Account", new {ReturnUrl = Request.QueryString["ReturnUrl"]}, FormMethod.Post, new{autocomplete="off"}))
{
    <div class="field-container">
        <label id="email-label" for="email-input">Email:</label>
        @Html.TextBoxFor(vm => vm.Email, new {id = "email-input", @class = "text-input"})
    </div>
    <div class="field-container">
        <label id="password-label" for="password-input">Password:</label>
        @Html.PasswordFor(vm => vm.Password, new {id = "password-input", @class = "text-input"})
    </div>
    <div class="field-container">
        @Html.CheckBoxFor(vm => vm.Remember, new {id = "remember-me-input"})
        <label for="remember-me-input">Remember me</label>
    </div>
    <div class="buttons-container">
        <input type="submit" value="Login" />
    </div>
}