﻿@using Subscription.Website.Infrastructure
<div class="btn-group pull-right">
    @if(User.Identity.IsAuthenticated)
    {
        var userIdent = ((CustomIdentity) User.Identity);
        var userFullname = userIdent != null ? userIdent.UserFullName : string.Empty;

        if (userIdent != null)
        {
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i> @userFullname
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("UserProfile", "Account", new {area = "", returnUrl = Request.RawUrl})">Profile</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("Logout", "Account", new {area = ""})">Sign Out</a></li>
            </ul>
        }
    }
</div>

