﻿@model List<Subscription.Data.AccountRole>

@(Html.Kendo()
          .Grid(Model)
          .Name("roles-grid")
          .DataSource(
              data=> data.Server().Model(model => model.Id(x => x.Key)))
          .Columns(
              cols=>
                  {
                      cols.AutoGenerate(false);
                      cols.Bound(x => x.Name);
                      cols.Bound(x => x.Permissions.Count).Title("Products");
                      cols.Template(
                          @<text>
                               <div class="btn-group">
                                   <a id="edit-role" class="btn btn-small" rel="tooltip" title="Edit" href="@Url.Action("Edit", "Role", new { key = item.Key, accountId = ViewBag.AccountId })">
                                       <i class="icon-edit"></i>
                                   </a>
                                   <a id="remove-role" class="btn btn-small" rel="tooltip" title="Remove" href="@Url.Action("Remove", "Role", new {key = item.Key, accountId = ViewBag.AccountId})">
                                       <i class="icon-remove"></i>
                                   </a>
                               </div>
                           </text>
                          );
                  })
          .ToolBar(tools=>tools.Template(@<text><a id="add-role-button" class="btn" href="@Url.Action("Add","Role", new { accountId = ViewBag.AccountId})"> <i class="icon-plus-sign"></i> Add Role</a></text>))
          )
