﻿@*@using Subscription.Website.Common
<ul class="nav nav-list bs-docs-sidenav">
    <li id="Dashboard" class="@Html.GetActiveMenuClass("Home", null, ViewContext)"><a href="@Url.Action("Index", "Home", new { area="Manager" })"><i class="icon-chevron-right"></i> Dashboard</a></li>
    <li id="Users" class=" @Html.GetActiveMenuClass("User", null, ViewContext)"><a href="@Url.Action("Index","User", new {area="Manager"})"><i class="icon-chevron-right"></i> Users</a></li>
    <li id="Subscriptions" class="@Html.GetActiveMenuClass("Subscription", null, ViewContext)"><a href="@Url.Action("Index","Subscription", new {area="Manager"})"><i class="icon-chevron-right" ></i> Subscriptions</a></li>
    <li id="Roles" class="@Html.GetActiveMenuClass("Role", null, ViewContext)"><a href="@Url.Action("Index","Role", new {area="Manager"})"><i class="icon-chevron-right"></i> Roles</a></li>
    <li id="Billing" class="@Html.GetActiveMenuClass("Billing", null, ViewContext)"><a href="@Url.Action("Index","Billing", new {area="Manager"})"><i class="icon-chevron-right"></i> Billing</a></li>
</ul>*@