﻿@using nTrack.Web.Bootstrap

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    @RenderSection("Scripts", false)
}

@section Styles
{
    @RenderSection("Styles", false)
}


@section Header
{
    @if(IsSectionDefined("Header"))
    {
        @RenderSection("Header", false)
    }
else
    {

                        <a href="/">
                            <img class="pull-left" id="ntrackLogo" style="height: 32px; margin-right: 10px;" src="/Content/ntrack-logo.png" alt="logo" ></a>
                    
    }
}


@Bootstrap.Alert(TempData["alert"])
        @RenderBody()

