﻿ @model List<nTrack.Data.User>

 @(Html.Kendo()
   .Grid(Model)
   .Name("users-grid")
   .DataSource(
       data=> data.Server().Model(model => model.Id(x => x.UserKey)))
   .Columns(
       cols=>
           {
               cols.AutoGenerate(false);
               cols.Bound(x => x.FullName);
               //cols.Bound(x => x.RoleNames);
               cols.Bound(x => x.Role).Title("Role");
               cols.Template(
                   @<text>
                        <div class="btn-group">
                            <a id="edit-user" class="btn btn-small" rel="tooltip" title="Edit" href="@Url.Action("Edit", "User", new {accountId = @ViewBag.AccountId, userKey = item.UserKey})">
                                <i class="icon-edit"></i>
                            </a>
                            @if(!item.IsLocked)
                            {
                                <a id="lock-user" class="btn btn-small" rel="tooltip" title="Lock" href="@Url.Action("Lock", "User", new {accountId = @ViewBag.AccountId, userKey = item.UserKey})">
                                    <i class="icon-lock"></i>
                                </a>
                            }
                            else
                            {
                                <a id="unlock-user" class="btn btn-small" rel="tooltip" title="Unlock" href="@Url.Action("Unlock", "User", new {accountId = @ViewBag.AccountId, userKey = item.UserKey})">
                                    <i class="icon-lock"></i>
                                </a>
                            }
                            <a id="reset-password" class="btn btn-small" rel="tooltip" title="Rest Password" href="@Url.Action("ResetPassword", "User", new {accountId = @ViewBag.AccountId, userKey = item.UserKey})">
                                <i class="icon-wrench"></i>
                            </a>
                            @*<a id="edit-permissions" class="btn btn-small" rel="tooltip" title="Edit permissions" href="@Url.Action("SelectRole", "User", new {userKey = item.UserKey})">
                                <i class="icon-briefcase"></i>
                            </a>*@
                            @if(!item.IsDeleted)
                            {
                                <a id="delete-user" class="btn btn-small" rel="tooltip" title="Delete User" href="@Url.Action("RemoveUser", "User", new {accountId = @ViewBag.AccountId, userKey = item.UserKey})">
                                    <i class="icon-remove"></i>
                                </a>
                            }
                            else
                            {
                                <a id="undelete-user" class="btn btn-small" rel="tooltip" title="Undelete User" href="@Url.Action("UnremoveUser", "User", new {userKey = item.UserKey})">
                                    <i class="icon-ok"></i>
                                </a>
                            }
                        </div>
                    </text>
                   );
           })
   .ToolBar(tools=>tools.Template(@<text><a id="invite-user-button" class="btn" href="@Url.Action("Add","User", new { accountId = @ViewBag.AccountId})"> <i class="icon-plus-sign"></i> Add User</a></text>))
)
