﻿@model PalletPlus.Website.Areas.Admin.ViewModels.ExportMovementData.ExportMovementDataViewModel
@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        resetNav();
        $("#exports").addClass("active");
    });
</script>


<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Export Movements</legend>
        </fieldset>

        @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
        @using (Ajax.BeginForm("ExportMovements", "ExportMovementData", new AjaxOptions(), new { @class = "form-horizontal" }))
        {
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.SupplierId)
                <div class="controls">
                    @Bootstrap.ComboboxFor(Html, m => Model.SupplierId, Model.Suppliers)
                </div>

            </div>
            <div class="control-group">
                <div class="controls">
                    @Bootstrap.NextButton("Start Export", "export-button", true)
                </div>
            </div>
        }

        <fieldset>
            <legend>Exports</legend>
        </fieldset>
        @(Html.Kendo().Grid(Model.Attachments)
                          .Name("Grid")
                          .Columns(columns =>
                              {
                                  columns.AutoGenerate(false);
                                  columns.Bound(p => p.MovementDate).Format("{0:d}");
                                  columns.Template(@<text>
        @if (item.SentOn > DateTime.MinValue)
        {
            item.SentOn.ToShortDateString();
        }
        </text>).Title("Sent On");
                                  columns.Bound(p => p.SupplierName);
                                  columns.Bound(p => p.SiteName);
                                  columns.Bound(p => p.TotalDownloads);
                                  columns.Bound(p => p.TotalMovements);
                                  columns.Template(
                                      @<text>
        <div class="btn-group">
            <a class="btn btn-small" rel="tooltip" title="Download" href="@Url.Action("DownloadFile", "ExportMovement", new { id = item.Id, area = "Admin" })">
                <i class="icon-download"></i>
            </a>
            <a class="btn btn-small" rel="tooltip" title="Send" href="@Url.Action("SendFile", "ExportMovement", new { id = item.Id, area = "Admin" })">
                <i class="icon-upload"></i>
            </a>
        </div>
        </text>
                                      ).Width(90);
                              })
                          .ToolBar(x => x.Template(" "))
                          .Sortable()
                          .Pageable(action => action.PageSizes(new[] { 5, 10, 20, 50 }))
                          )

    </div>
</div>


<script>
    $("#SupplierId").change(function () {
        if ($("#SupplierId").val() != "")
            $("#export-button").removeAttr("disabled");
        else {
            $("#export-button").attr("disabled", "disabled");
        }
    });
</script>
