﻿@{
    ViewBag.Title = "Dashboard";
}

@section Tabs
{
    <li class="active"><a href="#tab1" data-toggle="tab">Dashboard</a></li>
}
<div class="hero-unit">
      <h1>Control Panel!</h1>
      <p>Manage all aspects of your account, Like users, subscriptions and Billing</p>
</div>



