﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sideBarPartial = ViewBag.SidebarPartial ?? "_SidebarPartial";
}
    
<div class="row">
    <div class="span3">
        @*@Html.Partial("_SidebarPartial")*@
        @Html.Partial(sideBarPartial)
    </div><!--/span-->
    @RenderBody()
       
</div>

@section Scripts
{
     @Scripts.Render("~/bundles/kendo")
        @Scripts.Render("~/bundles/nTrack")
    
}

@section Styles
{
    <style scoped>
    .label-info {
        margin-left: 10px;
    }
    #Grid {
        margin-left: 10px;
        width: 90%;
    }
    fieldset {
        margin-left: 10px;
    }
</style>
}

