﻿@using PalletPlus.Website.Helpers
<div class="btn-group pull-right">
    <a class="profile-btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="profile-icon-user"></i>@(((CustomIdentity)User.Identity).UserFullName)<span class="profile-icon-caret"></span>
    </a>
    <ul class="dropdown-menu">
        @*<li><a href="#">Profile</a></li>*@
        <li><a href="@Url.Action("EditUser", "Profile", new {area="", key = (((CustomIdentity)User.Identity).UserKey),role="user"})">Profile</a></li>
        @if(User.IsInRole("Admin"))
        {
            <li class="divider"></li>
            <li><a href="@Url.Action("Index", "Home", new { area="Admin"})">Switch to Admin</a></li>
        }
        <li class="divider"></li>
        <li><a href="@Url.Action("Logout", "Authentication", new { area=""})">Sign Out</a></li>
        <div class="dropdown-menu-pointer"></div>
    </ul>
    <div class="divider-vertical-right"></div>
</div>

<div class="btn-group pull-right" style="margin-right: 5px">
    @if (ViewBag.AllSites != null)
    {
        <a class="profile-btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="profile-icon-location"></i>@(ViewBag.ContextSite)<span class="profile-icon-caret"></span>
        </a>
        if (ViewBag.AllSites.Count > 1)
        {
            <ul class="dropdown-menu" id="sites-dropdown">
                @foreach (var site in ViewBag.AllSites)
                {
                    <li class="context-site-li" id="@site.Key">
                        <a href="@Url.Action("SetContextSite", "Home", new {siteID = site.Key}, null)">
                            <i class="icon-briefcase"></i> @site.Value
                        </a> 
                    </li>
                }
                <div id="location-pointer" class="dropdown-location-pointer"></div>
            </ul>
        }
    }
</div>

<script>
    $(document).ready(function () {
        var height = $("#sites-dropdown").height() + 35;
        
        $("#location-pointer").css('margin-top', -height + 'px');
    });
</script>

<style scoped>
    .divider-vertical-right {
        float: left;
        border-right: 1px solid rgb(78, 78, 78);
        border-left: 1px solid rgb(78, 78, 78);
        height: 27px;
        margin-top: -27px;
    }

    .dropdown-location-pointer {
        position: absolute;
        border:solid 10px transparent;
        border-bottom-color:#FFF;
        margin: 0 0 0 105px;
    }

    .context-site-li {
        height: 25px;
    }

</style>