﻿<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header"><div class="nav-list-icon-dashboard"></div>Dashboard</li>
        <li id="BalanceDashboard"><a href="@Url.Action("Index", "BalanceDashboard", new { area="User" })">Balance Dashboard</a></li>
        <li id="MovementDashboard"><a href="@Url.Action("Index", "MovementDashboard", new { area="User" })">Movement Dashboard</a></li>
        <li id="ExchangesDashboard"><a href="@Url.Action("Index", "ExchangesDashboard", new { area="User" })">Exchanges Dashboard</a></li>
        <li id="Movements"><a href="@Url.Action("Index", "Movements", new {area="User"})">Movements</a></li>
        <li id="Stocktakes"><a href="@Url.Action("Index", "Stocktakes", new {area="User"})">Stocktakes</a></li>
        <li id="PTAMovements"><a href="@Url.Action("Index", "PTAMovements", new {area="User"})">PTA Movements</a></li>
        <li id="Exchanges"><a href="@Url.Action("Index", "Exchange", new {area="User"})">Exchanges</a></li>
      
        <li class="nav-header"><div class="nav-list-icon-operation"></div>Operation</li>
        <li id="RecordOutMovement"><a href="@Url.Action("Index", "RecordOutMovement", new { area="User" })">Send Equipment</a></li>
        <li id="RecordInMovement"><a href="@Url.Action("Index", "RecordInMovement", new { area="User" })">Receive Equipment</a></li>
        <li id="RecordExchange"><a href="@Url.Action("Create", "Exchange", new { area="User" })">Exchange Equipment</a></li>
        <li id="RecordStocktake"><a href="@Url.Action("Index", "RecordStocktake", new { area="User" })">Enter Stocktake</a></li>


        <li class="nav-header"><div class="nav-list-icon-utility"></div>Utilities</li>
        <li id="MovementRaports"><a href="@Url.Action("Index", "Reports", new {area="User"})">Reports</a></li>
    </ul>
</div>
