﻿@using Subscription.Website.Common
<ul class="nav nav-list bs-docs-sidenav">
    <li id="Dashboard" class="@Html.GetActiveMenuClass("Admin","Home", null, ViewContext)"><a href="@Url.Action("Index", "Home", new { area="Admin" })"><i class="icon-chevron-right"></i> Dashboard</a></li>
    <li id="Accounts" class="@Html.GetActiveMenuClass("Admin","Account", null, ViewContext) @Html.GetActiveMenuClass("Admin","User", null, ViewContext)
        @Html.GetActiveMenuClass("Admin","Role", null, ViewContext) @Html.GetActiveMenuClass("Admin","Subscription", null, ViewContext)"><a href="@Url.Action("Index","Account", new {area="Admin"})"><i class="icon-chevron-right"></i> Accounts</a></li>
    <li id="Products" class="@Html.GetActiveMenuClass("Admin","Product", null, ViewContext)"><a href="@Url.Action("Index","Product", new {area="Admin"})"><i class="icon-chevron-right"></i> Products</a></li>
</ul>