﻿@model Subscription.Website.Areas.Manager.ViewModels.Billing.InvoicesVM

@{
    ViewBag.Title = "Billing";
}

@section Tabs
{
                    <li class="active"><a href="#tab1" data-toggle="tab">Billing</a></li>
}


<div class="tab-pane active" id="tab1">   
    @Html.Partial("_InvoicesTable",Model.Invoices)
</div>
