﻿@model Subscription.Website.Areas.Manager.ViewModels.Billing.StartPaymentVM

@{
    ViewBag.Title = "Start payment for "+Model.InvoiceId+" Invoice";
}

@section Tabs
{
                    <li class="active"><a href="#tab1" data-toggle="tab">Start payment for @Model.InvoiceId Invoice</a></li>
}

<h4>Are you sure?</h4>
<div class="tab-pane active" id="tab1">                 

                           @using (Html.BeginForm("StartPayment", "PayPal", new { area = ""}, FormMethod.Post, new {@class = "form-horizontal"}))
                           {
                               @Html.HiddenFor(p => p.InvoiceId)
                               @Html.ValidationSummary(false, "", new {@class = "well well-small"})

<div class="control-group">
    <div class="controls">
        @Bootstrap.BackButton("No", "back", Model.ReturnUrl)
        @Bootstrap.SaveButton("Yes, start payment.", "edit").Disabled(!Model.AllowPost)
    </div>
</div>
                           }

                </div>