﻿
/* Styles for basic forms
-----------------------------------------------------------*/
.field-container
{
    margin-bottom: 15px;
}

.field-container label
{
    display: inline-block;
}

.text-input, .select-input
{
    background-image: url(../images/text-box-background.jpg);
	background-repeat: repeat-x;
	border: 1px solid #BBB;
	color: #333333;
	padding: 3px;
	margin-right: 4px;
	margin-bottom: 8px;
	font-family: tahoma, arial, sans-serif;
}

.text-input
{
    width: 230px;
}

.select-input
{
    width: 238px;
}

.field-note
{
    font-size: 13px;
    color: #555;
}

.field-group
{
    margin-bottom: 35px;
}

.field-group h3
{
    font-size: 16px;
    font-weight: bold;
    color: #118;
    margin-bottom: 25px;
}

.buttons-container input, .buttons-container button
{
    padding: 3px 8px;
    font-size: 17px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #f00;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #f00;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-errors ul
{
    margin: 20px 0 30px 40px;
}

.validation-summary-errors ul li
{
    list-style-type: disc;
    list-style-position: inside;
}

.validation-summary-valid {
    display: none;
}


/* Styles for the page layout (common parts)
-----------------------------------------------------------*/

body {
    font-size: 15px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.loading-image
{
    display: none;
}

.page-column
{
    width: 900px;
    margin: 0 auto;
}

#header
{
    height: 100px;
    background-color: #CCC;
    border-bottom: 1px solid #AAA;
}

#header .logo
{
    display: block;
    width: 207px;
    height: 47px;
    float: left;
    background: transparent url(../images/ntrack-logo.png) no-repeat scroll top left;
    margin-top: 28px;
}

#header #admin-panel-link
{
    display: inline-block;
    float: right;
    background: #FFF;
    margin-top: 10px;
    padding: 4px 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #BBB;
    color: #00A;
}

#header #main-menu
{
    float: right;
    clear: right;
    white-space: nowrap;
}

#header #main-menu li
{
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
}

#header #main-menu li a
{
    color: #666;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
}

#body
{
    margin-top: 30px;
    margin-bottom: 50px;
}

h2
{
    font-size: 26px;
    font-weight: bold;
    color: #777;
    border-bottom: 1px solid #777;
    padding-bottom: 5px;
    font-style: italic;
    margin-bottom: 25px;
}

p
{
    margin-bottom: 20px;
}