﻿@model PalletPlus.Website.Areas.Admin.ViewModels.User.UserViewModel
@using (Html.BeginForm("RemoveUser", "Company",FormMethod.Post, new { @class = "form-horizontal" }))
{
    <p>
        Are you sure you want to Delete  [@(Model.FullName)] ?
        @Html.HiddenFor(m=>m.UserKey)
    </p>
    <div class="modal-footer">
                <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                <button id="delete-confirm-submit" class="btn btn-primary">Save</button>
    </div>
}


<script>

       
    
   
    
</script>