﻿@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.User.UserEditViewModel

@{
    ViewBag.Title = "Edit " + Model.FullName;
}

<script>
    $("#Role").combobox();
    resetNav();
    $("#Company").addClass("active");
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Edit User</legend>
            
                @using (Html.BeginForm("EditUser", "Company", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary(false, null, (new {@class = "well well-small"}))
                    @Html.HiddenFor(x => x.UserKey)

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.FirstName)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.FirstName)
                        </div>
                    </div>

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.LastName)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.LastName)
                        </div>
                    </div>

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Email)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Email)
                        </div>
                    </div>

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Phone)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Phone)
                        </div>
                    </div>

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Mobile)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Mobile)
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            @Html.DropDownListFor(p => p.Role, Model.Roles)
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Company"))
                            @Bootstrap.SaveButton("Save", "edit")
                        </div>
                    </div>
                }
        </fieldset>
    </div>
</div>