﻿@model Subscription.Website.ViewModels.User.UserRemovingVM

@{
    ViewBag.Title = "Removing " + Model.FullName;
}

@section Tabs
{
    <li class="active">
        <a href="#tab1" data-toggle="tab">
            <text>Removing @Model.FullName</text>
        </a>
    </li>
}

<div class="tab-pane active" id="tab1">

    
    @using (Html.BeginForm("RemoveUser", "User", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(false,null,(new {@class="well well-small"}))
        @Html.HiddenFor(x=>x.UserKey)
        @Html.HiddenFor(x => x.AccountId)
        @Html.HiddenFor(x=>x.FullName)
        @Html.HiddenFor(p => p.ReturnUrl)
       
        <div class="control-group">
            <div class="controls">
                @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
                @Bootstrap.SaveButton("Remove", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
    }
</div>

    
