﻿@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<p>
    Please select an administrative task from the top menu.
</p>


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#home-menu-item').addClass('current');
        });
    </script>
}