﻿@{
    ViewBag.Title = "Registration Success";
}

<h2>Registration Success</h2>
<p>
    Thank you for registering! You will receive an email from us shortly. Please click the link in the email to continue.
</p>

<!-- Start test code -->
<a href="@ViewBag.EmailVerificationUrl">@ViewBag.EmailVerificationUrl</a>
<!-- End test code -->