﻿@model RegisterPageViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@Html.ValidationSummary("Please correct the following error(s) and try again.")

@{ Html.BeginForm("Register", "Registration", null, FormMethod.Post, new { id = "registration-form" }); }

<div class="field-group">
    <h3>Company Information</h3>
    <div class="field-container">
        <label for="company-name-input" class="editor-label">Company name:</label>
        @Html.TextBoxFor(vm => vm.CompanyName, new { id = "company-name-input", @class = "text-input" })
    </div>
    <div class="field-container">
        <label for="company-phone-input">Phone:</label>
        @Html.TextBoxFor(vm => vm.CompanyPhone, new { id = "company-phone-input", @class = "text-input" })
    </div>
    <div class="field-container">
        <label for="address-line-1-input">Address line 1:</label>
        @Html.TextBoxFor(vm => vm.AddressLine1, new { id = "address-line-1", @class = "text-input" })
    </div>
    <div class="field-container">
        <label for="address-line-2-input">Address line 2:</label>
        @Html.TextBoxFor(vm => vm.AddressLine2, new { id = "address-line-2", @class = "text-input" })
        <span class="field-note">(optional)</span>
    </div>
    <div class="field-container">
        <label for="address-line-3-input">Address line 3:</label>
        @Html.TextBoxFor(vm => vm.AddressLine3, new { id = "address-line-3", @class = "text-input" })
        <span class="field-note">(optional)</span>
    </div>
    <div class="field-container">
        <label for="company-suburb-input">Suburb:</label>
        @Html.TextBoxFor(vm => vm.CompanySubrub, new { id = "company-suburb-input", @class = "text-input" })
    </div>
    <div class="field-container">
        <label for="company-state-input">State:</label>
        @Html.TextBoxFor(vm => vm.CompanyState, new { id = "company-state-input", @class = "text-input" })
    </div>
    <div class="field-container">
        <label for="company-postcode-input">Postcode:</label>
        @Html.TextBoxFor(vm => vm.CompanyPostcode, new { id = "company-postcode-input", @class = "text-input" })
    </div>
    <div class="field-container">
        <label for="company-country-input">Country:</label>
        @Html.DropDownListFor(vm => vm.CompanyCountry, Model.CountryOptions, "", new { id = "company-country-input", @class = "select-input" })
    </div>
</div>

<div class="field-group">
    <h3>Personnel &amp; Login Information</h3>
    <div class="field-container">
        <label for="admin-first-name-input">First name:</label>
        @Html.TextBoxFor(vm => vm.AdminFirstName, new { id = "admin-first-name-input", @class = "text-input" })
    </div>
    <div class="field-container">
        <label for="admin-last-name-input">Last name:</label>
        @Html.TextBoxFor(vm => vm.AdminLastName, new { id = "admin-last-name-input", @class = "text-input" })
    </div>
    <div class="field-container">
        <label for="admin-email-input">Email:</label>
        @Html.TextBoxFor(vm => vm.AdminEmail, new { id = "admin-email-input", @class = "text-input" })
        <img id="email-loading" src="~/content/images/loading-circle-ball.gif" alt="loading..." class="loading-image" />
        <div id="registered-email-message">
            The email '<span class="email-address">bassem.mf@gmail.com</span>' is already registered. Please
            @Html.ActionLink("login", "Login", "Authentication") to create an account.
        </div>
    </div>
    <div class="field-container">
        <label for="admin-password-input">Password:</label>
        @Html.PasswordFor(vm => vm.AdminPassword, new { id = "admin-password-input", @class = "text-input" })
    </div>
    <div class="field-container">
        <label for="repeat-password-input">Repeat password:</label>
        @Html.PasswordFor(vm => vm.RepeatPassword, new { id = "repeat-password-input", @class = "text-input" })
    </div>
    <div class="field-container">
        <label for="admin-phone-input">Phone:</label>
        @Html.TextBoxFor(vm => vm.AdminPhone, new { id = "  admin-phone-input", @class = "text-input" })
        <span class="field-note">(optional)</span>
    </div>
    <div class="field-container">
        <label for="admin-mobile-input">Mobile:</label>
        @Html.TextBoxFor(vm => vm.AdminMobile, new { id = "admin-mobile-input", @class = "text-input" })
        <span class="field-note">(optional)</span>
    </div>
</div>

<div class="buttons-container">
    <input type="submit" value="Register" />
</div>

@{ Html.EndForm(); }


@section Styles
{
    <style type="text/css">
        #registration-form label
        {
            width: 120px;
        }
        
        #email-loading
        {
            margin-left: 3px;
            vertical-align: baseline;
        }
        
        #registered-email-message
        {
            margin-left: 125px;
            width: 340px;
            display: none;
        }
    </style>
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#admin-email-input').blur(
                function () {
                    var email = $(this).val();
                    if (email != '') {
                        $('#email-loading').show();

                        var requestUrl = '@(Url.Action("EmailRegistered", "Registration"))';
                        $.get(requestUrl, { email: email }, function (isRegistered) {
                            if (isRegistered.toLowerCase() == 'true') {
                                $('#registered-email-message .email-address').text(email);
                                $('#registered-email-message').show();
                            } else {
                                $('#registered-email-message').hide();
                            }

                            $('#email-loading').hide();
                        });
                    }
                }
            );
        });
    </script>
}