﻿@using nTrack.Web.Bootstrap
@model Subscription.Website.ViewModels.Account.AccountVM

@{
    ViewBag.Title = Model.CompanyName + " account";
}
<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(p => p.CompanyName)</dt>
    <dd>@Model.CompanyName</dd>
    <dt>@Html.DisplayNameFor(p => p.AddressLine1)</dt>
    <dd>@Model.AddressLine1</dd>
    <dt>@Html.DisplayNameFor(p => p.AddressLine2)</dt>
    <dd>@Model.AddressLine2</dd>
    <dt>@Html.DisplayNameFor(p => p.Suburb)</dt>
    <dd>@Model.Suburb</dd>
    <dt>@Html.DisplayNameFor(p => p.State)</dt>
    <dd>@Model.State</dd>
    <dt>@Html.DisplayNameFor(p => p.Postcode)</dt>
    <dd>@Model.Postcode</dd>
    <dt>@Html.DisplayNameFor(p => p.Country)</dt>
    <dd>@Model.Country</dd>
    <dt>@Html.DisplayNameFor(p => p.Phone)</dt>
    <dd>@Model.Phone</dd>

</dl>

 <div class="control-group">
               <div class="controls">
                   @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
               </div>
</div>

