﻿@using Subscription.Website.Infrastructure
@using nTrack.Web.Bootstrap
@model Subscription.Website.ViewModels.Account.AccountVM

@{
    ViewBag.Title = "Edit " + Model.CompanyName + " account";
}

       @{
           Html.BeginForm("AccountProfileEdit", "CompanyInfo", new { returnUrl = Request.RawUrl, area ="Manager"}, FormMethod.Post, new {@class = "form-horizontal"});
           <h4>Edit @Model.CompanyName account</h4>
           @Html.ValidationSummary(null as string, new {@class = "alert alert-error"})
           @Html.Partial("_AccountForm", Model)
           <div class="control-group">
               <div class="controls">
                   @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
                   @Bootstrap.SaveButton("Save", "edit").Disabled(!Model.AllowPost)
               </div>
</div>
       }
            



                
