﻿@{
    ViewBag.Title = "Email Verified";
}


@section Header
{
<a href="http://palletplus.com.au"><img style="height: 40px; margin-left: 100px;" src="/Content/ntrack-pp-logo.png" alt="logo"></a>

    <a href="/">
                        <img class="pull-right" id="ntrackLogo" style="height: 32px; margin-right: 100px;" src="/Content/ntrack-logo.png" alt="logo" ></a>
}

<div class="box">
    
    <div class="boxHeader"><h4 style="color: black;">Email Verified.</h4></div>
    <div class="boxBody">
        <p>
    Email was verified. You can now @Html.ActionLink("login", "Login", "Account") using your email and password.
</p>
    </div>
</div>