﻿@model Subscription.Website.ViewModels.ForgotPasswordPageVM

@{
    ViewBag.Title = "Forgot Password";
}

<div class="box">
    
    <div class="boxHeader"><h4 style="color: black;">Forgot Your Password?</h4></div>
    <div class="boxBody">
        @Html.ValidationSummary()

@{ Html.BeginForm("ForgotPassword", "Account", null, FormMethod.Post, null); }

<p>
    Please enter your email and we will send you a link to reset your password.
</p>
<div class="field-container">
    <label for="email-input">Email:</label>
    @Html.TextBoxFor(vm => vm.Email, new { id = "email-input", @class = "text-input" })
</div>
<div class="buttons-container">
    <input type="submit" value="Reset Password" />
</div>

@{ Html.EndForm(); }
    </div>
</div>

