﻿@model LoginFormVM

@{
    ViewBag.Title = "Login";
}


<div class="box">
    <div class="boxHeader">
        <h4 style="color: black;">Login</h4>
    </div>
    <div class="boxBody">
        @Html.ValidationSummary()
        @Html.Partial("_Login",Model)
        <p>@Html.ActionLink("Register","Register","Account") to access nTrack.</p>
        <p>Forgot password? Click @Html.ActionLink("here","Register","Account") to reset password.</p>
    </div>

</div>
