﻿@model PasswordRestedVM
@{
    ViewBag.Title = "Password Rested!";
}


<div class="box">
    
    <div class="boxHeader"><h4 style="color: black;">Password Rested</h4></div>
    <div class="boxBody">
        <p>
    Password was rested and sent to your email.
            You can now @Html.ActionLink("login", "Login", "Account") using your email and new password.
            (@ViewBag.NewPassword)
</p>
    </div>
</div>