﻿@model Subscription.Website.ViewModels.Account.RegisterVM
@using Recaptcha
@{
    ViewBag.Title = "Registration";
    var visibility = @Model.SelectedOfferKey == null ? "inherit" : "none" ;
}

@section Header
{
<a href="http://palletplus.com.au"><img style="height: 40px; margin-left: 100px;" src="/Content/ntrack-pp-logo.png" alt="logo"></a>

    <a href="/">
                        <img class="pull-right" id="ntrackLogo" style="height: 32px; margin-right: 100px;" src="/Content/ntrack-logo.png" alt="logo" ></a>
}

<style>
    .numberCircle {
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        behavior: url(PIE.htc);

        width: 18px;
        height: 18px;
        padding: 4px;
        background: yellowgreen;
        border: 2px solid yellowgreen;
        color: white !important;
        text-align: center;
        margin-right: 5px;


    }


</style>

<div class="box">

    @using (Html.BeginForm("Register", "Account", new { Offerkey = Request.QueryString["offerKey"] }, FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off"}))
    {
     
        <div class="boxHeader"><h4 style="color: black;">Register a new Pallet Plus account.</h4></div>
                @Html.ValidationSummary(null as string, new { @class = "alert alert-error" })
        <div>
            <h4 class="numberCircle">1</h4><h4>The Product</h4>

            <div class="control-group" style="display:@visibility">
                @Bootstrap.LabelFor(Html,m=>m.ProductOptions)
                <div class="controls">
                    @Html.DropDownListFor(vm => vm.SelectProductId, Model.ProductOptions, "", new { id="ProductOptions", @class = "select-input" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="product-offers">Offers</label>
                <div class="controls">
                    @Html.DropDownListFor(vm => vm.SelectedOfferKey, new SelectListItem[0], "", new { id="product-offers", @class = "select-input" })
                </div>
            </div>
            
            <div class="control-group" id="qty">
                @Bootstrap.LabelFor(Html, x => x.OfferQTY)
                <div class="controls">
                    @*@Bootstrap.TextBoxFor(Html, x => x.OfferQTY)*@
                    @Html.TextBoxFor(m=>m.OfferQTY)
                </div>
            </div>
        </div>
        <div>
              <h4 class="numberCircle">2</h4><h4>Your Details</h4>
            <div class="control-group">
                @Bootstrap.LabelFor(Html, x => x.FirstName)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, x => x.FirstName)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, x => x.LastName)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, x => x.LastName)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, x => x.CompanyName)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, x => x.CompanyName)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, x => x.CompanyPhone)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, x => x.CompanyPhone)
                </div>
            </div>
            <div class="control-group">
                @Bootstrap.LabelFor(Html, x => x.Country)
                <div class="controls">
                    @Html.DropDownListFor(vm => vm.Country, Model.CountryOptions, "", new { id = "country-input", @class = "select-input" })
                </div>
            </div>
            <div class="control-group">
                @Bootstrap.LabelFor(Html, x => x.Email)
                <div class="controls">
  @*                  @Html.ValidationMessageFor(m => m.Email)*@
                    @Bootstrap.TextBoxFor(Html, x => x.Email)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, x => x.Password)
                <div class="controls">
                    @Bootstrap.PasswordFor(Html, x => x.Password)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, x => x.RepeatPassword)
                <div class="controls">
                    @Bootstrap.PasswordFor(Html, x => x.RepeatPassword)
                </div>
            </div>
            
            <div class="control-group">
                <div style="margin: 0 auto; width: 318px;">
                      @Html.Raw(Html.GenerateCaptcha())
                        @Html.ValidationMessage("captcha")
                </div>
            </div>
        </div>
        
        <p style="font-size:smaller; margin-left: 20px;">By clicking 'register' you agree to the License agreement and privacy policy</p>
        <div class="control-group">
            <div class="controls">
                @Bootstrap.SaveButton("Register", "edit")
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    
    function Getoffers(productId) {
        var ddl = $('#product-offers');
        var offerKey = '@Request.QueryString["OfferKey"]';

        if (productId == 'undefined' || productId.length <= 0)
            ddl.empty();
        else
            $.getJSON('/account/product/offers/' + productId,
                function (data) {

                    ddl.empty();

                    $(data).each(function () {
                        ddl.append($('<option/>', { value: this.Key, issingle: this.IsSingle }).html(this.Name + ' ' + this.Price));
                    });

                    $('#product-offers').find('option[value=' + offerKey + ']').attr('selected', 'selected');
                });
    }
    $().ready(function () {
        
        $('#product-offers').change(function () {
            if ($('option[value=' + $('#product-offers').val() + ']').attr('issingle') == "true")
                $('#OfferQTY').attr("disabled", "disabled");
            else {
                $('#OfferQTY').removeAttr("disabled", "disabled");
            }
        });
        
        Getoffers($("#ProductOptions option:selected").val());
    });

    $("#country-input>option:eq(14)").attr('selected', true);
    

    $("#ProductOptions").change(function () {
        Getoffers($("#ProductOptions option:selected").val());
    });

</script>
