﻿@{
    ViewBag.Title = "Registration Success";
}

@section Header
{
<a href="http://palletplus.com.au"><img style="height: 40px; margin-left: 100px;" src="/Content/ntrack-pp-logo.png" alt="logo"></a>

    <a href="/">
                        <img class="pull-right" id="ntrackLogo" style="height: 32px; margin-right: 100px;" src="/Content/ntrack-logo.png" alt="logo" ></a>
}


<div class="box">
    
    <div class="boxHeader"><h4 style="color: black;">Registration Success.</h4></div>
<div class="boxBody">
    <p>
        Thank you for registering! You will receive an email from us shortly. Please click the link in the email to continue.
    </p> 
    <!-- Start test code -->
    <a href="@ViewBag.EmailVerificationUrl">@ViewBag.EmailVerificationUrl</a>
    <!-- End test code -->
</div>
    </div>
