﻿@{
    ViewBag.Title = "Reset Password Success";
}

<div class="box">
    
    <div class="boxHeader"><h4 style="color: black;">Reset Password Success</h4></div>
    <div class="boxBody">
        <p>
            Your password was rested. Please click the link in the email to continue. 
            <a href="@ViewBag.ResetPasswordLink">@ViewBag.ResetPasswordLink</a>
        </p>
    </div>
</div>

