﻿@using Subscription.Website.Infrastructure
@using nTrack.Web.Bootstrap
@model Subscription.Website.ViewModels.Account.UserVM

@{

        ViewBag.Title = "Edit " + Model.FullName + " user";

}

<h4>Edit @Model.FullName user</h4>
@using (Html.BeginForm("UserProfile", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary(false,null,(new {@class="well well-small"}))

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.FirstName)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html,x=>x.FirstName)
                        </div>
                    </div>
        
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.LastName)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.LastName)
                        </div>
                    </div>
        
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Email)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Email)
                        </div>
                    </div>
        
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Phone)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Phone)
                        </div>
                    </div>
        
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Mobile)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Mobile)
                        </div>
                    </div>
        
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.OldPassword)
                        <div class="controls">
                            @Bootstrap.PasswordFor(Html, x => x.OldPassword)
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Password)
                        <div class="controls">
                            @Bootstrap.PasswordFor(Html, x => x.Password)
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.RepeatPassword)
                        <div class="controls">
                            @Bootstrap.PasswordFor(Html, x => x.RepeatPassword)
                        </div>
                    </div>
                
                
                    <div class="control-group">
                        <div class="controls">
                            @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
                            @Bootstrap.SaveButton("Save", "edit").Disabled(!Model.AllowPost)
                        </div>
                    </div>
                }
