﻿@model PalletPlus.Website.ViewModels.PageViewModel

@{
    ViewBag.Title = "Login page";
}


<div class="box login-size">
    <div class="boxHeader">
        <h4 style="color: black">Login</h4>
    </div>
    <div class="boxBody">
        @Html.ValidationSummary()
        @Html.Partial("_Login",Model)
    </div>
</div>