﻿@using PalletPlus.Website.Models.DataVisualization

@{
    ViewBag.Title = "Exchanges Dashboard";
}

@Scripts.Render("~/bundles/dataviz")

<script>
    $(document).ready(function () {
        resetNav();
        $("#ExchangesDashboard").addClass("active");
    });
    
    var colors = [];
    $.get("@Url.Action("GetDashboardColors", "BalanceDashboard")", function (data) {
            $.each(data, function (i) {
                colors.push(data[i]);
            });
        });
</script>


<div class="span9">
    <div class="span8">
        @Html.Partial("_ExchangesBalanceDataVizPartial", new List<SiteEquipmentBalanceModel>())
    </div>
    <br/>
    
    <div class="span8">
        @{ Html.RenderAction("GetExchangeMovementViewModel", "ExchangesDashboard", new { Area = "Admin" }); }
    </div>
    @*<div class="span8">
        @Html.Partial("_EquipmentPerSiteDataVizPartial", new List<SiteEquipmentBalanceModel>())
    </div>*@
</div>