﻿@model SubscriptionEditPageViewModel

@{
    ViewBag.Title = "Edit " + Model.Product.Name + " Subscription";
}

<div id="edit-subscription-page">
    <h2>Edit @Model.Product.Name Subscription</h2>

    @if (ViewBag.ShowUpdateSuccessMessage != null && ViewBag.ShowUpdateSuccessMessage == true)
    {
        <p class="success-message">The subscription features were updated successfully.</p>
    }

    @{ Html.BeginForm("Edit", "Subscription", new { productID = Request["ProductID"] }, FormMethod.Post, new { id = "edit-subscription-form" }); }
    
    <ul id="feature-list">
    @for (int i = 0; i < Model.Product.Features.Count; i++)
    {
        ProductFeature feature = Model.Product.Features[i];
        
        <li>
            <input type="checkbox" id="feature-@(i)" name="SelectedFeatureCodes" value="@(feature.Code)" checked="@(Model.SelectedFeatureCodes.Contains(feature.Code) ? "checked" : null)" />
            <label for="feature-@(i)" class="feature-name">@feature.Name</label> - @feature.Description
        </li>
    }
    </ul>

    <div class="buttons-container">
        <input type="submit" name="updateFeaturesCommand" value="Update Features" />
        <input type="submit" name="terminateSubscriptionCommand" value="Terminate Subscription" />
    </div>

    @{ Html.EndForm(); }
</div>