﻿@model SubscriptionIndexPageViewModel

@{
    ViewBag.Title = "Index";
}

<div id="subscription-index-page">
    <h2>My Products</h2>
    <ul class="product-list">
    @foreach (ProductSummary product in Model.MyProducts)
    {
        <li>@Html.ActionLink(product.Name, "Edit", "Subscription", new { productID = product.ID }, null)</li>
    }
    </ul>

    <h2>Other Products</h2>
    <ul class="product-list">
    @foreach (ProductSummary product in Model.OtherProducts)
    {
        <li>@Html.ActionLink(product.Name, "New", "Subscription", new { productID = product.ID }, null)</li>
    }
    </ul>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#subscriptions-menu-item').addClass('current');
        });
    </script>
}