﻿@model SubscriptionNewPageViewModel

@{
    ViewBag.Title = "New Subscription";
}

<div id="new-subscription-page">
    <h2>Subscribe to @Model.Product.Name</h2>
    
    @{ Html.BeginForm("NewSubscription", "Subscription", new { productID = Request["ProductID"] }, FormMethod.Post, new { id = "new-subscription-form" }); }

        <h3>Features</h3>
        <ul id="feature-list">
        @for (int i = 0; i < Model.Product.Features.Count; i++)
        {
            ProductFeature currentFeature = Model.Product.Features[i];
            <li>
                <input type="checkbox" id="feature-@(i)-input" name="SelectedFeatureCodes" value="@(currentFeature.Code)" />
                <label for="feature-@(i)-input">@(currentFeature.Name)</label> - @(currentFeature.Description)
            </li>
        }
        </ul>
        <input type="submit" id="subscribe-button" value="Subscribe" />
    
    @{ Html.EndForm(); }
</div>


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#new-subscription-form').submit(function () {
                if ($('input[name=SelectedFeatureCodes]:checked').length == 0) {
                    alert('You should select at least one of the product features.');
                    return false;
                }
            });
        });
    </script>
}