﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Partner.PartnerEditViewModel

<script>
    $(document).ready(function () {
        $("#add-site-modal").hide();
        $.validator.unobtrusive.parse($('form'));
    });
</script>

<a id="add-site-button" data-toggle="modal" data-target="#add-site-modal" class="btn" href=""><i class="icon-plus-sign"></i>Add site</a>

@using (Html.BeginForm("AddSite", "Partner", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.PartnerId)
    
    <div class="modal" id="add-site-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="add-site-label">Add site</h3>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary()

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.SiteVM.SiteId)
                <div class="controls">
                    @(Html.Kendo().ComboBoxFor(m => m.SiteVM.SiteId)
                          .Name("SiteVM.SiteId")
                          .DataTextField("SiteName")
                          .DataValueField("Id")
                          .BindTo(Model.ComboboxSites)
                          .Value(""))
                </div>
                <div class="controls">
                    @Html.ValidationMessageFor(x => x.SiteVM.SiteId)
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <button id="add-site-submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}

<script> 
    $("#add-site-submit").click(function () {
        $(this).addClass('loading');
    });
</script>
