﻿@using Kendo.Mvc.UI
@using PalletPlus.Data
@using PalletPlus.Website.Areas.Admin.ViewModels.Partner
@using Raven.Client.Linq
@using nTrack.Web.Bootstrap
@model PartnerEditViewModel


<script>
    $(document).ready(function () {
        $("#add-supplier-modal").hide();
        $.validator.unobtrusive.parse($('form'));
    });
</script>

<a id="add-supplier-button" data-toggle="modal" data-target="#add-supplier-modal" class="btn" href=""><i class="icon-plus-sign"></i>Add supplier</a>

@using (Html.BeginForm("AddSupplier", "Partner", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.PartnerId)
    
    <div class="modal" id="add-supplier-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="add-supplier-label">Add supplier</h3>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary()

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.SupplierVM.SupplierId)
                <div class="controls">
                    @(Html.Kendo().ComboBoxFor(m => Model.SupplierVM.SupplierId)
                          .Name("SupplierVM.SupplierId")
                          .DataTextField("SupplierName")
                          .DataValueField("Id")
                          .BindTo(Model.ComboboxSuppliers)
                          .Value("")
                          )
                </div>
                <div class="controls">
                    @Html.ValidationMessageFor(x => x.SupplierVM.SupplierId)
                </div>
            </div>
            
            <div id="account-no" class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.SupplierVM.SupplierAccountNo)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.SupplierVM.SupplierAccountNo, null, "acccountNo")
                </div>
            </div>
            
            <div id="enable-exchange" class="control-group">
                <div class="controls">
                    @Bootstrap.CheckBoxFor(Html, m => Model.SupplierVM.EnableExchange, "EnableExchange", "Enable Exchange")
                </div>
            </div>
            

        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <button id="add-supplier-submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}

<script>
   // ValidateItem("SupplierVM_SupplierAccountNo", true, "The Supplier Account Number field is required.");

    $("#add-supplier-submit").click(function () {
        $(this).addClass('loading');
    });

    $("#SupplierVM_EquipmentCentre").change(function () {
       // ValidateItem("SupplierVM_SupplierAccountNo", true, "The Supplier Account Number field is required.");
    });
    
</script>
