﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Partner.PartnerEditViewModel

<script>
    $(document).ready(function () {
        $("#add-transporter-modal").hide();
        ValidateItem("TransporterVM_TransporterId", true, "The Transporter field is required.");
    });
</script>

<a id="add-transporter-button" data-toggle="modal" data-target="#add-transporter-modal" class="btn" href=""><i class="icon-plus-sign"></i>Add transporter</a>

@using (Html.BeginForm("AddTransporter", "Partner", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.PartnerId)
    
    <div class="modal" id="add-transporter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="add-transporter-label">Add transporter</h3>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary()

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.TransporterVM.TransporterId)
                <div class="controls">
                    @(Html.Kendo().ComboBoxFor(m => Model.TransporterVM.TransporterId)
                          .Name("TransporterVM.TransporterId")
                          .DataTextField("TransporterName")
                          .DataValueField("Id")
                          .BindTo(Model.ComboboxTransporters)
                          .Value(""))
                </div>
            </div>
            

        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <button id="add-transporter-submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}

<script> 
    $("#add-transporter-submit").click(function () {
        $(this).addClass('loading');
    });
</script>
