﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Partner.PartnerEditViewModel

  @using (Html.BeginForm("PutFile", "Partner", new { area = "Admin", returnUrl = Request.Url, partnerId = @Model.PartnerId}, FormMethod.Post, new {@class = "form-horizontal", id ="documentsForm"}))
        {
        @Html.ValidationSummary(null as string, new {@class = "alert alert-error"})
            <div class="control-group">
            
                @(Html.Kendo().Upload()
                           .Name("files").Events(p =>
                                                {
                                                    p.Select("onselect");
                                                    p.Remove("onremove");
                                                })
                      )
            </div>
       <button type="submit" class="btn" ><i class="icon-plus-sign"></i>Add files</button>
        }


<script type="text/javascript">
    var totalFiles = 0;

    function onselect(e) {

            $.each(e.files, function (index, value) {
                if (value.size > 1024000) {
                    e.preventDefault();
                    alert("You can not upload file that isn't bigger than 1MB!");
                } else {
                    totalFiles++;
                }
            });
    };

    jQuery("#documentsForm").submit(function (e) {
     
        if (totalFiles == 0) {
            e.preventDefault();
            alert("You didn't chose any files!");
        }
    });
    
    function onremove(e) {
        totalFiles--;
    }
</script>