﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Partner.PartnerViewModel
@{
        ViewBag.Title = "Create Partner";
}


<script>
    $(document).ready(function () {
        resetNav();
        $("#Partners").addClass("active");
        
        $("#Tags").tagit({
            autocomplete: {
                delay: 0, minLength: 2,
                source: function (request, response) {
                    $.getJSON("@(Url.Action("AvailableTags","Partner"))", {
                        term: request.term
                    }, response);
                },
                messages: {
                    noResults: '',
                    results: function () { }
                }
            }
        });
    });
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Create Partner</legend>

            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Details</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        @using (Html.BeginForm("Create", "Partner", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                            @Html.ValidationSummary()

                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.CompanyName)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.CompanyName)
                                </div>
                            </div>
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.AddressLine1)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine1)
                                </div>
                            </div>
                      
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine2)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Suburb)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Suburb)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.PostCode)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.PostCode)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.State)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.State)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Country)
                                <div class="controls">
                                    @Html.DropDownListFor(m => m.Country, Model.ComboboxCountries)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.ContactName)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.ContactName)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.ContactEmail)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.ContactEmail)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.CheckBoxFor(Html, m => Model.IsPTAEnabled, "isPTAEnabled", "Use PTA Process")
                                </div>
                            </div>@*
                            
                             <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.CheckBoxFor(Html, m => Model.IsExchangeEnabled, "isExchangeEnabled", "Use Exchange Process")
                                </div>
                            </div>*@
                            
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Tags)
                                <div class="controls">
                                   <ul id="Tags" class="span3"></ul>
                                </div>
                            </div>
                            
                            <style scoped>
                                #isPTAEnabled,#isExchangeEnabled {
                                    width:auto
                                }

                                #Tags {
                                    margin-left: 0;
                                }
                            </style>
            
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.SaveButton("Save", "edit")
                                    @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Partner"))
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>