﻿@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.Admin.ViewModels.Partner
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Partner.PartnerEditViewModel

@{
    var tab = TempData["tab-value"] ?? "details";
    var suppliers = Model.SuppliersVM.Any();
    var sites = Model.SitesVM.Any();
    var transporters = Model.TransportersVM.Any();
}

<script>
    $(document).ready(function () {
        resetNav();
        $('#myTab a[href=#@tab]').tab('show');
        $("#Partners").addClass("active");
        
        $("#Tags").tagit({
            autocomplete: {
                delay: 0, minLength: 2,
                source: function (request, response) {
                    $.getJSON("@(Url.Action("AvailableTags","Partner"))", {
                        term: request.term
                    }, response);
                },
                messages: {
                    noResults: '',
                    results: function () { }
                }
            }
        });
    });
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Edit Partner</legend>

            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                    <li><a href="#sites" data-toggle="tab">Sites</a></li>
                    <li><a href="#suppliers" data-toggle="tab">Suppliers</a></li>
                    <li><a href="#documents" data-toggle="tab">Documents</a></li>
                    @*<li><a href="#transporters" data-toggle="tab">Transporter</a></li>*@
                </ul>
                <div class="tab-content">
                    @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                    <div class="tab-pane active" id="details">
                    
                        @using (Html.BeginForm("Edit", "Partner", FormMethod.Post, new { @class = "form-horizontal" }))
                        {                   
                            @Html.ValidationSummary()
                            @Html.HiddenFor(x => Model.PartnerId)

                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.PartnerName)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.PartnerName)
                                </div>
                            </div>
                                  
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.AddressLine1)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine1)
                                </div>
                            </div>
                      
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine2)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Suburb)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Suburb)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Postcode)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Postcode)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.State)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.State)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Country)
                                <div class="controls">
                                    @Html.DropDownListFor(m => m.Country, Model.ComboboxCountries)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.ContactName)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.ContactName)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.ContactEmail)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.ContactEmail)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.CheckBoxFor(Html, m => Model.IsPTAEnabled, "isPTAEnabled", "Use PTA Process")
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Tags)
                                <div class="controls">
                                    <ul id="Tags" class="span3">
                                        @{
                            if (Model.Tags != null && Model.Tags.Any())
                            {
                                foreach (var item in Model.Tags)
                                {
                                    <li>@item</li>
                                }
                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            @*
                            

                              <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.CheckBoxFor(Html, m => Model.IsExchangeEnabled, "isExchangeEnabled", "Use Exchange Process")
                                </div>
                            </div>
                            
                            
                            *@<style scoped>
                                #isPTAEnabled,#isExchangeEnabled {
                                    width:auto
                                }
                                  #Tags {
                                    margin-left: 0;
                                }
                            </style>
                            
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.SaveButton("Save", "edit")
                                    @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Partner"))
                                </div>
                            </div>
                        }
                    </div>

                    <div class="tab-pane" id="sites">
                        @Html.Partial("_AddSitePartial")

                        @if (sites)
                        {
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Site Name</th>
                                        <th>State</th>
                                        <th>Suburbx</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                            var i = 0;
                            foreach (var item in Model.SitesVM)
                            {
                                i++;
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.SiteName</td>
                                                <td>@item.State</td>
                                                <td>@item.Suburb</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                           href="@Url.Action("DeleteSite", "Partner", new { id = Model.PartnerId, siteId = item.SiteId })">
                                                            <i class="icon-remove"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                            }
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div class="tab-pane" id="suppliers">
                        @Html.Partial("_AddSupplierPartial")
                    
                        @if (suppliers)
                        {
                            <table class="table table-condensed table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Supplier Name</th>
                                        <th>Supplier Account Number</th>
                                        <th>Contact Email</th>
                                        <th>Enable Exchange?</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                            var i = 0;
                            foreach (var item in Model.SuppliersVM)
                            {
                                using (Ajax.BeginForm("EditSupplier", "Partner", null, new { @class = "form-horizontal" }))
                                {
                                                @Html.HiddenFor(x => Model.PartnerId)
                                    i++;
                                                <tr style="background-color: #F9F9F9">
                                                    <td>@i</td>
                                                    <td>@item.SupplierName</td>
                                                    <td>@item.SupplierAccountNo</td>
                                                    <td><a href="mailto:@item.ContactEmail">@item.ContactEmail</a></td>
                                                    <td>
                                                         @Ajax.ActionLink(item.EnableExchange ? "Yes" : "No","EditEnableExchange","Partner",
                                                        new { partnerId = item.PartnerId,supplierId = item.SupplierId,enableExchange = !item.EnableExchange},
                                                        new AjaxOptions
                                                            {
                                                                HttpMethod = "Post",
                                                                OnSuccess = "ChangeEnableExchangeLink('enableExchange" + item.SupplierId + "')"
                                                            },new {id="enableExchange" + item.SupplierId.ToString()})
                                                    </td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <span>
                                                                <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                                   href="@Url.Action("DeleteSupplier", "Partner", new { id = Model.PartnerId, supplierId = item.SupplierId })">
                                                                    <i class="icon-remove"></i>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td colspan="8">
                                                        @Html.Partial("_EditSupplierEquipmentPartial", new PartnerSupplierEquipmentViewModel(Model.PartnerId, item.SupplierId, item.Equipment, item.EquipmentAvailable))
                                                    </td>
                                                </tr>
                                }
                            }
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    
                    <div class="tab-pane" id="documents">
                        
                         @Html.Partial("_File", Model)
                        
                        @if (Model.DocumentsVM != null && Model.DocumentsVM.Count > 0)
                        {
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>File name</th>
                                        <th>Size (bytes)</th>
                                        <th>MIME</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                            var a = 0;
                            foreach (var item in Model.DocumentsVM)
                            {
                                a++;
                                            <tr>
                                                <td>@a</td>
                                                <td>@item.Value.Name</td>
                                                <td>@item.Value.ByteSize</td>
                                                <td>@item.Value.MIME</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <a class="btn btn-small" rel="tooltip" title="View"
                                                           href="@Url.Action("GetFile", "Partner", new { partnerId = Model.PartnerId, attachmentKey = item.Key })">
                                                            <i class="icon-download"></i>
                                                        </a>
                                                    </div>
                                                             <div class="btn-group">
                                                        <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this file?')" rel="tooltip" title="Delete"
                                                           href="@Url.Action("DeleteFile", "Partner", new { partnerId = Model.PartnerId, attachmentKey = item.Key, returnUrl = Request.Url })">
                                                            <i class="icon-remove"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                            }
                                    }
                                </tbody>
                            </table>
                        }   
                    </div>

                    @*<div class="tab-pane" id="transporters">
                        @Html.Partial("_AddTransporterPartial")

                        @if (transporters)
                        {
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Transporter Name</th>
                                        <th>State</th>
                                        <th>Suburbx</th>
                                        <th>Contact Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 0;
                                        foreach (var item in Model.TransportersVM)
                                        {
                                            i++;
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.TransporterName</td>
                                                <td>@item.State</td>
                                                <td>@item.Suburb</td>
                                                <td>@item.ContactEmail</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                           href="@Url.Action("DeleteTransporter", "Partner", new { id = Model.PartnerId, transporterId = item.TransporterId })">
                                                            <i class="icon-remove"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                    </div>*@

                </div>
            </div>
        </fieldset>
    </div>
</div>

<script>  
    function btnclick(e) {
        var editSpanId = "0-" + e.id.toString();
        var saveSpanId = "1-" + e.id.toString();

        $("#" + editSpanId).toggle();
        $("#" + saveSpanId).toggle();
        
        switch(e.title) {
        case "Edit":
            $("." + e.id).removeAttr("disabled");
            break;
        case "Save":
            $("." + e.id).attr("disabled", "disabled");
            break;
        }
    }
</script>

<script>
    function ChangeEnableExchangeLink(exchangelink) {
        var innerCode = $("#" + exchangelink).html();

        if (innerCode == "Yes") {
            $("#" + exchangelink).html("No");
        } else {
            $("#" + exchangelink).html("Yes");
        }
       
    }
</script>