﻿@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.Admin.ViewModels.Partner
@{
    ViewBag.Title = "Partners";
}
<script>
    $(document).ready(function() {
        resetNav();
        $("#Partners").addClass("active");
        if ($.getUrlVar('showDeleted') == 'True') {
            $("#showDeleted").attr('checked', 'checked');
        }
        var url = $.getUrlVar('Grid-filter');
        if (url != null && url != "") {
            var searchVal = decodeURIComponent(url.split('~')[2].split("'")[1]);
            $("#search").val(searchVal);
        }
    });
</script>

<div class="span8">
    <fieldset>
        <legend>Partners</legend>

        @(Html.Kendo().Grid<PartnerViewModel>()
              .Name("Grid")
              .Columns(columns =>
                           {
                               columns.AutoGenerate(false);
                               columns.Bound(p => p.CompanyName);
                               columns.Bound(p => p.Suburb);
                               columns.Bound(p => p.State);
                               columns.Bound(p => p.ContactEmail).ClientTemplate(
                                   "<a href='mailto:#= ContactEmail #'>#= ContactEmail #</a>");
                               //columns.Bound("").Title("Edit / Delete").Width(50).ClientTemplate(
                               //    "<div class=\"btn-group\">" +
                               //    "<a class=\"btn btn-small\" rel=\"tooltip\" title=\"Edit\" href=\"" + @Url.Action("Edit", "Partner", new {area = "Admin"}) + "?id=#= PartnerId #\">"
                               //    + "<i class=\"icon-edit\"></i>" +
                               //    "</a>" +
                               //    "# if(!IsDeleted) { #" +
                               //    "<a class=\"btn btn-small\" onclick=\" return confirm('Are you sure you want to delete this record?')\" rel=\"tooltip\" title=\"Delete\"" +
                               //    "href=\"" + @Url.Action("Delete", "Partner", new {area = "Admin"}) + "?id=#= PartnerId #&showDeleted=" + ViewBag.ShowDeleted + "\">" +
                               //    "<i class=\"icon-remove\"></i>" +
                               //    "</a>" +
                               //    "# } else { #" +
                               //    "<a class=\"btn btn-small\" type=\"submit\" onclick=\"return confirm('Are you sure you want to undelete this record?')\" rel=\"tooltip\" title=\"Undelete\"" +
                               //    "href=\"" + @Url.Action("Undelete", "Partner", new {area = "Admin"}) + "?id=#= PartnerId #&showDeleted=" + ViewBag.ShowDeleted + "\">" +
                               //    "<i class=\"icon-ok\"></i>" +
                               //    "</a>" +
                               //    "# } #" +
                               //    "</div>");
                           })
              .ToolBar(toolbar => toolbar.Template("<a id=\"add-partner-button\" class=\"btn\" " +
                                                   "href=" + @Url.Action("Create", "Partner") + "> <i class=\"icon-plus-sign\"></i> Add partner</a>" +
                                                   "<button id='search-btn' class='btn' type='button'>Search</button></span>"+
                                                   "<input class='black-search' type='search' id='search' style='width: 230px'></input>"+
                                                   "<label class='toolbar'>Show deleted<span class='toolbar black-checkbox'><input type='checkbox' id='showDeleted' name='check' /><label for='squaredThree'></label></span></label>"
                                      ))
              .Sortable(s => s.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
              .DataSource(p =>
                              {
                                  p.Ajax()
                                      .Read("GetPartners", "Partner", new {showDeleted = ViewBag.ShowDeleted});
                              }
              )
              .Pageable(action => action.PageSizes(new []{5, 10, 20, 50})))
    </fieldset>
</div>

<script>
    $("#showDeleted").click(function() {
        var value = this.checked;
        var url;
        if (value) {
            url = '@Url.Action("Index", "Partner", new { area = "Admin", showDeleted = true })';
        }
        else {
            url = '@Url.Action("Index", "Partner", new { area = "Admin", showDeleted = false })';
        }
        window.location.href = url;
    });

    $("#search-btn").click(function() {
        var searchValue = $("#search").val();
        var grid = $("#Grid").data("kendoGrid");
        if (searchValue != "") {
            grid.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "CompanyName", operator: "startswith", value: searchValue },
                    { field: "ContactEmail", operator: "startswith", value: searchValue }
                ]
            });
        } else {
            grid.dataSource.filter({});
        }
    });
</script>


<style scoped="scoped">
    #search-btn {
        float: right;
        margin-left: 5px;
    }

    input[type=checkbox] {
	    visibility: hidden;
    }
    .black-checkbox {
	    width: 20px;	
	    margin: 4px auto;
    }
</style>