﻿@model PalletPlus.Website.Areas.User.ViewModels.TransporterReturn.TransporterReturnViewModel
@using nTrack.Web.Bootstrap

@Bootstrap.LabelFor(Html, m => Model.Transporter)
<div class="controls">
    @Bootstrap.ComboboxFor(Html, m => Model.Transporter, Model.Transporters)
</div>

<script>
    $.validator.unobtrusive.parse($('form'));
    $("#Transporter").combobox();

    $("#Transporter").change(function() {
        var id = $("#SupplierId option:selected").val();
        $("#details-div").html("");

        if ($("#Transporter option:selected").val() == "") return;

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCascadeDetails", "TransporterReturn", new { id = UrlParameter.Optional })" + id
        }).done(function(msg) {
            $("#details-div").html(msg);
        });
    });
</script>