﻿@model PalletPlus.Website.Areas.User.ViewModels.TransporterReturn.TransporterReturnViewModel
@using nTrack.Web.Bootstrap

@using (Html.BeginForm("Save", "TransporterReturn", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => Model.EquipmentProvider)
    <fieldset>
        <legend>Return Details</legend>
        @Html.ValidationSummary()

        @{
            foreach (var e in Model.Assets)
            {
                <div class="control-group">
                    <label class="control-label">@Model.AssetNames[e.Key]</label>
                    <div class="controls">
                        <input data-val="true" data-val-number="The field must be a number." name="Equipment[@e.Key]" type="text" value=""> 
                    </div>
                </div>
            }
        }
        
        <div class="control-group">
            <div class="controls">
                @Bootstrap.SaveButton("Save", "edit")
                @Bootstrap.BackButton("Cancel", "back", Url.Action("Index", "Home"))
            </div>
        </div>
    </fieldset>
}
<script>
    $.validator.unobtrusive.parse($('form'));
</script>