﻿@model PalletPlus.Website.Areas.User.ViewModels.TransporterReturn.TransporterReturnViewModel
@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        resetNav();
        $("#TransporterReturns").addClass("active");
        $("#SupplierId").combobox();
        $("#Transporter").combobox();
    });
</script>

<style scoped>
    .btn-small {
        margin-left: 15px;
    }
    .input-xlarge {
        float: left;
    }
</style>

<span class="label label-info">Transporter return</span>

<div class="span9">
    <div class="row">
        <div class="tabbable" style="margin-left: 10px;">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#return" data-toggle="tab">Return</a></li>
            </ul>
            <div class="tab-content">
                @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                <div class="tab-pane active" id="return">
                    <div class="form-horizontal">
                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, m => Model.EquipmentProvider)
                            <div class="controls">
                                @Bootstrap.ComboboxFor(Html, m => Model.EquipmentProvider, Model.Providers)
                            </div>
                        </div>

                        <div id="transporters-div" class="control-group">
                            @Bootstrap.LabelFor(Html, m => Model.Transporter)
                            <div class="controls">
                                @Bootstrap.ComboboxFor(Html, m => Model.Transporter, Model.Transporters)
                            </div>
                        </div>
                        
                        <div id="details-div" ></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<script>
    $("#SupplierId").change(function () {
        var id = $("#SupplierId option:selected").val();
        $("#Transporter").html("");
        $("#details-div").html("");
        
        if (id == "") return;

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCascadeTransporters", "TransporterReturn", new { id = UrlParameter.Optional })"+id
        }).done(function (msg) {
            $("#transporters-div").html(msg);
        });
    });
</script>