﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Supplier.LocationViewModel

<script>
    $(document).ready(function () {
        $("#edit-location-modal-@Model.OrderNo").hide();
        ValidateItem("LocationVM_LocationName", true, "The Location Name field is required.");
        ValidateItem("LocationVM_AccountNumber", true, "The Account Number field is required.");
        ValidateItem("LocationVM_AddressLine1", true, "The Address field is required.");
        ValidateItem("LocationVM_Suburb", true, "The Suburb field is required.");
        ValidateItem("LocationVM_Postcode", true, "The Postcode field is required.");
        ValidateItem("LocationVM_State", true, "The State field is required.");
    });
</script>

@using (Html.BeginForm("EditLocation", "Supplier", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-horizontal">
        <div class="modal" id="edit-location-modal-@Model.OrderNo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="edit-location-label">Edit location</h3>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.SupplierId)
                @Html.HiddenFor(x => x.LocationKey)

                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.LocationName)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.LocationName)
                    </div>
                </div>

                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.AccountNumber)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.AccountNumber)
                    </div>
                </div>

                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.AddressLine1)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.AddressLine1)
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.AddressLine2)
                    </div>
                </div>

                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.Suburb)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.Suburb)
                    </div>
                </div>

               

                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.State)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.State)
                    </div>
                </div>
                
                 <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.Postcode)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.Postcode)
                    </div>
                </div>
            
                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.Country)
                    <div class="controls">
                        @Html.DropDownListFor(m => m.Country, Model.ComboboxCountries)
                    </div>
                </div>

                

                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.ContactName)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.ContactName)
                    </div>
                </div>
                
                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.ContactEmail)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.ContactEmail)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                <button id="edit-location-submit-@Model.OrderNo" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

<script> 
    $("#edit-location-submit-@Model.OrderNo").click(function () {
        $(this).addClass('loading');
    });
</script>
