﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Supplier.SupplierViewModel

<script>
    $(document).ready(function () {
        resetNav();
        $("#Suppliers").addClass("active");
        $('#ProviderName').combobox();
    });
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Create Supplier</legend>

            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Supplier</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        @using (Html.BeginForm("Create", "Supplier", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                            @Html.ValidationSummary()

                            <fieldset>
                                <legend>Supplier Details</legend>
                            
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.SupplierName)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.SupplierName)
                                    </div>
                                </div>
            
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.ContactEmail)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.ContactEmail)
                                    </div>
                                </div>
            
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.ProviderName)
                                    <div class="controls">
                                        <div id="ExportProviderNameCombobox">@Bootstrap.ComboboxFor(Html, m => m.ProviderName, Model.ExportProviderNames)</div>
                                    </div>
                                </div>
                                
                                <div class="control-group">
                                    <div class="controls">
                                        @Bootstrap.CheckBoxFor(Html, m => Model.IsPTAEnabled, "isPTAEnabled", "Use PTA Process")
                                    </div>
                                </div>
                                
                                <style scoped>
                                #isPTAEnabled {
                                    width:auto
                                }
                            </style>
 
                            </fieldset>@*
                            
                            <fieldset>
                                <legend>Default Location Address</legend>
                                
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.LocationName)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.LocationName)
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.AccountNumber)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.AccountNumber)
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.AddressLine1)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.AddressLine1)
                                    </div>
                                </div>
                      
                                <div class="control-group">
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.AddressLine2)
                                    </div>
                                </div>
            
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.Postcode)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.Postcode)
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.Suburb)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.Suburb)
                                    </div>
                                </div>
                        
                                
                        
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.State)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.State)
                                    </div>
                                </div>
            
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.ContactName)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.ContactName)
                                    </div>
                                </div>
                        
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => Model.Country)
                                    <div class="controls">
                                        @Html.DropDownListFor(m => m.Country, Model.ComboboxCountries)
                                    </div>
                                </div>

                            </fieldset>*@

                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.SaveButton("Save", "edit")
                                    @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Supplier"))
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>