﻿@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.Admin.ViewModels.Supplier
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Supplier.SupplierEditViewModel

@{
    var tab = TempData["tab-value"] ?? "details";
    var equipment = Model.Equipment.Any();
    var locations = Model.Locations.Any();
}

<script type="text/javascript">
    $(document).ready(function () {
        resetNav();
        $('#myTab a[href=#@tab]').tab('show');
        $("#Suppliers").addClass("active");
        $('#ProviderName').val("@Model.ProviderName");
        $('#ProviderName').combobox();

    });
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Edit Supplier</legend>

            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                    <li><a href="#equipment" data-toggle="tab">Equipment</a></li>
                    <li><a href="#locations" data-toggle="tab">Locations</a></li>
                </ul>
                <div class="tab-content">
                    @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                    <div class="tab-pane active" id="details">
                    
                        @using (Html.BeginForm("Edit", "Supplier", FormMethod.Post, new { @class = "form-horizontal" }))
                        {                   
                            @Html.ValidationSummary()
                            @Html.HiddenFor(x => Model.SupplierId)
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.SupplierName)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.SupplierName)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.ContactEmail)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.ContactEmail)
                                </div>
                            </div>
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.ProviderName)
                                <div class="controls">
                                    <div id="ExportProviderNameCombobox">@Bootstrap.ComboboxFor(Html, m => Model.ProviderName, Model.ProviderNames)</div>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.CheckBoxFor(Html, m => Model.IsPTAEnabled, "isPTAEnabled", "Use PTA Process")
                                </div>
                            </div>
                            
                            <style scoped>
                                #isPTAEnabled {
                                    width:auto
                                }
                            </style>

                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.SaveButton("Save", "edit")
                                    @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Supplier"))
                                </div>
                            </div>
                        }
                    </div>
                    
                    <div class="tab-pane" id="equipment">
                    
                        @Html.Partial("_AddEquipmentPartial")

                        @if (equipment)
                        {
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Equipment Code</th>
                                        <th>Equipment Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 0;
                                        foreach (var item in Model.Equipment)
                                        {
                                            string cls = "";
                                            if (item.IsDeleted){ cls = "deleted"; }
                                            i++;
                                            <tr class="@cls">
                                                <td>@i</td>
                                                <td>@item.EquipmentCode</td>
                                                <td>@item.EquipmentName</td>
                                                <td>
                                                    @if(item.IsDeleted)
                                                    {
                                                        <div class="btn-group">
                                                            <a class="btn btn-small" onclick="return confirm('Are you sure you want to re-instate this record?')" rel="tooltip" title="re-instate"
                                                               href="@Url.Action("UndeleteEquipment", "Supplier", new {id = Model.SupplierId, equipmentCode = item.EquipmentCode})">
                                                                <i class="icon-ok"></i>
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="btn-group">
                                                            <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                               href="@Url.Action("DeleteEquipment", "Supplier", new {id = Model.SupplierId, equipmentCode = item.EquipmentCode})">
                                                                <i class="icon-remove"></i>
                                                            </a>
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    
                    <div class="tab-pane" id="locations">
                    
                        @Html.Partial("_AddLocationPartial")

                        @if (locations)
                        {
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Location Name</th>
                                        <th>Account Number</th>
                                        <th>Suburb</th>
                                        <th>State</th>                                     
                                        <th>Contact Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 0;
                                        foreach (var item in Model.Locations.Values)
                                        {
                                            string cls = "";
                                            if (item.IsDeleted){ cls = "deleted"; }
                                            i++;
                                            @Html.Partial("_EditLocationPartial", new LocationViewModel(item, Model.SupplierId, Model.ComboboxCountries, i))
                                            <tr class="@cls">
                                                <td>@i</td>
                                                <td>@item.CompanyName</td>
                                                <td>@item.AccountNumber</td>
                                                 <td>@item.Suburb</td>
                                                <td>@item.State</td>
                                                <td>@item.ContactEmail</td>
                                                <td>
                                                    <div class="btn-group">
                                                        @*<a class="btn btn-small" rel="tooltip" title="Edit"
                                                           href="@Url.Action("EditLocation", "Supplier", new {id = Model.SupplierId, locationKey = item.LocationKey})">
                                                            <i class="icon-edit"></i>
                                                        </a>*@
                                                        <a class="btn btn-small" rel="tooltip" title="Edit location"
                                                           data-toggle="modal" data-target="#edit-location-modal-@i" href="#"><i class="icon-edit"></i>
                                                        </a>
                                                        @if(!item.IsDeleted)
                                                        {
                                                            <a class="btn btn-small" rel="tooltip" onclick="return confirm('Are you sure you want to delete this record?')" title="Remove"
                                                               href="@Url.Action("RemoveLocation", "Supplier", new {id = Model.SupplierId, locationKey = item.LocationKey})">
                                                                <i class="icon-remove"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-small" rel="tooltip" onclick="return confirm('Are you sure you want to undelete this record?')" title="Unremove"
                                                               href="@Url.Action("UnremoveLocation", "Supplier", new {id = Model.SupplierId, locationKey = item.LocationKey, accountNumber = item.AccountNumber})">
                                                                <i class="icon-ok"></i>
                                                            </a>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                    </div>

                </div>
            </div>
        </fieldset>
    </div>
</div>

<style scoped>
    .deleted {
        text-decoration: line-through;
    }
</style>