﻿@using Kendo.Mvc.UI
@model IEnumerable<PalletPlus.Website.Areas.Admin.ViewModels.Supplier.SupplierViewModel>

<script>
    $(document).ready(function () {
        resetNav();
        $("#Suppliers").addClass("active");
        if ($.getUrlVar('showDeleted') == 'True') {
            $("#showDeleted").attr('checked', 'checked');
        }
    });
</script>

<div class="span8">
        <fieldset>
            <legend>Suppliers</legend>

            @(Html.Kendo().Grid(Model)
                  .Name("Grid")
                  .Columns(columns =>
                               {
                                   columns.AutoGenerate(false);
                                   columns.Bound(p => p.SupplierName);
                                   columns.Bound(p => p.ContactEmail);
                                   columns.Template(
                                       @<text>
                                            <div class="btn-group">
                                                <a class="btn btn-small" rel="tooltip" title="Edit" href="@Url.Action("Edit", "Supplier", new { id = item.SupplierId, area = "Admin" })">
                                                    <i class="icon-edit"></i>
                                                </a>
                                                @if(!item.IsDeleted)
                                                {
                                                    <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                       href="@Url.Action("Delete", "Supplier", new {id = item.SupplierId, showDeleted = ViewBag.showDeleted, area = "Admin"})">
                                                        <i class="icon-remove"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-small" onclick="return confirm('Are you sure you want to undelete this record?')" rel="tooltip" title="Undelete"
                                                       href="@Url.Action("Undelete", "Supplier", new {id = item.SupplierId, showDeleted = ViewBag.showDeleted, area = "Admin"})">
                                                        <i class="icon-ok"></i>
                                                    </a>
                                                }
                                            </div>
                                        </text>
                                       ).Title("Edit / Delete").Width(90);
                               })
                  .ToolBar(toolbar => toolbar.Template("<a id=\"add-supplier-button\" class=\"btn\" " +
                                                       "href=" + @Url.Action("Create", "Supplier") + "> <i class=\"icon-plus-sign\"></i> Add supplier</a>"+
                                                       "<label class='toolbar'>Show deleted<span class='toolbar black-checkbox'><input type='checkbox' id='showDeleted' name='check' /><label for='squaredThree'></label></span></label>"))
                  .Sortable()
            )
        </fieldset>
</div>

<script>
    $("#showDeleted").click(function () {
        var value = this.checked;
        var url;
        if (value) {
            url = '@Url.Action("Index", "Supplier", new { area = "Admin", showDeleted = true })';
        }
        else {
            url = '@Url.Action("Index", "Supplier", new { area = "Admin", showDeleted = false })';
        }
        window.location.href = url;
    });
</script>

<style scoped="scoped">

    input[type=checkbox] {
	    visibility: hidden;
    }
    .black-checkbox {
	    width: 20px;	
	    margin: 4px auto;
    }

</style>