﻿@model PalletPlus.Website.Areas.User.ViewModels.RecordMovement.RecordMovementViewModel
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        resetNav();
        $("#RecordInMovement").addClass("active");
        $('#SupplierId').combobox();
    });
</script>

<style scoped>
    .btn-small {
        margin-left: 15px;
    }
    .input-xlarge {
        float: left;
    }
</style>


<div class="span9">
    <div class="row">
            <div class="tabbable" style="margin-left: 10px;">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#movement" data-toggle="tab">Record Receive movement</a></li>
                </ul>
                <div class="tab-content form-horizontal">
                    @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                    <div class="tab-pane active" id="movement">
                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, m => Model.SupplierId)
                            <div class="controls">
                                @Bootstrap.ComboboxFor(Html, m => Model.SupplierId, Model.Providers)
                            </div>
                        </div>

                        <div id="TradingPartnerDiv"></div>
                    
                    </div>
                </div> 
            </div>
    </div>
</div>

<script>
    $("#SupplierId").change(function () {
        var id = $("#SupplierId option:selected").val();
        if (id == "") {
            //$("#TradingPartnerDiv").hide("fast");
            $("#TradingPartnerDiv").html("");
            return;
        }
        CallView("@Url.Action("GetCascadeDestinations", "RecordMovementBase", new { movementDirection = Model.MovementDirection, id = UrlParameter.Optional })" + id, "TradingPartnerDiv");
@*        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCascadeDestinations", "RecordMovementBase", new { movementDirection = Model.MovementDirection, id = UrlParameter.Optional })" + id
        }).done(function (msg) {
            $("#TradingPartnerDiv").html(msg);
            $("#TradingPartnerDiv").show("fast");
        });*@
    });

</script>