﻿@using Kendo.Mvc.UI
@model PalletPlus.Website.Areas.User.ViewModels.Raports.ComboboxFilterViewModel

<script>
    
    $(document).ready(function () {
        $("#partner-div").toggle('fast');
        
        $("#partner-checkbox").click(function() {
            $("#partner-div").toggle('fast');
        });

        @if (Model.Chosen)
        {
            <text>
            $
            ("#partner-checkbox").click();
            </text>
        }
    });
</script>

<div class="k-widget k-treeview" id="treeview-type-@Model.OrderNo">
        <div class="k-item">
            <div class="k-top k-bot">
                <span class="k-checkbox">
                    <input id="partner-checkbox" name="checkedAll_@Model.FilterName" type="checkbox" value="true">
                </span>
                <span class="k-plus k-icon">
                </span>
                <span class="k-in">@Model.FilterTitle</span>
                <div id="partner-div">
                    @(Html.Kendo().ComboBoxFor(m => m.ChosenItemId)
                          .Name("PartnerId")
                          .DataTextField("PartnerName")
                          .DataValueField("Id")
                          .BindTo(Model.ComboboxItems)
                          .Value("")
                          )
                </div>
            </div>
        </div>
</div>