﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.User.ViewModels.Raports.DatetimeFilterViewModel

<script>
    $(document).ready(function () {
        $("#datetime-div").toggle('fast');
        
        $("#datetime-checkbox").click(function () {
            $("#datetime-div").toggle('fast');
        });
        
              @if (Model.Chosen)
        {
            <text>
        $
        ("#datetime-checkbox").click();
            </text>
        }
        
        $("#from").kendoDatePicker({
            name: "From",
            culture: "en-AU",
            value: new Date()
        });
        
        $("#to").kendoDatePicker({
            name: "To",
            culture: "en-AU",
            value: new Date()
        });
        
    });
</script>

<div class="k-widget k-treeview" id="treeview-type-@Model.OrderNo">
    <div class="k-item">
        <div class="k-top k-bot">
            <span class="k-checkbox">
                <input id="datetime-checkbox" name="checkedAll_@Model.FilterName" type="checkbox" value="true">
            </span>
            <span class="k-plus k-icon">
            </span>
            <span class="k-in">@Model.FilterTitle</span>
            <div id="datetime-div">
                <div class="control-group">
                    From:
                    <div class="controls">
                        <input id="from" name="From" required style="width:150px;" />
                    </div>
                </div>
                <div class="control-group">
                    To:
                    <div class="controls">
                        <input id="to" name="To" required style="width:150px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

