﻿@model PalletPlus.Website.Areas.User.ViewModels.Raports.TreeviewFilterViewModel

<div class="k-widget k-treeview k-reset" id="treeview-type-@Model.OrderNo" data-role="treeview">
    <ul class="k-group">
        <li class="k-item k-first k-last" data-id="1" data-uid="@Guid.NewGuid()">
            <div class="k-top k-bot">
                <span class="k-checkbox">
                    <input name="checkedAll_@Model.FilterName" type="checkbox" value="true">
                </span>
                <span class="k-icon k-minus">
            
                </span>
                <span class="k-in">@Model.FilterTitle</span>
            </div>
            <ul class="k-group" style="display: none; overflow: visible; height: auto">
                @{
                    int i = 2;
                    foreach (var m in Model.FilterValues)
                    {
                        var position = "k-mid";
                        if (i == 2){ position = "k-top"; }
                        if (i - 1 == Model.FilterValues.Count){ position = "k-bot"; }
                        var first = i == 2 ? "k-top" : "k-mid";
                        var last = i - 1 == Model.FilterValues.Count ? "k-last" : "";
                            
                        <li class="k-item @last" data-id="@i" data-uid="@Guid.NewGuid()">
                            <div class="@position">
                                <span class="k-checkbox">
                                    <input name="checked_@Model.FilterName" type="checkbox" value="@m.Key">
                                </span>
                                <span class="k-in">@m.Value</span>
                            </div> 
                        </li>
                        
                        i++;
                    }
                }
            </ul>
        </li>
    </ul>
</div>


<script>
    jQuery(function () {
        jQuery("#treeview-type-@Model.OrderNo").kendoTreeView(
            {
                "checkboxes": {
                    //   "template":"\u003cinput type='checkbox' name='checkedNodes' #= item.checked ? 'checked' : '' # value='#= item.id #' /\u003e",
                    "checkChildren": true
                }
            });
    });
</script>

<script>

    jQuery(function () {
        @{
            int a = 0;
            
            foreach (var m in Model.FilterValues)
            {
                if (Model.SelectedKeys.Any(p => p == m.Key))
                {
                    a++;
                    <text>
        $("input[value=@m.Key][name=checked_@Model.FilterName]").click();
    
                </text>
                }
            }

          @*  if (a == Model.FilterValues.Count)
            {
                 <text>
        $("input[name=checkedAll_@Model.FilterName]").click();
        </text>
            }*@
        }
    });

</script>


