﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.User.ViewModels.Raports.RaportViewModel

<script>
    var hiddenIds = new Array();
    
    $(document).ready(function () {
        resetNav();
        $("#MovementRaports").addClass("active");

        CallView("@Url.Action("GetReport", new { tab = "Report1"})", "report1");
        
        $("#rep1").click(function () {
            var cos = new Array();
            manageFilters(cos);
            CallView("@Url.Action("GetReport", new { tab = "Report1"})", "report1");
        });
        $("#rep3").click(function () {
            var cos = new Array();
            manageFilters(cos);
            CallView("@Url.Action("GetReport", new { tab = "Report3"})", "report3");
        });
        $("#rep4").click(function () {
            var cos = new Array();
            cos[0] = "#treeview-type-@Model.MovementTypeFilter.OrderNo";
            cos[1] = "#treeview-type-@Model.MovementDirection.OrderNo";
            cos[2] = "#treeview-type-@Model.PartnerFilter.OrderNo";
            manageFilters(cos);
            CallView("@Url.Action("GetReport", new { tab = "Report4"})", "report4");
        });
        $("#rep5").click(function () {
            var cos = new Array();
            cos[0] = "#treeview-type-@Model.MovementTypeFilter.OrderNo";
            cos[1] = "#treeview-type-@Model.MovementDirection.OrderNo";
            cos[2] = "#treeview-type-@Model.PartnerFilter.OrderNo";
            manageFilters(cos);
            CallView("@Url.Action("GetReport", new { tab = "Report5"})", "report5");
        });
    });

    function manageFilters(toHideIds) {
        
        for (var i = 0; i < hiddenIds.length; i++) {
            $(hiddenIds[i]).show();
        }
        
        hiddenIds = new Array();

        for (var i = 0; i < toHideIds.length; i++) {
            hiddenIds[i] = toHideIds[i];
            $(toHideIds[i]).hide();
        }
       
    }
    
    function updateCurrent() {

        var id = $("div .tab-pane.active").attr('id');
  
        if (id == "report1")
            CallView("@Url.Action("GetReport", new { tab = "Report1"})", "report1");
        else if (id == "report3")
            CallView("@Url.Action("GetReport", new { tab = "Report3"})", "report3");
        else if (id == "report4")
            CallView("@Url.Action("GetReport", new { tab = "Report4"})", "report4");
        else if (id == "report5")
            CallView("@Url.Action("GetReport", new { tab = "Report5"})", "report5");
    }
</script>

<div class="span9">
 @*   <fieldset>
        <legend>Movement reports</legend>
        
        <div>
            <a class="btn btn-large btn-block" href="@Url.Action("SummaryMovementReport", "Raports")">Summary Movement Report</a>
        </div>
    </fieldset>*@

        <fieldset>
        <legend>Filters:</legend>
        
            @using(Ajax.BeginForm("GetFiltered", "Reports", new AjaxOptions(){ HttpMethod = "Post", OnComplete = "updateCurrent"}))
            {
                <div class="filter-box span8">
@*                    <span class="span">@Html.Partial("_TreeViewFilter", Model.SiteFilter)</span>*@

                    <div class="dupa">@Html.Partial("_TreeViewFilter", Model.MovementTypeFilter)</div>
        
                    <div class="dupa" >@Html.Partial("_TreeViewFilter", Model.MovementDirection)</div>

                    <div class="dupa" >@Html.Partial("_ComboboxFilter", Model.PartnerFilter)</div>
        
                    <div class="dupa">@Html.Partial("_DatePickerFilter", Model.DateTimeRangeFilter)</div>
                    
                                    @Bootstrap.SaveButton("Filter", "filter")
                </div>
                
            }

    </fieldset>

    <br/><br/>
    
    <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a id="rep1" href="#report1" data-toggle="tab">Summary Movement Report</a></li>
            <li><a id="rep3" href="#report3" data-toggle="tab">Detailed Movement Report</a></li>
            <li><a id="rep4" href="#report4" data-toggle="tab">Stocktakes Report</a></li>
            <li><a id="rep5" href="#report5" data-toggle="tab">Hire Movement Balance Report</a></li>
@*                        <li><a href="#report3" data-toggle="tab">Report3</a></li>
            <li><a href="#report4" data-toggle="tab">Report4</a></li>
            <li><a href="#report5" data-toggle="tab">Report5</a></li>*@
        </ul>
        <div class="tab-content" style="overflow: hidden">
            <div class="tab-pane active" id="report1">
            </div>
            <div class="tab-pane" id="report2">
            </div>
            <div class="tab-pane" id="report3">
            </div>
            <div class="tab-pane" id="report4">
            </div>
             <div class="tab-pane" id="report5">
            </div>
            @*            <div class="tab-pane" id="report3">
                @Html.Partial("_Report3")
            </div>
            <div class="tab-pane" id="report4">
                @Html.Partial("_Report4")
            </div>
            <div class="tab-pane" id="report5">
                @Html.Partial("_Report5")
            </div>*@
        </div>
    </div>
                    
</div><!--/span-->


<style scoped>
    .filter-box {
        padding: 20px;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
        box-shadow: 0 1px 1px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        margin-left: 0;
    }

    div.k-treeview {
        white-space: normal !important;
        overflow: initial !important;
    }

    .dupa {
        float: left;
    }
</style>
