﻿.membership-form
{
    padding: 15px;
}

.membership-form .control-label
{
    width: 107px;
}

.membership-form .controls
{
    margin-left: 115px;
}

.membership-form .form-actions
{
    text-align: right;
    padding-right: 4px;
    padding-bottom: 0;
    margin-bottom: 3px;
}

#forgot-password-link-container
{
    text-align: center;
}