﻿.field-validation-error
{
	color: #E80C4D;
	font-weight: bold;
}
.field-validation-valid
{
	display: none;
}
INPUT[type="text"].input-validation-error, INPUT[type="tel"].input-validation-error, INPUT[type="url"].input-validation-error, INPUT[type="email"].input-validation-error, INPUT[type="password"].input-validation-error
{
	border: 1px solid #E80C4D;
}
.validation-summary-errors
{
	color: #D8000C;
	background-color: #FFBABA;
}
.validation-summary-valid
{
	display: none;
}
BODY
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.info, .success, .warning, .error, .validation
{
	/*border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;*/
}
.validate-box
{
	float: left;
	margin: 10px;
	margin-top: 50px;
}