﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Site.SiteEditViewModel

<script>
    $(document).ready(function () {
        $("#add-user-modal").hide();
        $.validator.unobtrusive.parse($('form'));
    });
</script>

<a id="add-user-button" data-toggle="modal" data-target="#add-user-modal" class="btn" href="#"><i class="icon-plus-sign"></i>Add user</a>

@using (Html.BeginForm("EnableUser", "Site", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.SiteId)
    
    <div class="modal" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="add-user-label">Add user</h3>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary()
            @Html.HiddenFor(x => x.SiteId)

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.UserVM.UserId)
                <div class="controls">
                    @(Html.Kendo().ComboBoxFor(m => Model.UserVM.UserId)
                          .Name("UserVM.UserId")
                          .DataTextField("FullName")
                          .DataValueField("Id")
                          .BindTo(Model.ComboboxUsers)
                          .Value("")
                          )
                </div>
                <div class="controls">
                    @Html.ValidationMessageFor(x => x.UserVM.UserId)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <button id="add-user-submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}

<script> 
    $("#add-user-submit").click(function () {
        $(this).addClass('loading');
    });
</script>
