﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Site.SiteEditViewModel

<script>
    $(document).ready(function () {
        $("#add-partner-modal").hide();
        $.validator.unobtrusive.parse($('form'));
    });
</script>

@using (Html.BeginForm("EnablePartner", "Site", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.SiteId)
    
    <div class="modal" id="add-partner-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="add-partner-label">Add partner</h3>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary()
            @Html.HiddenFor(x => x.SiteId)

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.PartnerVM.PartnerId)
                <div class="controls">
                    @(Html.Kendo().ComboBoxFor(m => Model.PartnerVM.PartnerId)
                          .Name("PartnerVM.PartnerId")
                          .DataTextField("PartnerName")
                          .DataValueField("Id")
                          .BindTo(Model.ComboboxPartners)
                          .Value("")
                          )
                </div>
                <div class="controls">
                    @Html.ValidationMessageFor(x => x.PartnerVM.PartnerId)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <button id="add-partner-submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}

<script> 
    $("#add-partner-submit").click(function () {
        $(this).addClass('loading');
    });
</script>
