﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Site.SiteSupplierEditViewModel

<script>
    $(document).ready(function () {
        $("#edit-supplier-modal-@Model.OrderNo").hide();
        ValidateItem("SupplierVM_Prefix", true, "The Prefix field is required.");
        ValidateItem("SupplierVM_Suffix", true, "The Prefix field is required.");
        ValidateItem("SupplierVM_SequenceNumber", true, "The Prefix field is required.");
    });
</script>

@using (Html.BeginForm("EditSupplier", "Site", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.SiteId)
    
    <div class="form-horizontal">
        <div class="modal" id="edit-supplier-modal-@Model.OrderNo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="edit-supplier-label">Edit supplier</h3>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.SiteId)
                @Html.HiddenFor(x => x.SupplierId)
                       
                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.Prefix)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.Prefix)
                    </div>
                </div>

                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.Suffix)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.Suffix)
                    </div>
                </div>

                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.SequenceStartNumber)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.SequenceStartNumber)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                <button id="edit-supplier-submit-@Model.OrderNo" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

<script> 
    $("#edit-supplier-submit-@Model.OrderNo").click(function () {
        $(this).addClass('loading');
    });
</script>
