﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Site.SiteViewModel

<script>
    $(document).ready(function () {
        resetNav();
        $("#Sites").addClass("active");
        
        $("#isPtaEnabled").click(enable_cb);

        ptaEnabled = !("@Model.IsPTAEnabled.ToString().ToLower()" === "true");
         enable_cb();
    });
    
    function enable_cb() {
        ptaEnabled = !ptaEnabled;
        if (ptaEnabled) {
            $(".pta").removeAttr("disabled");
        } else {
            $(".pta").attr("disabled", true);
        }
    }
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Create Site</legend>

            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Details</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        @using (Html.BeginForm("Create", "Site", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                            @Html.ValidationSummary()

                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.SiteName)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.SiteName)
                                </div>
                            </div>
         
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.AddressLine1)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine1)
                                </div>
                            </div>
                      
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine2)
                                </div>
                            </div>
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Postcode)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Postcode)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Suburb)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Suburb)
                                </div>
                            </div>
                        
                          
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.State)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.State)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Country)
                                <div class="controls">
                                    @Html.DropDownListFor(m => Model.Country, Model.ComboboxCountries)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.CheckBoxFor(Html, m => Model.IsPTAEnabled, "isPtaEnabled", "Enable PTA process")
                                </div>
                            </div>
                            
                            <style scoped>
                                #isPtaEnabled {
                                    width:auto
                                }
                            </style>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Suffix)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Suffix, null, "pta")
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.PTASequenceNumber)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.PTASequenceNumber, null, "pta")
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.SaveButton("Save", "edit")
                                    @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Site"))
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>