﻿@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.Admin.ViewModels.Site
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Site.SiteEditViewModel

@{
    var tab = TempData["tab-value"] ?? "details";
    var suppliers = Model.SuppliersVM.Any();
    var partners = Model.PartnersVM.Any();
    var users = Model.UsersVM.Any();
}

<script>
    var ptaEnabled;
    
    $(document).ready(function () {
        resetNav();
        $('#myTab a[href=#@tab]').tab('show');
        $("#Sites").addClass("active");
        
        var url = $.getUrlVar('Grid-filter');
        if (url != null && url != "") {
            var searchVal = decodeURIComponent(url.split('~')[2].split("'")[1]);
            $("#search").val(searchVal);
            
        }
        
        $("#isPtaEnabled").click(enable_cb);

        ptaEnabled = !("@Model.IsPTAEnabled.ToString().ToLower()" === "true");
        enable_cb();
    });
    
    function enable_cb() {
        ptaEnabled = !ptaEnabled;
        if (ptaEnabled) {
            $(".pta").removeAttr("disabled");
        } else {
            $(".pta").attr("disabled", true);
        }
    }
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Edit Site</legend>
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                    <li><a href="#suppliers" data-toggle="tab">Suppliers</a></li>
                    <li><a href="#partners" data-toggle="tab">Partners</a></li>
                    <li><a href="#users" data-toggle="tab">Users</a></li>
                </ul>
                <div class="tab-content">
                    @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                    <div class="tab-pane active" id="details">
                    
                        @using (Html.BeginForm("Edit", "Site", FormMethod.Post, new { @class = "form-horizontal" }))
                        {                   
                            @Html.ValidationSummary()
                            @Html.HiddenFor(x => Model.SiteId)
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.SiteName)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.SiteName)
                                </div>
                            </div>
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.AddressLine1)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine1)
                                </div>
                            </div>
                      
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine2)
                                </div>
                            </div>
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Suburb)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Suburb)
                                </div>
                            </div>
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Postcode)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Postcode)
                                </div>
                            </div>
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.State)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.State)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Country)
                                <div class="controls">
                                    @Html.DropDownListFor(m => m.Country, Model.ComboboxCountries)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.CheckBoxFor(Html, m => Model.IsPTAEnabled, "isPtaEnabled", "Enable PTA process")
                                </div>
                            </div>
                            
                            <style scoped>
                                #isPtaEnabled {
                                    width:auto
                                }
                            </style>
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Suffix)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Suffix, null, "pta")
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.PTASequenceNumber)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.PTASequenceNumber, null, "pta")
                                </div>
                            </div>
            
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.SaveButton("Save", "edit")
                                    @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Site"))

                                </div>
                            </div>
                        }
                    </div>

                    <div class="tab-pane" id="suppliers">
                        @Html.Partial("_AddSupplierPartial")

                        @if (suppliers)
                        {
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Supplier Account Number</th>
                                        <th>Supplier Name</th>
                                        <th>Prefix</th>
                                        <th>Suffix</th>
                                        <th>Sequence Start Number</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                            var i = 0;
                            foreach (var item in Model.SuppliersVM)
                            {
                                if (item.IsDeleted) { continue; }
                                i++;
                                if (!item.IsCompany)
                                {
                                                @Html.Partial("_EditSupplierPartial", new SiteSupplierEditViewModel(item, Model.SiteId, i))
                                }
                                else
                                {
                                                @Html.Partial("_OverrideSupplierPartial", new SiteSupplierEditViewModel(item, Model.SiteId, i))
                                }
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.AccountNumber</td>
                                                <td>@Model.SupplierNames[item.SupplierId]</td>
                                                <td>@item.Prefix</td>
                                                <td>@item.Suffix</td>
                                                <td>@item.SequenceStartNumber</td>
                                                <td>
                                                    <div class="btn-group">
                                                        @if (!item.IsCompany)
                                                        {
                                                            <a class="btn btn-small" rel="tooltip" title="Edit supplier"
                                                               data-toggle="modal" data-target="#edit-supplier-modal-@i" href="#"><i class="icon-edit"></i>
                                                            </a>
                                                            <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                               href="@Url.Action("DeleteSupplier", "Site", new { id = Model.SiteId, supplierId = item.SupplierId })">
                                                                <i class="icon-remove"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-small" rel="tooltip" title="Override supplier"
                                                               data-toggle="modal" data-target="#override-supplier-modal-@i" href="#"><i class="icon-plus"></i>
                                                            </a>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                            }
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div class="tab-pane" id="partners">
                        @Html.Partial("_AddPartnerPartial")

                            @(Html.Kendo().Grid(Model.PartnersVM)
                              .Name("Grid")
                              .Columns(columns =>
                              {
                                  columns.AutoGenerate(false);
                                  columns.Bound(p => p.PartnerName);
                                  columns.Bound(p => p.Suburb);
                                  columns.Bound(p => p.State);
                                  columns.Bound(p => p.ContactEmail);
                                  columns.Template(
                                      @<text>
                                           <div class="btn-group">
                                               <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                  href="@Url.Action("DisablePartner", "Site", new { id = Model.SiteId, partnerId = item.PartnerId })">
                                                   <i class="icon-remove"></i>
                                               </a>
                                           </div>
                                       </text>
                                      ).Width(90);
                              })
                              .ToolBar(toolbar => toolbar.Template("<a id='add-partner-button' data-toggle='modal' data-target='#add-partner-modal' class='btn' href='#'><i class='icon-plus-sign'></i>Add partner</a>" +
                                                                   "<button id='search-btn' class='btn' type='button'>Search</button></span>"+
                                                                   "<input class='black-search' type='search' id='search' style='width: 230px'></input>"))
                              .Sortable()
                              .Pageable(action => action.PageSizes(new[] { 5, 10, 20, 50 }))
                         )
                        
                    </div>
                    <div class="tab-pane" id="users">
                        @Html.Partial("_AddUserPartial")

                        @if (users)
                        {
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>User name</th>
                                        <th>Mobile</th>
                                        <th>CompanyPhone</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 0;
                                        foreach (var item in Model.UsersVM)
                                        {
                                            i++;
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.FullName</td>
                                                <td>@item.Mobile</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Email</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                           href="@Url.Action("DisableUser", "Site", new {id = Model.SiteId, userId = item.UserId})">
                                                            <i class="icon-remove"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                    </div>

                </div>
            </div>
        </fieldset>
    </div>
</div>

<script>
    function editSupplier(id, prefix, suffix, sequence) {
        alert(id);
        alert(prefix);
        alert(suffix);
        alert(sequence);
    }

    $("#search-btn").click(function () {
        var searchValue = $("#search").val();
        var grid = $("#Grid").data("kendoGrid");
        if (searchValue != "") {
            
            grid.dataSource.filter({
                filters: [
                    { field: "PartnerName", operator: "contains", value: searchValue },
                ]
            });
        } else {
            grid.dataSource.filter({});
        }
    });
</script>

<style scoped="scoped">
    #grid .k-toolbar
    {
        min-height: 27px;
    }
    #search-btn {
        float: right;
        margin-left: 5px;
    }
    .toolbar {
        float: right;
    }

    .black-checkbox {
	    width: 20px;	
	    margin: 4px auto;
    }
</style>