﻿@using Kendo.Mvc.UI
@model IEnumerable<PalletPlus.Website.Areas.Admin.ViewModels.Site.SiteViewModel>

<script>
    $(document).ready(function () {
        resetNav();
        $("#Sites").addClass("active");
        if ($.getUrlVar('showDeleted') == 'True') {
            $("#showDeleted").attr('checked', 'checked');
        }
    });
</script>

<div class="span8">
        <fieldset>
            <legend>Sites</legend>

            @(Html.Kendo().Grid(Model)
                  .Name("Grid")
                  .Columns(columns =>
                               {
                                   columns.AutoGenerate(false);
                                   columns.Bound(p => p.SiteName);
                                   columns.Bound(p => p.Suburb);
                                   columns.Bound(p => p.State);
                                   columns.Bound(p => p.Postcode);
                                   columns.Template(
                                       @<text>
                                            <div class="btn-group">
                                                <a class="btn btn-small" rel="tooltip" title="Edit" href="@Url.Action("Edit", "Site", new { id = item.SiteId, area = "Admin" })">
                                                    <i class="icon-edit"></i>
                                                </a>
                                                @if(!item.IsDeleted)
                                                {
                                                <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                   href="@Url.Action("Delete", "Site", new { id = item.SiteId, showDeleted = ViewBag.ShowDeleted, area = "Admin" })">
                                                    <i class="icon-remove"></i>
                                                </a>
                                                }
                                               else
                                               {
                                                   <a class="btn btn-small" onclick="return confirm('Are you sure you want to undelete this record?')" rel="tooltip" title="Undelete"
                                                      href="@Url.Action("Undelete", "Site", new {id = item.SiteId, showDeleted = ViewBag.ShowDeleted, area = "Admin"})">
                                                       <i class="icon-ok"></i>
                                                   </a>
                                               }
                                            </div>
                                        </text>
                                       ).Title("Edit / Delete").Width(90);
                               })
                  .ToolBar(toolbar => toolbar.Template("<a id=\"add-site-button\" class=\"btn\" " +
                                                       "href=" + @Url.Action("Create", "Site") + "> <i class=\"icon-plus-sign\"></i> Add site</a>"+
                                                       "<label class='toolbar'><span class='toolbar black-checkbox'><input type='checkbox' id='showDeleted' name='check' /><label for='squaredThree'></label></span>Show deleted</label>"))
                  .Sortable()
                  )
        </fieldset>
</div>

<script>
    $("#showDeleted").click(function () {
        var value = this.checked;
        var url;
        if (value) {
            url = '@Url.Action("Index", "Site", new { area = "Admin", showDeleted = true })';
        }
        else {
            url = '@Url.Action("Index", "Site", new { area = "Admin", showDeleted = false })';
        }
        window.location.href = url;
    });
</script>

<style scoped="scoped">

    input[type=checkbox] {
	    visibility: hidden;
    }
    .black-checkbox {
	    width: 20px;	
	    margin: 4px auto;
    }

</style>