﻿@model LoginFormVM

@{
    ViewBag.Title = "nTrack Control Panel";
}

<div class="box login-size">
    <div class="boxHeader">
        <h4 style="color: black;">Login</h4>
    </div>
    <div class="boxBody">
         @Html.ValidationSummary()
        @Html.Partial("_Login",Model)

        <p>@Html.ActionLink("Register","Register","Account") to access nTrack.</p>
        <p>Forgot password? Click @Html.ActionLink("here","ForgotPassword","Account") to reset password.</p>
    </div>
</div>

