﻿@model Subscription.Website.ViewModels.User.UserVM

@{
    ViewBag.Title = "Add User";
}

@section Tabs
{
                    <li class="active"><a href="#tab1" data-toggle="tab">Add User</a></li>
}

                <div class="tab-pane active" id="tab1">
                    @using (Html.BeginForm("Add", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.ValidationSummary(false,null,(new {@class="well well-small"}))
                        @Html.HiddenFor(p => p.ReturnUrl)
                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, x => x.FirstName)
                            <div class="controls">
                                @Bootstrap.TextBoxFor(Html, x => x.FirstName)
                            </div>
                        </div>
                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, x => x.LastName)
                            <div class="controls">
                                @Bootstrap.TextBoxFor(Html, x => x.LastName)
                            </div>
                        </div>

                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, x => x.Email)
                            <div class="controls">
                                @Bootstrap.TextBoxFor(Html, x => x.Email)
                            </div>
                        </div>

                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, x => x.Password)
                            <div class="controls">
                                @Bootstrap.PasswordFor(Html,x=>x.Password)
                            </div>
                        </div>
                        
                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, x => x.RepeatPassword)
                            <div class="controls">
                                @Bootstrap.PasswordFor(Html,x=>x.RepeatPassword)
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <div class="controls">
                                @Html.DropDownListFor(p => p.Role, Model.Roles)
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <div class="controls">
                                @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
                                @Bootstrap.SaveButton("Save", "edit").Disabled(!Model.AllowPost)
                            </div>
                        </div>
                    }
                </div>
