﻿@model Subscription.Website.ViewModels.User.UserVM

@{
    ViewBag.Title = "Edit " + Model.FullName;
}

<script>
    $("#Role").combobox();
</script>

@section Tabs
{
                    <li class="active"><a href="#tab1" data-toggle="tab">Edit @Model.FullName</a></li>
}

            <div class="tab-pane active" id="tab1">
                @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary(false,null,(new {@class="well well-small"}))
                    @Html.HiddenFor(x=>x.UserKey)
                    @Html.HiddenFor(x => x.AccountId)
                    @Html.HiddenFor(p => p.ReturnUrl)

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.FirstName)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html,x=>x.FirstName)
                        </div>
                    </div>
        
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.LastName)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.LastName)
                        </div>
                    </div>
        
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Email)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Email)
                        </div>
                    </div>
        
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Phone)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Phone)
                        </div>
                    </div>
        
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Mobile)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Mobile)
                        </div>
                    </div>
        
                    <div class="control-group">
                        <div class="controls">
                            @Html.DropDownListFor(p => p.Role, Model.Roles)
                        </div>
                    </div>
        
                    <div class="control-group">
                        <div class="controls">
                            @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
                            @Bootstrap.SaveButton("Save", "edit").Disabled(!Model.AllowPost)
                        </div>
                    </div>
                }
            </div>
    