﻿@model Subscription.Website.ViewModels.User.UsersVM

@{
    ViewBag.Title = "Users";
}

@section Tabs
{
    <li class="active"><a href="#tab1" data-toggle="tab">Users</a></li>
}

<div class="tab-pane active" id="tab1">
    @Html.Partial("_UsersTable", Model.Users)
</div>



