﻿@{
    ViewBag.Title = "Reset Password Success";
}

<h2>Reset Password Success</h2>

<p>
    Your password was rested. Please click the link in the email to continue. 
</p>

@*<!-- Start test code -->
<a href="@ViewBag.ResetPasswordLink">@ViewBag.ResetPasswordLink</a>
<!-- End test code -->*@
