﻿@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.User.ViewModels.Enumerators
@using PalletPlus.Website.Areas.User.ViewModels.Movement
@model string

<script id="movementEquipmentsTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<MovementEquipmentModel>()
                                                 .Name("Assets_#=MovementId#")
                                                 .Columns(columns =>
                                                              {
                                                                  columns.Bound(o => o.EquipmentName);
                                                                  columns.Bound(o => o.Quantity);
                                                                  columns.Bound(o => o.EffectiveDate);
                                                                  columns.Bound(o => o.DateTimeStamp);
                                                              })
                                                 .DataSource(dataSource => dataSource
                                                                               .Ajax()
                                                                               .Read(read => read.Action("GetMovementAssets", "Movements", new { movementId = "#=MovementId#" }))
                                                 ).ToClientTemplate()
                                                 ) 
</script>



@(Html.Kendo().Grid<MovementViewModel>()
        .Name("ptaGrid")
        .DataSource(dataSource =>
            {
                dataSource.Ajax().PageSize(15);
                            dataSource.Ajax().Sort(p => p.Add(x => x.MovementDate).Descending());
                            dataSource.Ajax().Read(read => read.Action("GetPTAMovements", "PTAMovements"));
                        })
        .Columns(columns =>
                     {
                         columns.AutoGenerate(false);
                         columns.Bound(p => p.MovementDate).Format("{0:dd/MM/yyyy}");
                         //columns.Bound(p => p.EffectiveDate).Format("{0:dd/MM/yyyy}");
                         columns.Bound(p => p.DocketNumber);
                         columns.Bound(p => p.DestinationName);
                         //columns.Bound(p => p.MovementType);
                         columns.Bound(p => p.Direction);
                         columns.Bound(p => p.CorrectionKey).ClientTemplate(
                                            "<div class=\"btn-group grid-btn-group\">" +
                                                    "<a class=\"btn btn-small\" rel=\"tooltip\" title=\"Resolve PTA\"" +
                                                       "href=\"" + @Url.Action("ResolvePTA", "PTAMovements", new { area = "User" }) + "?movementId=#= MovementId #\">" +
                                                       " <i class=\"icon-edit\"></i>" +
                                                    "</a>" +
                                            "</div>"
                                       ).Width(125).Title("");
                     })
        .Sortable(action => action.SortMode(GridSortMode.SingleColumn).Enabled(true).AllowUnsort(false))
        .Pageable(action => action.PageSizes(new[] { 15, 25, 50 }).Refresh(true))
      )