﻿@model PalletPlus.Website.Areas.User.ViewModels.Movement.MovementListVM

<script>
    $(document).ready(function () {
        resetNav();
        $("#PTAMovements").addClass("active");
        
        //$("#historicTab").click(function () {
        //    var grid = $("#Historic").data("kendoGrid");
        //    grid.dataSource.read();
        //});
    });
</script>
 
<div class="span9">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a id="ptaTab" href="#pta" data-toggle="tab">Pending</a></li>
        </ul>
        <div class="tab-content" style="overflow: hidden">
            <div class="tab-pane active" id="pta">
                @Html.Partial("_MovementsGridAjax")
            </div>
        </div>
    </div>
</div>


<style scoped>
    .grid-btn-group {
        float: left;
    }
    .badge {
        margin-top: -5px;
        margin-left: 10px;
    }
</style>