﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.User.ViewModels.PTAMovements.ResolveVM
@{
    ViewBag.Title = "Resolve";
}

<script>
    
    var equipmentsGiven = @Model.Equipment.Count(p => p.Value > 0);
    
    $(document).ready(function () {
        kendo.culture('en-AU');

        resetNav();
        $("#PTAMovements").addClass("active");
        
        $("#validateEq").hide();
        
        //$('#Transporter').combobox();
        
        $("#datepicker").kendoDatePicker({
            name: "MovementDateUTC",
            culture: "en-AU",
        });
        
        $("#datepicker2").kendoDatePicker({
            name: "EffectiveDateUTC",
            culture: "en-AU",
        });


        $('form').submit(function () {
            if (equipmentsGiven > 0)
                return true;

            $("#validateEq").show();
            return false;
        });
    });
    
    function equipmentOnBlur(e) {
        if (equipmentsGiven > 0 && e.value == "") {
            equipmentsGiven--;
            e.value = 0;
        }
        else if (e.value != "" && e.value != "0") {
            equipmentsGiven++;
        }
        
        if(equipmentsGiven > 0)
            $("#validateEq").hide();
    }
</script>

@using (Html.BeginForm("ResolvePTA", "PTAMovements", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(p => p.MovementId)
    <div id="MovementSection" >
        
        <fieldset>
            <legend>Movement Details</legend>
            @Html.ValidationSummary()
            <div id="validateEq" class="validation-summary-errors" >
                <ul>
                    <li>Please provide number for at least one equipment kind.</li>
                </ul>
            </div>


            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => m.MovementDateUTC)
                <div class="controls">
                    <input id="datepicker" name="MovementDateUTC" required style="width:150px;" value="@Model.MovementDateUTC" disabled="disabled"/>
                </div>
            </div>
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => m.EffectiveDateUTC)
                <div class="controls">
                    <input id="datepicker2" name="EffectiveDateUTC" value="@Model.EffectiveDateUTC" required style="width:150px;"/>
                </div>
            </div>
            @*          <div id="transporters-div" class="control-group" hidden="hidden">
                @Bootstrap.LabelFor(Html, m => m.Transporters)
                <div class="controls">
                    <div id="TransporterCombobox">@Bootstrap.ComboboxFor(Html, m => m.Transporter, Model.Transporters)</div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    @Bootstrap.CheckBoxFor(Html, m => m.ReceivedViaTransporter, "receivedViaTransporterChxbx", "@sendMode via Transporter")
                </div>
            </div>*@

                
            <div id="ptaDocketNumber" class="control-group">
                @Bootstrap.LabelFor(Html, m => m.PTADocketNumber)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => m.PTADocketNumber, new { disabled = "disabled"}, null)
                </div>
            </div>
            
            <div id="newDocketNumber" class="control-group">
                @Bootstrap.LabelFor(Html, m => m.NewDocketNumber)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => m.NewDocketNumber)
                </div>
            </div>
            
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => m.Reference)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => m.Reference, new {disabled = "disabled"}, null)
                </div>
            </div>
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => m.PartnerReference)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => m.PartnerReference, new {disabled = "disabled"}, null)
                </div>
            </div>
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => m.ConsigmentNote)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => m.ConsigmentNote, new {disabled = "disabled"}, null)
                </div>
            </div>
            
            @{
                foreach(var equipment in Model.Equipment)
                {
                    <div class="control-group">
                        <label class="control-label">@Model.EquipmentNames[equipment.Key]</label>
                        <div class="controls">
                            <input data-val="true" data-val-number="The field must be a number." name="Equipment[@equipment.Key]" type="text" value="@Model.Equipment[equipment.Key]" onblur="equipmentOnBlur(this);"> 
                        </div>
                    </div>
                }
            }
                    <div class="control-group">
            <div class="controls">
                @Bootstrap.SaveButton("Save", "edit")
                @Bootstrap.BackButton("Back", "back", Url.Action("Index", "PTAMovements"))
            </div>
        </div>
        </fieldset>

    </div>
}

<script>
    $.validator.unobtrusive.parse($('form'));

</script>