﻿@model Subscription.Website.ViewModels.Subscription.SubscriptionEditVM

@{
    ViewBag.Title = "Edit Subscription for " + Model.ProductName;
}

@section Tabs
{
    <li class="active"><a href="#tab1" data-toggle="tab">Edit Subscription for @Model.ProductName</a></li>
}



<div class="tab-pane active" id="tab1">

    <div class="control-group">
        <img src="@Model.LargeImageUrl" width="500" height="500"/>
    </div>

    <div class="control-group">
        @Bootstrap.LabelFor(Html, x => x.ProductName)
        <div class="controls">
            @Model.ProductName
        </div>
    </div>

    <div class="control-group">
        @Bootstrap.LabelFor(Html, x => x.ProductDescription)
        <div class="controls">
            @Model.ProductDescription
        </div>
    </div>
    @using (Html.BeginForm("Cancel", "Subscription", new { productId = Model.ProductId }, FormMethod.Post, new { @class = "form-horizontal", area = "" }))
    {
        <div class="control-group">
            <div class="controls">
                @Bootstrap.SaveButton("Cancel whole subscription", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
    }

    @*@if (!Model.IsLocked)
    {
        <h4>Subscription Includes: </h4>
        foreach (var subscribed in Model.SubscribedFeatures)
        {
            using (Html.BeginForm("Edit", "Subscription", new { productId = Model.ProductId, code = subscribed.Code, subscribed = false }, FormMethod.Post, new { @class = "form-horizontal", area = "" }))
            {
        <div class="control-group">
            <label class="control-label">@subscribed.Name</label>
            <div class="controls">

                @Bootstrap.SaveButton("Unsubscribe", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
            }
        }

        <h4>Subscription Does Not Includes: </h4>
        foreach (var subscribed in Model.UnsubscribedFeatures)
        {
            using (Html.BeginForm("Edit", "Subscription", new { productId = Model.ProductId, code = subscribed.Code, subscribed = true }, FormMethod.Post, new { @class = "form-horizontal", area = "" }))
            {
        <div class="control-group">
            <label class="control-label">@subscribed.Name</label>
            <div class="controls">
                @Bootstrap.SaveButton("Subscribe", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
            }
        }
    }*@
    <div class="control-group">
        <div class="controls">
            @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
        </div>
    </div>
</div>

