﻿@model Subscription.Website.ViewModels.Subscription.SubscriptionIndexVM

@{
    ViewBag.Title = "Subscriptions";
}


@section Tabs
{
    <li class="active"><a href="#tab1" data-toggle="tab">Subscriptions</a></li>
}

<div class="tab-pane active" id="tab1">
    @Html.Partial("_SubscriptionsList", Model)
</div>

