﻿@model Subscription.Website.ViewModels.Subscription.SubscriptionCreateVM

@{
    ViewBag.Title = Model.OfferName+" Subscription";
}

@section Tabs
{
                    <li class="active"><a href="#tab1" data-toggle="tab">@Model.OfferName Subscription</a></li>
}

<div class="tab-pane active" id="tab1">

    <div class="control-group">
        <img src="@Model.ImageUrl" width="500" height="500"/>
    </div>

    <div class="control-group">
        @Bootstrap.LabelFor(Html, x => x.OfferName)
        <div class="controls">
            @Model.OfferName
        </div>
    </div>

    <div class="control-group">
        <label>Features</label>
        @for(int i=0; i<Model.Features.Count; i++)
        {
            <div class="controls">
                @Model.Features[i].Name
            </div>
        }
    </div>
        
    
            @if(!Model.Subscribed)
            {
                using (Html.BeginForm("Create", "Subscription", new {accountId = Model.AccountId, productId = Model.ProductId, offerKey = Model.OfferKey}, FormMethod.Post))
                {
                    @Html.ValidationSummary(false, null, (new {@class = "well well-small"}))

                    <div class="control-group">
                        <div class="btn-group">
                            @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
                            @Bootstrap.SaveButton("Subscribe", "edit").Disabled(!Model.AllowPost)
                        </div>
                    </div>
                }
            }
            else
            {
                using (Html.BeginForm("Cancel", "Subscription", new { accountId = Model.AccountId, productId = Model.ProductId, offerKey = Model.OfferKey }, FormMethod.Post))
                {
                    @Html.ValidationSummary(false, null, (new {@class = "well well-small"}))

                    <div class="control-group">
                        <div class="btn-group">
                            @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
                            @Bootstrap.SaveButton("Cancel subscription", "edit").Disabled(!Model.AllowPost)
                        </div>
                    </div>
                }
            }


</div>
