﻿@model AuthenticationServer.ViewModels.LoginForm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="~/content/site.css" />
</head>
<body>
    <div id="login-box">
        @Html.ValidationSummary()
    
        <h3>Login</h3>
        @{ Html.BeginForm("Authenticate", "Authentication", null, FormMethod.Post, null); }

            <div class="field-container">
                <label id="email-label" for="email-input">Email:</label>
                @Html.TextBoxFor(vm => vm.Email, new { id = "email-input", @class = "text-input" })
            </div>
            <div class="field-container">
                <label id="password-label" for="password-input">Password:</label>
                @Html.PasswordFor(vm => vm.Password, new { id = "password-input", @class = "text-input" })
            </div>
            <div class="field-container">
                @Html.CheckBoxFor(vm => vm.Remember, new { id = "remember-me-input" })
                <label for="remember-me-input">Remember me</label>
            </div>
            <div class="buttons-container">
                @Html.HiddenFor(vm => vm.CallbackUrl)
                @Html.HiddenFor(vm => vm.RegisterUrl)
                @Html.HiddenFor(vm => vm.ForgotPasswordUrl)
                <input type="submit" value="Login" />
            </div>
    
        @{ Html.EndForm(); }

        @if (!string.IsNullOrEmpty(Model.RegisterUrl) || !string.IsNullOrEmpty(Model.ForgotPasswordUrl))
        {
            <div id="account-links">
                @if (!string.IsNullOrEmpty(Model.RegisterUrl))
                { <a href="@Model.RegisterUrl">Register</a> }

                @if (!string.IsNullOrEmpty(Model.RegisterUrl) && !string.IsNullOrEmpty(Model.ForgotPasswordUrl))
                {
                    @:&nbsp;|&nbsp;
                }

                @if (!string.IsNullOrEmpty(Model.ForgotPasswordUrl))
                { <a href="@Model.ForgotPasswordUrl">Forgot your password?</a> }
            </div>
        }
    </div>
</body>
</html>