﻿@model AccountSelectionPageViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>nTrack Admin - Account Selection</title>

    <meta name="viewport" content="width=device-width" />

    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/content/account-admin-panel/stylesheets/css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #login-section
        {
            float: right;
            margin-top: 15px;
        }
        
        li
        {
            list-style-type: square;
            margin-bottom: 5px;
            list-style-position: inside;
        }
    </style>
</head>
<body>
    <div id="header">
        <div class="page-column">
            <a class="logo" href="#"></a>

            <div id="login-section">
                @Html.ActionLink("Logout", "Logout", "Authentication", new { area = "" }, null)
            </div>
        </div>
    </div>

    <div id="body" class="page-column">
        <p>Please select the account you want to manage.</p>
        <ul>
        @foreach (AccountMinimal account in Model.AccountMinimals)
        {
            <li>@Html.ActionLink(account.CompanyName, "SetContextAccount", "Context", new { accountID = account.Id }, null)</li>
        }
        </ul>
    </div>
</body>
</html>
