﻿@using PalletPlus.Website.Areas.Admin.Models.DataVisualization
@model PalletPlus.Website.ViewModels.Dashboard.DashboardViewModel
<script>
    $(document).ready(function () {
        resetNav();
        $("#MovementDashboard").addClass("active");
    });
</script>

@Scripts.Render("~/bundles/dataviz")

<div class="span9">
    <div>
        <div class="span4">
            @Html.Partial("_VizPartial", Model.InOutChart)
        </div><!--/span-->

        <div class="span4">
            @Html.Partial("_IssueReturnDataVizPartial", Model.IssueReturnChart)
        </div><!--/span-->
    </div><!--/row-->
    <div>

        <div class="span4">
            @Html.Partial("_VizPartial", Model.InternalChart)
        </div>
    </div>
</div>

<style scoped>
    .span9 {
        margin-left: 30px;
    }
</style>