﻿<!DOCTYPE html>

<html>
<head>
    <title>nTrack Admin - @ViewBag.Title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/content/account-admin-panel/stylesheets/css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)

    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/scripts/account-admin-panel/js")"></script>
    <script type="text/javascript">
        function DisplayNotification(title, text) {
            $.gritter.add({
                title: title,
                text: text
            });
        }
    </script>
    @RenderSection("Scripts", false)
</head>
<body>
    <div id="header">
        <div class="page-column">
            <a class="logo" href="#"></a>

            <div id="context-section">
                <div>
                    Hello @(((ClientPortal.Infrastructure.CustomIdentity)(User.Identity)).UserName)!&nbsp;
                    @Html.ActionLink("Logout", "Logout", "Authentication", new { area = "" }, null)
                </div>
                <div>
                    You are currently managing @(ViewBag.ContextAccount)&nbsp
                    @Html.ActionLink("Change", "AccountSelection", "Context", new { forceSelection = true }, null)
                </div>
            </div>
        </div>
    </div>

    <ul id="menu-bar">
        <li id="home-menu-item">@Html.ActionLink("Home", "index", "Home")</li>
        <li id="subscriptions-menu-item">@Html.ActionLink("Subscriptions", "index", "Subscription")</li>
        <li>@Html.ActionLink("Users", "Manage", "User")
            <ul>
                <li>@Html.ActionLink("Manage", "Manage", "User")</li>
                <li>@Html.ActionLink("Invite", "Invite", "User")</li>
            </ul>
        </li>
    </ul>

    <div id="body" class="page-column">
        @RenderBody()
    </div>
</body>
</html>