﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Transporter.TransporterViewModel

<script>
    $(document).ready(function () {
        resetNav();
        $("#Transporters").addClass("active");
    });
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Create Transporter</legend>

            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Transporter</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        @using (Html.BeginForm("Create", "Transporter", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.ValidationSummary()

                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.TransporterName)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.TransporterName)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.AddressLine1)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine1)
                                </div>
                            </div>
                      
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine2)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Suburb)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Suburb)
                                </div>
                            </div>
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Postcode)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Postcode)
                                </div>
                            </div>
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.State)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.State)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.ContactName)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.ContactName)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.ContactEmail)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.ContactEmail)
                                </div>
                            </div>
            
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.SaveButton("Save", "edit")
                                    @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Supplier"))
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>