﻿@using Kendo.Mvc.UI
@model IEnumerable<PalletPlus.Website.Areas.Admin.ViewModels.Transporter.TransporterViewModel>

<script>
    $(document).ready(function () {
        resetNav();
        $("#Transporters").addClass("active");
        if ($.getUrlVar('showDeleted') == 'True') {
            $("#showDeleted").attr('checked', 'checked');
        }
    });
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Transporters</legend>

            @(Html.Kendo().Grid(Model)
                  .Name("Grid")
                  .Columns(columns =>
                               {
                                   columns.AutoGenerate(false);
                                   columns.Bound(p => p.TransporterName);
                                   columns.Bound(p => p.Suburb);
                                   columns.Bound(p => p.State);
                                   columns.Bound(p => p.ContactEmail);
                                   columns.Template(
                                       @<text>
                                            <div class="btn-group">
                                                <a class="btn btn-small" rel="tooltip" title="Edit" href="@Url.Action("Edit", "Transporter", new { id = item.TransporterId, area = "Admin" })">
                                                    <i class="icon-edit"></i>
                                                </a>
                                                @if(!item.IsDeleted)
                                                {
                                                    <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                       href="@Url.Action("Delete", "Transporter", new {id = item.TransporterId, showDeleted = ViewBag.ShowDeleted, area = "Admin"})">
                                                        <i class="icon-remove"></i>
                                                    </a>
                                                }else
                                                {
                                                    <a class="btn btn-small" onclick="return confirm('Are you sure you want to undelete this record?')" rel="tooltip" title="Undelete"
                                                       href="@Url.Action("Undelete", "Transporter", new {id = item.TransporterId, showDeleted = ViewBag.ShowDeleted, area = "Admin"})">
                                                        <i class="icon-ok"></i>
                                                    </a>
                                                }
                                            </div>
                                        </text>
                                       ).Width(90);
                               })
                  .ToolBar(toolbar => toolbar.Template("<a id=\"add-transporter-button\" class=\"btn\" " +
                                                       "href=" + @Url.Action("Create", "Transporter") + "> <i class=\"icon-plus-sign\"></i> Add transporter</a>"+
                                                       "<span class='toolbar'><label class='checkbox'><input id='showDeleted' type='checkbox'> Show deleted </label>"))
                  .Sortable()
                  )
        </fieldset>
    </div>
</div>

<script>
    $("#showDeleted").click(function () {
        var value = this.checked;
        var url;
        if (value) {
            url = '@Url.Action("Index", "Transporter", new { area = "Admin", showDeleted = true })';
        }
        else {
            url = '@Url.Action("Index", "Transporter", new { area = "Admin", showDeleted = false })';
        }
        window.location.href = url;
    });
</script>

<style scoped="scoped">
    .toolbar {
        float: right;
    }
</style>
