﻿@using nTrack.Web.Bootstrap
@model PalletPlus.Website.ViewModels.Profile.ProfileUserViewModel
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<script>
    $("#Role").combobox();
    resetNav();

</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Edit User</legend>
            
                @using (Html.BeginForm("Update", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary(false, null, (new {@class = "well well-small"}))
                    @Html.HiddenFor(x => x.UserKey)

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.FirstName)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.FirstName)
                        </div>
                    </div>

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.LastName)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.LastName)
                        </div>
                    </div>

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Email)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Email)
                        </div>
                    </div>

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Phone)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Phone)
                        </div>
                    </div>

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.Mobile)
                        <div class="controls">
                            @Bootstrap.TextBoxFor(Html, x => x.Mobile)
                        </div>
                    </div>

                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.OldPassword)
                        <div class="controls">
                            @Bootstrap.PasswordFor(Html, x => x.OldPassword)
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.ChangePassword)
                        <div class="controls">
                            @Bootstrap.PasswordFor(Html, x => x.ChangePassword)
                        </div>
                    </div>
                    
                     <div class="control-group">
                        @Bootstrap.LabelFor(Html, x => x.ConfirmPassword)
                        <div class="controls">
                            @Bootstrap.PasswordFor(Html, x => x.ConfirmPassword)
                        </div>
                    </div>

                  
                    <div class="control-group">
                        <div class="controls">
                            @*  @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Company"))*@
                              @Bootstrap.BackButton("Back", "back", "javascript:history.go(-1)")
                            @Bootstrap.SaveButton("Save", "edit")
                        </div>
                    </div>
                }
        </fieldset>
    </div>
</div>