﻿@model PalletPlus.Website.Areas.User.ViewModels.Stocktake.StocktakeCorrectionDetailsViewModel
@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        resetNav();
        $("#Stocktakes").addClass("active");
    });
</script>

<style scoped>
    .old {
        color: red;
    }
    .new {
        color: green;
    }
</style>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Correction details</legend>

            <dl class="dl-horizontal">
                <dt>Provider</dt>
                <dd>@Model.EquipmentProviderName</dd>
            </dl>
                    
            <dl class="dl-horizontal">
                <dt>Equipment</dt>
                <dd>@Model.EquipmentName</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Stocktake date</dt>
                <dd>@Model.StocktakeDate</dd>
            </dl>
                    
            <dl class="dl-horizontal">
                <dt>Correction requested on</dt>
                <dd>@Model.RequestedOn</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Created By</dt>
                <dd>@Model.User</dd>
            </dl>

            <dl class="dl-horizontal old">
                <dt>Old Quantity</dt>
                <dd>@Model.OldQuantity</dd>
            </dl>

            <dl class="dl-horizontal new">
                <dt>New Quantity</dt>
                <dd>@Model.NewQuantity</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Reason</dt>
                <dd>@Model.Reason</dd>
            </dl>

            <div class="control-group">
                <div class="controls">
                    @Bootstrap.BackButton("Cancel", "back", Url.Action("Index", "Stocktakes"))
                </div>
            </div>
        </fieldset>
    </div>
</div>

<style scoped>
    .control-group {
        margin-left: 90px;
    }
</style>