﻿@model IEnumerable<PalletPlus.Website.Areas.User.ViewModels.Stocktake.StocktakeViewModel>
@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.User.ViewModels.Enumerators

<script>
    $(document).ready(function () {
        resetNav();
        $("#Stocktakes").addClass("active");
    });
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Stocktakes</legend>
            @(Html.Kendo().Grid(Model)
                  .Name("Grid")
                  .Columns(columns =>
                               {
                                   columns.AutoGenerate(false);
                                   columns.Bound(p => p.StocktakeDate).Format("{0:dd/MM/yyyy}");
                                   columns.Bound(p => p.EquipmentName);
                                   columns.Bound(p => p.Quantity);
                                   columns.Template(
                                       @<text>
                                            <div class="btn-group grid-btn-group">
                                                @if (item.Status == CorrectionStatus.None)
                                                {
                                                    <a class="btn btn-small" rel="tooltip" title="Request correction" href="@Url.Action("RequestCorrection", "Stocktakes", new { id = item.StocktakeId, key = item.EquipmentCode, area = "User" })">
                                                        <i class="icon-edit"></i>
                                                    </a>
                                                }
                                                else if (item.Status == CorrectionStatus.PendingCorrectionAndCreatedByMe || item.Status == CorrectionStatus.PendingCorrection)
                                                {
                                                    <a class="btn btn-small" rel="tooltip" title="View details" href="@Url.Action("CorrectionDetails", "Stocktakes", new { id = item.StocktakeId, key = item.EquipmentCode, area = "User" })">
                                                        <i class="icon-book"></i>
                                                    </a>
                                                }
                                                @if (item.Status == CorrectionStatus.PendingCorrectionAndCreatedByMe)
                                                {
                                                }
                                            </div>
                                            @if (item.Status == CorrectionStatus.PendingCorrectionAndCreatedByMe || item.Status == CorrectionStatus.PendingCorrection)
                                            {
                                                <span class="badge badge-warning">!</span>
                                            }
                                        </text>
                                       ).Width(115);
                               })
                  .Sortable()
                  .Pageable(action => action.PageSizes(new []{5, 10, 20, 50}))
                  .DataSource(dataSource => dataSource
                                                .Server()
                                                .Model(model => model.Id(p => p.EquipmentCode))
                                                .Read("Index", "Stocktake")
                  )
                  )
        </fieldset>
    </div>
</div>

<style scoped>
    .grid-btn-group {
        float: left;
    }
    .badge {
        margin-top: 10px;
        margin-left: 10px;
    }
</style>