﻿@model PalletPlus.Website.Areas.User.ViewModels.Stocktake.StocktakeCorrectionRequestViewModel
@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        resetNav();
        $("#Stocktakes").addClass("active");
        $("#datepicker").kendoDatePicker({
            name: "StocktakeDate",
            culture: "en-AU",
            value: new Date()
        });
        $("#Reason").combobox();
    });
</script>

<div class="span9">
    <div class="row">
        <div class="tabbable" style="margin-left: 10px;">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#request" data-toggle="tab">Correction request</a></li>
            </ul>
            <div class="tab-content">
                @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                <div class="tab-pane active" id="request">
                    @using (Html.BeginForm("RequestCorrection", "Stocktakes", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(m => Model.EquipmentCode)
                        @Html.HiddenFor(m => Model.EquipmentProvider)
                        @Html.HiddenFor(m => Model.StocktakeId)
                        
                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, m => Model.EquipmentProvider)
                            <div class="controls">
                                @Bootstrap.DisabledTextBoxFor(Html, m => Model.EquipmentProviderName, Model.EquipmentProviderName)
                            </div>
                        </div>

                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, m => Model.StocktakeDate)
                            <div class="controls">
                                @Html.DisplayFor(x => x.StocktakeDate)
                                <!--<input id="datepicker" name="StocktakeDate" required style="width:150px;" />-->
                                @*                               @(Html.Kendo().DatePicker()
                                      .Name("StocktakeDate")
                                      .Value(DateTime.Now.ToString())
                                      .HtmlAttributes(new {disabled = "disabled", style = "width:150px"})
                                      )*@
                            </div>
                        </div>

                        <fieldset>
                            <legend>Correction details</legend>
                            @Html.ValidationSummary()
                    
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.EquipmentName)
                                <div class="controls">
                                    @Bootstrap.DisabledTextBoxFor(Html, m => Model.EquipmentName, Model.EquipmentName)
                                </div>
                            </div>
                    
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Quantity)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Quantity)
                                </div>
                            </div>
                    
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Reason)
                                <div class="controls">
                                    @Bootstrap.ComboboxFor(Html, x => x.Reason, Model.Reasons)
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.BackButton("Cancel", "back", Url.Action("Index", "Home"))
                                    @Bootstrap.SaveButton("Send", "edit")
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div> 
        </div>
    </div>
</div>
