﻿@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Reconciliation.PartnerViewModel

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse($('form'));
    });
</script>

<fieldset>
    <legend>Create Partner</legend>
</fieldset>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Details</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            @using (Html.BeginForm("CreatePartner", "Reconciliation", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.SupplierId)
                @Html.HiddenFor(x => x.AccountNumber)
                @Html.HiddenFor(x => x.EquipmentCode)
                @Html.HiddenFor(x => x.SiteId)
                @Html.HiddenFor(x => x.InvoiceId)
                @Html.HiddenFor(x => x.InvoiceDetailKey)

                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.CompanyName)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.CompanyName)
                    </div>
                </div>
                        
                <div class="control-group">
                    <label class="control-label">Supplier to associate with</label>
                    <div class="controls">
                        @Model.SupplierName
                    </div>
                </div>
                            
                <div class="control-group">
                    <label class="control-label">Site to associate with</label>
                    <div class="controls">
                        @Model.SiteName
                    </div>
                </div>
                            
                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.AccountNumber)
                    <div class="controls">
                        @Bootstrap.TextBoxFor(Html, m => Model.AccountNumber)
                    </div>
                </div>
            
                <div class="control-group">
                    <div class="controls">
                        @Bootstrap.SaveButton("Create Partner", "edit")
                        @Bootstrap.BackButton("Back", "back", Url.Action("Reconcile", "Reconciliation", new { }))
                    </div>
                </div>
            }
        </div>
    </div>
</div>
