﻿@model PalletPlus.Website.Areas.Admin.ViewModels.ImportSupplierInvoiceData.ImportSupplierInvoiceViewModel
@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap

@{
    ViewBag.Title = "Reconciliation";
}

<script>
    $(document).ready(function () {
        resetNav();
        $("#Reconciliations").addClass("active");
        $('#EquipmentProvider').combobox();
    });
</script>

<style scoped>
    .btn-small {
        margin-left: 15px;
    }
    .input-xlarge {
        float: left;
    }
</style>

<div class="span9">
    <div class="row">
 
        <fieldset>
            <legend>Unreconciled invoices</legend>
        </fieldset>

        @(Html.Kendo().Grid(Model.PreviousInvoices)
                  .Name("Grid")
                  .Columns(columns =>
                  {
                      columns.AutoGenerate(false);
                      columns.Bound(x => x.InvoiceDate);
                      columns.Bound(x => x.InvoiceNumber);
                      columns.Bound(x => x.SupplierName);
                      columns.Bound(x => x.TotalItems);
                      columns.Template(
                          @<text>
                               <div class="btn-group">
                                   <a class="btn btn-small" rel="tooltip" title="Edit" 
                                       href="@Url.Action("Reconcile", "Reconciliation", new { id = item.Id, area = "Admin" })">
                                       <i class="icon-edit"></i>
                                   </a>
                               </div>
                           </text>
                          ).Width(45);
                  })
                  .Sortable()
                  .Pageable()
              )

    </div>
</div>


<script>
    $("#EquipmentProvider").change(function () {
        $("#next-prov").button('reset');
    });
</script>