﻿@model PalletPlus.Website.Areas.Admin.ViewModels.Reconciliation.ReconciliationViewModel
@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.Admin.ViewModels.Reconciliation
@using nTrack.Web.Bootstrap


@{
    ViewBag.Title = "Unreconciled Invoice";
}


<script>
    $(document).ready(function () {
        resetNav();
        $("#Reconciliations").addClass("active");
    });
</script>


<div class="span9">
    <div class="row" id="row-content">
        
        <fieldset>
            <legend>Invoice #@Model.InvoiceNumber - @Model.InvoiceDate.ToShortDateString()</legend>
        </fieldset>

        <button id="match" class="btn" type="submit" disabled>Match</button>
        <button id="reject" class="btn" type="submit" disabled>Reject</button>
        <button id="create" class="btn" type="submit" disabled>Create Transaction</button>
        <button id="raise" class="btn" type="submit" disabled>Raise Correction</button>

        <br/><br/>
        @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])

        @(Html.Kendo().Grid(Model.UnreconciledDetails)
                        .DataSource(data => data.Ajax().PageSize(3).Read("Reconcile","Reconciliation"))
              .Name("Grid")
              .Columns(columns =>
                  {
                      columns.AutoGenerate(false);
                      columns.Template(
                          @<text><input style="width: 20px" class="radio-up" name="invoiceRow" type="radio" value="@item.Key"></text>
                          ).Width(20);

                      columns.Bound(x => x.MovementDate).Width(40).Format("{0:d}")
                             .HeaderTemplate(
                                 @<text><label style="width: 40px" class="checkbox"><input id="date" type="checkbox">M. Date</label></text>);

                      columns.Bound(x => x.DocketNumber)
                          .HeaderTemplate(
                          @<text><label style="width: 50px" class="checkbox"><input id="docket" type="checkbox">Docket Number</label></text>);

                      columns.Bound(x => x.DestinationAccountNumber)
                             .Template(@<text>@item.DestinationAccountNumber<br /><span style="font-size: .7em">@item.DestinationName</span></text>)
                          .HeaderTemplate(@<text><label style="width: 50px" class="checkbox"><input id="partner" type="checkbox">Partner A/C</label></text>);


                      columns.Bound(x => x.DestinationRef)
                      .HeaderTemplate(@<text><label style="width: 50px" class="checkbox"><input id="destinationRef" type="checkbox" />Partner Ref.</label></text>);

                      columns.Bound(x => x.EquipmentCode)
                          .HeaderTemplate(@<text><label style="width: 50px" class="checkbox"><input id="equipment" type="checkbox">Eq. Code</label></text>);

                        columns.Bound(x => x.TransactionCode)
                               .Template(@<text>@item.TransactionCode (@item.Qty)</text>)
                          .HeaderTemplate(
                          @<text><label style="width: 60px" class="checkbox"><input id="transaction" type="checkbox">Type</label></text>);

            

                  }).Pageable(action => action.PageSizes(new[] { 3, 5, 10 })))
        
        <br /><br />

        @(Html.Kendo().Grid<ReconciliationLineModel>()
              .Name("Grid2")
              .DataSource(source => source
                  .Ajax().PageSize(5).Events(x => x.Change("onSrcChange"))
                  .Read(read => read.Action("GetMovements", "Reconciliation", new { supplierId = Model.SupplierId })))
              
                  .Columns(columns =>
              {
                  columns.AutoGenerate(false);
                  columns.Bound(x => x.Key).ClientTemplate("<input class='radio-down' type='radio' name='movs' value='#=MovementId#' data-tag='#=EquipmentCode#' onClick='radioDownCheck(this)'>").Width(45).Title("");
                  columns.Bound(x => x.MovementDate);
                  columns.Bound(x => x.DocketNumber);
                  columns.Bound(x => x.DestinationAccountNumber).Title("Partner A/C");
                  columns.Bound(x => x.EquipmentCode);
                  columns.Bound(x => x.TransactionCode);
                  columns.Bound(x => x.Qty);
              })
              .Pageable(action => action.PageSizes(new[] { 5, 10 }))
              )
    </div>
</div>

<script>
    var invoiceItemSelected = false;
    var movementItemSelected = false;
    
    var dataSrc = null;
    var filter = { movementDate: false, docketNumber: false, destinationAccountNumber: false, equipmentCode: false, transactionCode: false, destinationRef: false };
    var filterData = { movementDate: "", docketNumber: "", destinationAccountNumber: "", equipmentCode: "", transactionCode: "", destinationRef: "" };
    var selected = { key: "", movementDate: "", docketNumber: "", destinationAccountNumber: "", equipmentCode: "", transactionCode: "", qty: "", destinationRef: "" };
    var selectedMovement = { movId: "", movEqCode: "" };
    
    function checkboxChanged(checked, fieldAttr) {
        var val = "";

        switch (fieldAttr) {
        case "MovementDate":
            filter.movementDate = true;
            if (!checked) filter.movementDate = false;
            break;
        case "DocketNumber":
            filter.docketNumber = true;
            if (!checked) filter.docketNumber = false;
            break;
        case "DestinationAccount":
            filter.destinationAccountNumber = true;
            if (!checked) filter.destinationAccountNumber = false;
            break;
        case "EquipmentCode":
            filter.equipmentCode = true;
            if (!checked) filter.equipmentCode = false;
            break;
        case "MovementType":
            filter.transactionCode = true;
            if (!checked) filter.transactionCode = false;
            break;
            case "DestinationRef":
            filter.destinationRef = true;
            if (!checked) filter.destinationRef = false;
            break;
        }

        filterGrid();
    }

    function radioDownCheck(e) {
        movementItemSelected = true;
        selectedMovement = { movId: e.value, movEqCode: e.getAttribute("data-tag") };
        onSrcChange();
    }

    function onSrcChange() {
        if (invoiceItemSelected) {
            var count = $("#Grid2").data("kendoGrid").dataSource.total();
            enableButton("reject");
            enableButton("create");
            if (count > 0) {
                if (movementItemSelected) {
                    enableButton("match");
                    enableButton("raise");
                }else {
                    disableButton("match");
                    disableButton("raise");
                }
                //enableButton("raise");
                //disableButton("create");
            } else {
                disableButton("match");
                //disableButton("raise");
                //enableButton("create");
            }
        }else {
            disableButton("reject");
        }
    }

    function filterGrid(){
        filter.movementDate ? filterData.movementDate = selected.movementDate : filterData.movementDate = null;
        filter.docketNumber ? filterData.docketNumber = selected.docketNumber : filterData.docketNumber = null;
        filter.destinationAccountNumber ? filterData.destinationAccountNumber = selected.destinationAccountNumber : filterData.destinationAccountNumber = null;
        filter.equipmentCode ? filterData.equipmentCode = selected.equipmentCode : filterData.equipmentCode = null;
        filter.transactionCode ? filterData.transactionCode = selected.transactionCode : filterData.transactionCode = null;
        filter.destinationRef ? filterData.destinationRef = selected.destinationRef : filterData.destinationRef = null;


        $.post("@Url.Action("GetMovements", "Reconciliation", new { id = Model.InvoiceId, supplierId = Model.SupplierId })", filterData,
            function (result) {
            $("#Grid2").data("kendoGrid").dataSource.data(result.Data);
            $("#Grid2").data("kendoGrid").refresh();
        });

        movementItemSelected = false;
        onSrcChange();
    }

    $(".radio-up").change(function () {
        
        invoiceItemSelected = true;

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetInvoiceItem", "Reconciliation", new { id = Model.InvoiceId, key = UrlParameter.Optional })" + this.value
        })
            .done(function(msg) {
                selected = { key: msg.Key, movementDate: msg.MovementDate, docketNumber: msg.DocketNumber, destinationAccountNumber: msg.DestinationAccountNumber, equipmentCode: msg.EquipmentCode, transactionCode: msg.TransactionCode, qty: msg.Qty, destinationRef:msg.DestinationRef };

                filterGrid();
            });
    });


    function enableButton(id) {
        $("#" + id).addClass("btn-primary");
        $("#" + id).removeAttr("disabled");
    }
    function disableButton(id) {
        $("#" + id).removeClass("btn-primary");
        $("#" + id).attr("disabled", "disabled");
    }



    $("#date").change(function() {
        var checked = $('#date').attr('checked');

        checkboxChanged(checked, "MovementDate");
    });
    $("#docket").change(function () {
        var checked = $('#docket').attr('checked');

        checkboxChanged(checked, "DocketNumber");
    });
    $("#partner").change(function () {
        var checked = $('#partner').attr('checked');

        checkboxChanged(checked, "DestinationAccount");
    });
    $("#equipment").change(function () {
        var checked = $('#equipment').attr('checked');

        checkboxChanged(checked, "EquipmentCode");
    });
    $("#transaction").change(function () {
        var checked = $('#transaction').attr('checked');

        checkboxChanged(checked, "MovementType");
    });
    $("#destinationRef").change(function () {
        var checked = $('#destinationRef').attr('checked');

        checkboxChanged(checked, "DestinationRef");
    });




    $("#match").click(function() {
        if (invoiceItemSelected && movementItemSelected) {
            var data = {
                movementId: selectedMovement.movId,
                movementEquipmentCode: selectedMovement.movEqCode,
                invoiceId: "@Model.InvoiceId.ToString()",
                detailKey: selected.detailKey,
                movementDate: selected.date,
                docketNumber: selected.docketNo,
                tradingPartnerAccountNumber: selected.trPartnerAccountNumber,
                equipmentCode: selected.eqCode,
                movementDirection: selected.trans,
                quantity: selected.qty
            };
            $.post("@Url.Action("MatchRecords", "Reconciliation")", data);
            location.reload().delay(1000);
        }
    });
    
    $("#reject").click(function () {
        if (invoiceItemSelected) {
            var data = {
                invoiceId: "@Model.InvoiceId.ToString()",
                detailKey: selected.detailKey,
            };
            $.post("@Url.Action("RejectRecord", "Reconciliation")", data);
            location.reload().delay(1000);
        }
    });
    
    $("#create").click(function () {
        if (invoiceItemSelected) {
            var data = {
                invoiceId: "@Model.InvoiceId.ToString()",
                detailKey: selected.detailKey,
            };
            $.ajax({
                type: 'POST',
                url: "@Url.Action("CreateTransaction", "Reconciliation")",
                data: data,
            }).done(function (msg) {
                if(msg != "")
                    $("#row-content").html(msg);
                else {
                    location.reload().delay(1000);
                }
            });
        }
    });
</script>