﻿@model PalletPlus.Website.Areas.Admin.ViewModels.CorrectionRequests.CorrectionRequestDetailsViewModel
@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.Admin.ViewModels.CorrectionRequests
@using nTrack.Web.Bootstrap

@{
    ViewBag.Title = "Cancellation Request";
}

<script>
    $(document).ready(function () {
        resetNav();
        $("#Correction").addClass("active");
    });
</script>

<style scoped>
    .old
    {
        color: red;
    }

    .new
    {
        color: green;
    }
</style>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Cancellation Request (@Model.DocketNumber)</legend>
            <div id="request">
                @using (Html.BeginForm("ProcessCancellation", "CorrectionRequests", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(m => Model.StocktakeMovementId)
                    @Html.HiddenFor(m => Model.CorrectionKey)
                    @Html.HiddenFor(m => Model.CorrectionType)
                        
                    <dl class="dl-horizontal">
                        <dt>Requested on</dt>
                        <dd>@Model.RequestedOn</dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt>Requested by</dt>
                        <dd>@Model.RequestedBy</dd>
                    </dl>
                        
                    <dl class="dl-horizontal">
                        <dt>Correction type</dt>
                        <dd>@Model.CorrectionType.ToString()</dd>
                    </dl>
                             
                    <dl class="dl-horizontal">
                        <dt>Movement Date</dt>
                        <dd>@Model.MovementDate.ToShortDateString()</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Effective Date</dt>
                        <dd>@Model.EffectiveDate.ToShortDateString()</dd>
                    </dl>
                            
                    <dl class="dl-horizontal">
                        <dt>Partner name</dt>
                        <dd>@Model.PartnerName <i>(@Model.PartnerKind)</i></dd>
                    </dl>
                             
                    <dl class="dl-horizontal">
                        <dt>Status</dt>
                        <dd>@Model.Status</dd>
                    </dl>
                        
                    <dl class="dl-horizontal">
                        <dt>Reason</dt>
                        <dd>@Model.Reason</dd>
                    </dl>
                    
                    <div class="dl-horizontal">
                        <dt>Equipments</dt>
                        <dd>
                            <table class="table span4 table-condensed table-hover table-bordered" style="margin-left: -1px;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in Model.Equipment)
                                    {
                                        <tr>
                                            <td>@i.Value.EquipmentName</td>
                                            <td class="old">@i.Value.OldQuantity</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>  
                        </dd>                      
                    </div>
                    
                    <div class="control-group">
                        <div class="controls">
                            @Bootstrap.BackButton("Back", "back", Url.Action("Index", "CorrectionRequests"))
                            <button class="btn btn-danger" name="submit" value="decline" type="submit">Decline</button>
                            <button class="btn btn-success" name="submit" value="approve" type="submit">Approve</button>
                        </div>
                    </div>
                }
            </div>
        </fieldset>
    </div>
</div>
