﻿@model PalletPlus.Website.Areas.Admin.ViewModels.CorrectionRequests.CorrectionRequestDetailsViewModel
@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.Admin.ViewModels.CorrectionRequests
@using nTrack.Web.Bootstrap

@{
    ViewBag.Title = "Correction Request";
}

<script>
    $(document).ready(function () {
        resetNav();
        $("#Correction").addClass("active");
    });
</script>

<style scoped>
    .old {
        color: red;
    }
    .new {
        color: green;
    }
</style>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Correction Request (@Model.DocketNumber)</legend>
                <div class="tab-pane active" id="request">
                    @using (Html.BeginForm("ProcessCorrection", "CorrectionRequests", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(m => Model.StocktakeMovementId)
                        @Html.HiddenFor(m => Model.CorrectionKey)
                        @Html.HiddenFor(m => Model.CorrectionType)
                        
                        <dl class="dl-horizontal">
                            <dt>Requested on</dt>
                            <dd>@Model.RequestedOn</dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt>Requested by</dt>
                            <dd>@Model.RequestedBy</dd>
                        </dl>
                        
                        <dl class="dl-horizontal">
                            <dt>Correction type</dt>
                            <dd>@Model.CorrectionType.ToString()</dd>
                        </dl>

                        if (Model.CorrectionType != CorrectionType.Stocktake)
                        {
                            <dl class="dl-horizontal">
                                <dt>Partner name</dt>
                                <dd>@Model.PartnerName <i>(@Model.PartnerKind)</i></dd>
                            </dl>
                        }
                        <dl class="dl-horizontal">
                            <dt>Status</dt>
                            <dd>@Model.Status</dd>
                        </dl>
                        
                        <dl class="dl-horizontal">
                            <dt>Reason</dt>
                            <dd>@Model.Reason</dd>
                        </dl>
                        if (Model.CorrectionType != CorrectionType.Stocktake)
                        {
                        <dl class="dl-horizontal">
                            <dt>Dates</dt>
                            <dd>
                            <table class="table span4 table-condensed table-hover table-bordered" style="margin-left: -8px;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Old</th>
                                        <th>New</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Movement Date</td>
                                        <td class="old">@Model.MovementDate.ToShortDateString()</td>
                                        <td class="new">@Model.CorrectedDate.ToShortDateString()</td>
                                    </tr>
                                    <tr>
                                        <td>Effective Date</td>
                                        <td class="old">@Model.EffectiveDate.ToShortDateString()</td>
                                        <td class="new">@Model.CorrectedEffectiveDate.ToShortDateString()</td>
                                    </tr>
                                </tbody>
                            </table>
                                </dd>
                        </dl>
                        }

                        <dl class="dl-horizontal">
                            <dt>Equipments</dt>
                            <dd>
                                <table class="table span4 table-condensed table-hover table-bordered" style="margin-left: -8px;">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Old Quantity</th>
                                            <th>New Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in Model.Equipment)
                                        {
                                            <tr>
                                                <td>@i.Value.EquipmentName</td>
                                                <td class="old">@i.Value.OldQuantity</td>
                                                <td class="new">@i.Value.NewQuantity</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </dd>
                        </dl>
                        
                        <div class="control-group">
                            <div class="controls">
                                @Bootstrap.BackButton("Back", "back", Url.Action("Index", "CorrectionRequests"))
                                <button class="btn btn-danger"  name="submit" value="decline" type="submit">Decline</button>
                                <button class="btn btn-success" name="submit" value="approve" type="submit">Approve</button>
                            </div>
                        </div>
                    }
                </div>
            </fieldset>
    </div>
</div>