﻿@model PalletPlus.Website.Areas.Admin.ViewModels.CorrectionRequests.CorrectionRequestDetailsViewModel
@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.Admin.ViewModels.CorrectionRequests
@using nTrack.Web.Bootstrap


@{
    ViewBag.Title = "Historical Cancellation Request";
}

<script>
    $(document).ready(function () {
        resetNav();
        $("#Correction").addClass("active");
    });
</script>

<style scoped>
    .old
    {
        color: red;
    }

    .new
    {
        color: green;
    }
</style>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Historical Cancellation Request (@Model.DocketNumber)</legend>
            <div id="request">

                @Html.HiddenFor(m => Model.StocktakeMovementId)
                @Html.HiddenFor(m => Model.CorrectionKey)
                @Html.HiddenFor(m => Model.CorrectionType)

                <dl class="dl-horizontal">
                    <dt>Requested on</dt>
                    <dd>@Model.RequestedOn</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Requested by</dt>
                    <dd>@Model.RequestedBy</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Correction type</dt>
                    <dd>@Model.CorrectionType.ToString()</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Movement Date</dt>
                    <dd>@Model.MovementDate.ToShortDateString()</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Effective Date</dt>
                    <dd>@Model.EffectiveDate.ToShortDateString()</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Partner name</dt>
                    <dd>@Model.PartnerName <i>(@Model.PartnerKind)</i></dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Reason</dt>
                    <dd>@Model.Reason</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Status</dt>
                    <dd>@Model.Status</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Closed on</dt>
                    <dd>@Model.ClosedOn</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Closed by</dt>
                    <dd>@Model.ClosedBy</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Equipments</dt>
                    <dd>
                        <table class="table span4 table-condensed table-hover table-bordered" style="margin-left: -8px;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model.Equipment)
                                {
                                    <tr>
                                        <td>@i.Value.EquipmentName</td>
                                        <td>@i.Value.OldQuantity</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </dd>
                </dl>

                <div class="control-group">
                    <div class="controls">
                        @Bootstrap.BackButton("Back", "back", Url.Action("Index", "CorrectionRequests"))
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
</div>
