﻿@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.Admin.ViewModels.CorrectionRequests
@model CorrectionsViewModel
@{
    ViewBag.Title = "Correction Requests";

    var tab = TempData["tab-value"] ?? "pending";
}

<script>
    function SetDropwdownFilter(filter, id) {
        if (filter != null) {
            var params = filter.split('~');
            var value = 0;
            if (params[2] == "'Cancellation'") {
                value = 3;
            } else {
                if (params[6] == "'Movement'") {
                    value = 1;
                } else if (params[6] == "'Stocktake'") {
                    value = 2;
                }
            }
            $("#" + id).data("kendoDropDownList").value(value);
        }
    }

    $(document).ready(function () {
        resetNav();
        $("#Correction").addClass("active");
        var p_filter = $.getUrlVar("PendingCorrection-filter");
        var h_filter = $.getUrlVar("Historical-filter");
        SetDropwdownFilter(p_filter, "p_correction-type");
        SetDropwdownFilter(h_filter, "h_correction-type");
        $('#myTab a[href=#@tab]').tab('show');
    });
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Correction Requests</legend>
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#pending" data-toggle="tab">Pending</a></li>
                    <li><a href="#historic" data-toggle="tab">Historic</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="pending">

                        @(Html.Kendo().Grid(Model.PendingCorrections)
                              .Name("PendingCorrection")
                              .ToolBar(toolbar => toolbar.Template("<div class='toolbar'>" +         
                                                                   "<label class='type-label' for='correction-type'>Show requests by type </label>" +
                                                                   "<input type='search' id='p_correction-type' style='width: 230px'></input></div>"))
                              .Columns(columns =>
                                           {
                                               columns.AutoGenerate(false);
                                               columns.Bound(x => x.Date);
                                               columns.Bound(x => x.DocketNumber);
                                               columns.Bound(x => x.SiteName);
                                               columns.Bound(x => x.User);
                                               columns.Bound(x => x.Summary);
                                               //columns.Bound(x => x.Status);
                                               columns.Bound(x => x.CorrectionKind).Hidden(true);
                                               columns.Bound(x => x.CorrectionType).Hidden(true);
                                               columns.Template(
                                                   @<text>
                                                        @if(item.CorrectionKind == CorrectionKind.Correction)
                                                        {
                                                            <div class="btn-group">
                                                                <a class="btn btn-small" rel="tooltip" title="Edit"
                                                                   href="@Url.Action("CorrectionRequestDetails", "CorrectionRequests",
                                                                                     new {id = item.StocktakeId, key = item.CorrectionKey, type = item.CorrectionType, area = "Admin"})">
                                                                    <i class="icon-edit"></i>
                                                                </a>
                                                            </div>
                                                        }
                                                        else if (item.CorrectionKind == CorrectionKind.Cancellation)
                                                        {
                                                            <div class="btn-group">
                                                                <a class="btn btn-small" rel="tooltip" title="Edit"
                                                                   href="@Url.Action("CancellationRequestDetails", "CorrectionRequests",
                                                                                     new {id = item.StocktakeId, key = item.CorrectionKey, type = item.CorrectionType, area = "Admin"})">
                                                                    <i class="icon-edit"></i>
                                                                </a>
                                                            </div>
                                                        }
                                                    </text>
                                                   ).Width(90);
                                           })
                              .Sortable()
                              .Pageable(action => action.PageSizes(new []{5, 10, 20, 50}))
                              )
                    </div>
                    <div class="tab-pane" id="historic">
                        @(Html.Kendo().Grid(Model.HistoricalCorrections)
                              .Name("Historical")
                              .ToolBar(toolbar => toolbar.Template("<div class='toolbar'>" +         
                                                                   "<label class='type-label' for='correction-type'>Show requests by type </label>" +
                                                                   "<input type='search' id='h_correction-type' style='width: 230px'></input></div>"))
                              .Columns(columns =>
                                           {
                                               columns.AutoGenerate(false);
                                               columns.Bound(x => x.Date);
                                               columns.Bound(x => x.DocketNumber);
                                               columns.Bound(x => x.SiteName);
                                               columns.Bound(x => x.User);
                                               columns.Bound(x => x.Summary);
                                               columns.Bound(x => x.ClosedBy);
                                               columns.Bound(x => x.Status);
                                               columns.Bound(x => x.ClosedOn);
                                               columns.Template(
                                                   @<text>
                                                        @if(item.CorrectionKind == CorrectionKind.Correction)
                                                        {
                                                            <div class="btn-group">
                                                                <a class="btn btn-small" rel="tooltip" title="Edit"
                                                                   href="@Url.Action("HistoricalRequestDetails", "CorrectionRequests",
                                                                                     new {id = item.StocktakeId, key = item.CorrectionKey, type = item.CorrectionType, area = "Admin"})">
                                                                    <i class="icon-edit"></i>
                                                                </a>
                                                            </div>
                                                        }
                                                        else if (item.CorrectionKind == CorrectionKind.Cancellation)
                                                        {
                                                            <div class="btn-group">
                                                                <a class="btn btn-small" rel="tooltip" title="Edit"
                                                                   href="@Url.Action("HistoricalCancellationRequestDetails", "CorrectionRequests",
                                                                                     new {id = item.StocktakeId, key = item.CorrectionKey, type = item.CorrectionType, area = "Admin"})">
                                                                    <i class="icon-edit"></i>
                                                                </a>
                                                            </div>
                                                        }
                                                    </text>
                                                   ).Width(90);
                                           })
                              .Sortable()
                              .Pageable(action => action.PageSizes(new []{5, 10, 20, 50}))
                              )
                    </div>
                </div>
            </div>

        </fieldset>
        
        <br/>
    </div>
</div><!--/span-->

<script>
    var data = [
        { text: "Movement Correction Requests", value: "1" },
        { text: "Stocktake Correction Requests", value: "2" },
        { text: "Movement Cancellation Requests", value: "3" },
    ];

    $("#PendingCorrection").find("#p_correction-type").kendoDropDownList({
        dataTextField: "text",
        dataValueField: "value",
        autoBind: false,
        optionLabel: "All",
        dataSource: data,
        change: function () {
            var value = this.value();
            switch(value)
            {
            case "1":
                $("#PendingCorrection").data("kendoGrid").dataSource.filter([{ field: "CorrectionKind", operator: "eq", value: "@CorrectionKind.Correction" },
                    { field: "CorrectionType", operator: "eq", value: "@CorrectionType.Movement" }]);
                break;
            case "2":
                $("#PendingCorrection").data("kendoGrid").dataSource.filter([{ field: "CorrectionKind", operator: "eq", value: "@CorrectionKind.Correction" },
                    { field: "CorrectionType", operator: "eq", value: "@CorrectionType.Stocktake" }]);
                break;
            case "3":
                $("#PendingCorrection").data("kendoGrid").dataSource.filter([{ field: "CorrectionKind", operator: "eq", value: "@CorrectionKind.Cancellation" },
                    { field: "CorrectionType", operator: "eq", value: "@CorrectionType.Movement" }]);
                break;
            default:
                $("#PendingCorrection").data("kendoGrid").dataSource.filter({});
                break;
            }
        }
    });
    
    $("#Historical").find("#h_correction-type").kendoDropDownList({
        dataTextField: "text",
        dataValueField: "value",
        autoBind: false,
        optionLabel: "All",
        dataSource: data,
        change: function () {
            var value = this.value();
            switch (value) {
            case "1":
                $("#Historical").data("kendoGrid").dataSource.filter([{ field: "CorrectionKind", operator: "eq", value: "@CorrectionKind.Correction" },
                    { field: "CorrectionType", operator: "eq", value: "@CorrectionType.Movement" }]);
                break;
            case "2":
                $("#Historical").data("kendoGrid").dataSource.filter([{ field: "CorrectionKind", operator: "eq", value: "@CorrectionKind.Correction" },
                    { field: "CorrectionType", operator: "eq", value: "@CorrectionType.Stocktake" }]);
                break;
            case "3":
                $("#Historical").data("kendoGrid").dataSource.filter([{ field: "CorrectionKind", operator: "eq", value: "@CorrectionKind.Cancellation" },
                    { field: "CorrectionType", operator: "eq", value: "@CorrectionType.Movement" }]);
                break;
            default:
                $("#Historical").data("kendoGrid").dataSource.filter({});
                break;
            }
        }
    });
</script>

<style scoped="scoped">
    #grid .k-toolbar
    {
        min-height: 27px;
    }
    .type-label
    {
        vertical-align: middle;
        padding-right: .5em;
        display: inline;

        color: #9e9e9f;
        font-family: 'Arial',sans-serif;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0,0,0,1);
        font-size: 13px;
        text-rendering: geometricPrecision;
    }
    #correction-type
    {
        vertical-align: middle;
    }
    .toolbar {
        float: right;
        margin-right: .8em;
        width: auto;
        margin-top: 30px;
        text-shadow: none;
    }


</style>