﻿@model PalletPlus.Website.Areas.User.ViewModels.Exchange.ExchangeViewModel
@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.User.ViewModels.Enumerators
@using nTrack.Web.Bootstrap

@{
    var year = @DateTime.Now.Year;
}

<script>
    var equipmentsGiven = 0;
    
    $(document).ready(function () {
        kendo.culture('en-AU');

        $("#validateEq").hide();
        
      
        //$('#Transporter').combobox();
        
        $("#datepicker").kendoDatePicker({
            name: "EffectiveDate",
            culture: "en-AU",
            value: new Date()
        });

        $('form').submit(function () {
            if (equipmentsGiven > 0)
                return true;

            $("#validateEq").show();
            return false;
        });
    });
    
    function equipmentOnBlur(e) {
        if (equipmentsGiven > 0 && e.value == "") {
            equipmentsGiven--;
        }
        else if (e.value != "") {
            equipmentsGiven++;
        }
        
        if(equipmentsGiven > 0)
            $("#validateEq").hide();
    }
</script>

@using (Html.BeginForm("Save", "Exchange", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.SupplierId)
    @Html.HiddenFor(m => m.TradingPartnerID)
    @Html.HiddenFor(m => m.TradingPartner)
    @Html.HiddenFor(m => m.PartnerAccountNumber)

    
    <div id="MovementSection" >
        
        <fieldset>
            <legend>Exchange Details</legend>
            @Html.ValidationSummary()
            <div id="validateEq" class="validation-summary-errors" >
                <ul>
                    <li>Please provide number for at least one equipment kind.</li>
                </ul>
            </div>


            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => m.EffectiveDate)
                <div class="controls">
                    <input id="datepicker" name="EffectiveDate" required style="width:150px;" />
                </div>
            </div>
    
           
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => m.PartnerReference)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => m.PartnerReference)
                </div>
            </div>
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => m.ConNote)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => m.ConNote)
                </div>
            </div>
            
            <div class="control-group">
                
                <div class="controls">
                    <label class="span2 qtyheader">Received</label>
                    <label class="span2 qtyheader">Sent</label>
                </div>
                <style scoped>
                    .qtyheader {
                        width: 206px;
                    }
                </style>
            </div>
            @{
                foreach(var equipment in Model.EquipmentIn)
                {
                    <div class="control-group">
                        <label class="control-label">@Model.EquipmentNames[equipment.Key]</label>
                        <div class="controls">
                            <input data-val="true" data-val-number="The field must be a number." name="EquipmentIn[@equipment.Key]" type="text" value="" onblur="equipmentOnBlur(this);"> 
                            <input data-val="true" data-val-number="The field must be a number." name="EquipmentOut[@equipment.Key]" type="text" value="" onblur="equipmentOnBlur(this);"> 
                        </div>
                    </div>
                }
            }
        </fieldset>

        <div class="control-group">
            <div class="controls">
                @Bootstrap.SaveButton("Save", "edit")
                @Bootstrap.BackButton("Cancel", "back", Url.Action("Index", "Home"))
            </div>
        </div>
    </div>
}

<script>
    $.validator.unobtrusive.parse($('form'));

    @foreach(var v in Model.IdToValidate)
    {
        <text>
            ValidateItem("@v.Key", true, "@v.Value")
    </text>
    }
    
    var state = false;
    
    

</script>