﻿@model PalletPlus.Website.Areas.User.ViewModels.Exchange.ExchangeViewModel
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        $('#TradingPartner').combobox();
    });
</script>

<div id="TradingPartnerSection">
    <div id="TradingPartnerDiv" class="control-group">
        @Bootstrap.LabelFor(Html, m => Model.TradingPartner)
        <div id="partner-div" class="controls">
            @Bootstrap.ComboboxFor(Html, m => Model.TradingPartner, Model.TradingSubjects)
        </div>
    </div>
</div>

<div id="PartnerNumberDiv"></div>

<script>
    $("#TradingPartner").change(function () {
        var id = $("#TradingPartner option:selected").val();
        if (id == "") {
          //  $("#PartnerNumberDiv").hide("fast");
            $("#PartnerNumberDiv").html("");
            return;
        }
        CallView("@Url.Action("GetAccountNumbers", "Exchange", new { supplierId = Model.SupplierId, partnerId = UrlParameter.Optional })" + id, "PartnerNumberDiv");

    });
</script>