﻿@model IEnumerable<PalletPlus.Website.Areas.User.ViewModels.Exchange.ExchangeViewModel>
@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.User.ViewModels.Enumerators
@using PalletPlus.Website.Areas.User.ViewModels.Exchange

<script>
    $(document).ready(function () {
        resetNav();
        $("#Exchanges").addClass("active");
    });
</script>

<script id="exchangeDetailtemplate" type="text/kendo-tmpl">
             @(Html.Kendo().Grid<ExchangeEquipmentModel>()
                                                 .Name("Assets_#=ExchangeId#")
                                                 .Columns(columns =>
                                                              {
                                                                  columns.Bound(o => o.EquipmentName);
                                                                  columns.Bound(o => o.QtySend);
                                                                  columns.Bound(o => o.QtyReceive);
                                                                  columns.Bound(o => o.QtyBalance);
                                                              })
                                                 .DataSource(dataSource => dataSource
                                                                               .Ajax()
                                                                               .Read(read => read.Action("GetMovementAssets", "Exchange", new { exchangeId = "#=ExchangeId#" }))
                                                 ).ToClientTemplate()
                                                 ) 
        
        </script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Exchanges</legend>
            @(Html.Kendo().Grid(Model)
                  .Name("Grid")
                  .Columns(columns =>
                               {
                                   columns.AutoGenerate(false);
                                   columns.Bound(p => p.EffectiveDate).Format("{0:dd/MM/yyyy}");
                                   columns.Bound(p => p.TradingPartner);
                                   columns.Bound(p => p.PartnerReference);

                               })
                  .Sortable()
                  .ClientDetailTemplateId("exchangeDetailtemplate")
                  .Pageable(action => action.PageSizes(new []{5, 10, 20, 50}))
                  .DataSource(dataSource =>
            {
                dataSource.Ajax().PageSize(15);
                            dataSource.Ajax().Sort(p => p.Add(x => x.EffectiveDate).Descending());
                            dataSource.Ajax().Read(read => read.Action("Index", "Exchanges"));
                            
                        })
                  )
        </fieldset>
        
        
    </div>
</div>

<style scoped>
    .grid-btn-group {
        float: left;
    }
    .badge {
        margin-top: 10px;
        margin-left: 10px;
    }
</style>