﻿/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

/* Body and structure
-------------------------------------------------- */

body {
  position: relative;
}

/* Code in headings */
h3 code {
  font-size: 14px;
  font-weight: normal;
}

#ntrackLogo {
    margin-top: 1px;
}

.header-slogan {
    height: 19px;
    width: 362px;
    margin-top: 27px;
    margin-left: 20px;
    float: left;
    /*background-image: url(UI/ntrack-pp-header-slogan.png);*/
}

/* Responsive docs
-------------------------------------------------- *


/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 228px;
  margin: 0 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

  /* a page box header style*/
      .boxHeader {
        background: lightgray;
        margin-left: -20px;
        margin-top: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-bottom: 10px;
        height: 30px;
    }

      /* a page box body style*/
          .boxBody {
        padding-top: 10px;

    }

          .box {
              padding-top: 20px; padding-bottom: 20px;width: 500px; -moz-box-shadow: 0 0 10px 2px #888;
                                       -webkit-box-shadow: 0 0 10px 2px #888;
                                       box-shadow: 0 0 10px 2px #888; padding-left: 20px; padding-right: 20px; margin-left:auto;
              margin-bottom: 20px;
                                       margin-right:auto;
          }

          .login-size {
              width:240px;
          }
          .box h4 {
        display: inline-block;
        color: #51a351;
    }


/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-docs-container {
    max-width: 970px;
  }
  .bs-docs-sidenav {
    width: 258px;
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }

  /* When affixed, space properly */
  .bs-docs-sidenav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    margin-top: -20px; /* Offset bottom margin on .navbar */
  }
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
  }
  .masthead h1 {
    font-size: 90px;
  }
  .masthead p,
  .masthead .btn {
    font-size: 24px;
  }
  .marketing .span4 {
    margin-bottom: 40px;
  }
  .bs-docs-social {
    margin: 0 -20px;
  }

  /* Space out the show-grid examples */
  .show-grid [class*="span"] {
    margin-bottom: 5px;
  }

  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }

  /* Unfloat the back to top link in footer */
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    margin-bottom: 9px;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

  /* Change up some type stuff */
  h2 small {
    display: block;
  }

  /* Downsize the jumbotrons */
  .jumbotron h1 {
    font-size: 60px;
  }
  .jumbotron p,
  .jumbotron .btn {
    font-size: 20px;
  }
  .jumbotron .btn {
    display: block;
    margin: 0 auto;
  }

  /* center align subhead text like the masthead */
  .subhead h1,
  .subhead p {
    text-align: center;
  }

  /* Marketing on home */
  .marketing h1 {
    font-size: 40px;
  }

  /* center example sites */
  .example-sites {
    margin-left: 0;
  }
  .example-sites > li {
    float: none;
    display: block;
    max-width: 280px;
    margin: 0 auto 18px;
    text-align: center;
  }
  .example-sites .thumbnail > img {
    max-width: 270px;
  }

  /* Do our best to make tables work in narrow viewports */
  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  /* Modal example */
  .modal-example .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  /* Unfloat the back to top in footer to prevent odd text wrapping */
  .footer .pull-right {
    float: none;
  }
}

/* Ajax loading button bootstrap
------------------------- */
.btn.loading {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(0, 0, 0, .10)), 
        color-stop(.25, transparent),
        color-stop(.5, transparent), 
        color-stop(.5, rgba(0, 0, 0, .10)),
        color-stop(.75, rgba(0, 0, 0, .10)), 
        color-stop(.75, transparent), 
        to(transparent));
    background-image: 
        -moz-linear-gradient(-45deg, 
            rgba(0, 0, 0, .10) 25%, 
            transparent 25%,
            transparent 50%, rgba(0, 0, 0, .10) 50%, 
            rgba(0, 0, 0, .10) 75%, 
            transparent 75%, transparent
        );
    background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    -webkit-animation: animate-stripes 2s linear infinite;
}

@-webkit-keyframes animate-stripes {
    from {
        background-position: 0 0;
    } 
    to {
       background-position: -50px 0;
    }
}

/* custom grid */
.k-grid-top .btn {
    background-image: url(UI/grid/ntrack-pp-grid-header-background.png);
    margin-top: 5px;
    color: white;
    border-color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
    font-size: 15px;
    vertical-align: bottom;
    line-height: 23px;
}
.k-grid-top .btn .icon-plus-sign {
  display: inline-block;
  background-image: url("UI/grid/ntrack-pp-grid-glyphicons.png");
  background-position: -55px 0px;
  width: 6px;
  background-repeat: no-repeat;
  padding: 8px 10px 0 5px;
}

.k-grid-pager {
    background-color: white !important;
    height: 51px;
}

.toolbar {
    font-size: 15px;
    color: #9e9e9f;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    font-size: 13px;
    text-rendering: geometricPrecision;
    float: right;
    position: relative;
    width: 120px;
    margin-bottom: -30px;
    top: -25px;
    cursor: pointer;
    margin-top: 38px;
}

.black-checkbox label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5), 1px 1px 0px rgba(80,83,85,.4);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5), 1px 1px 0px rgba(80,83,85,.4);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5), 1px 1px 0px rgba(80,83,85,.4);
    background-color: #2c2f30;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.black-checkbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.black-checkbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.black-checkbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.btn-small {
    display: inline-block;
    line-height: 14px;
}
.btn-small .icon-edit {
  background-image: url("UI/grid/ntrack-pp-grid-glyphicons.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.btn-small .icon-remove {
  background-image: url("UI/grid/ntrack-pp-grid-glyphicons.png");
  background-position: -20px 0px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.btn-small .icon-lock {
  background-image: url("UI/grid/ntrack-pp-grid-glyphicons.png");
  background-position: -40px 0px;
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
}

.btn-small .icon-unlock {
  background-image: url("UI/grid/ntrack-pp-grid-glyphicons.png");
  background-position: -96px 0px;
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
}

.btn-small .icon-ok {
  background-image: url("UI/grid/ntrack-pp-grid-glyphicons.png");
  background-position: -75px 0px;
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
}

input[type="search"]
{
    margin-left: 40px;
    margin-top: 6px;
    float: right;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5), 1px 1px 0px rgba(80,83,85,.4);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5), 1px 1px 0px rgba(80,83,85,.4);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5), 1px 1px 0px rgba(80,83,85,.4);
    background-color: #2c2f30;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

th .k-i-arrow-s {
    float: right;
    background-position: -16px -288px;
}

th .k-i-arrow-n {
    float: right;
    background-position: -16px -256px;
}

.t-no-data {
    background-image: url("UI/grid/ntrack-pp-grid-no-data-msg.png");
    background-repeat: no-repeat;
    background-position: center;
}