﻿#tablestd
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

#tablestd td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

#tablestd th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

.TReport input, .TReport textarea 
{
    margin: 0;
    padding: 0;
}

.TReport .PageNumberText
{
    font-size: 8pt;
    font-family: Verdana;    
    padding-top: 1px;
    margin-left: 6px;
}   

.TReport .InputButtonClass
{
    display: block;
    margin-top: 1px;
    padding-top: 0 !important;
}

.TReport .ImageButtonCell
{
    padding: 3px;
}        

.TReport .ReportToolbar INPUT,.TReport  .ReportToolbar SELECT,.TReport  .ReportToolbar BUTTON
{
    font-size: 8pt;
    font-family: Verdana;
    border: 0px !important;
}

.TReport .ReportToolbar
{                                                                          
    font-size: 8pt;
    font-family: Verdana;
    height: 28px;
    border: 1px solid #4f4f4f;    
}

.TReport .ReportToolbarGroup
{
    margin-left: 8px;                                    
    height: 26px;            
    padding-bottom: 2px;
    padding-top: 2px;
}

.TReport .NormalButton,.TReport  .DisabledButton
{        
    background-color: transparent;            
    margin: 1px 1px 1px 1px;
    border-collapse:separate !important;
}

.TReport .HoverPressedButton
{
    cursor: hand;
    background-color: #99bbe2;                
    border: solid 1px #336699;
    border-collapse:separate !important;
}

.TReport .HoverButton
{                 
    cursor: hand;
    background-color: #ddeef7;                                 
    border: solid 1px #336699;
    border-collapse:separate !important;
}

.TReport .PressedButton
{                 
    cursor: hand;
    background-color: #ddeef7;
    border: solid 1px #336699;                
    border-collapse:separate !important;
}

.TReport .ActiveLink
{
    font-size: 8pt;
    font-family: Verdana;
}

.TReport .ActiveLink:link
{
    color: #3366CC;
    text-decoration: none;
}

.TReport .ActiveLink:hover
{
    color: #FF3300;
    text-decoration: underline;
}

.TReport .ActiveLink:visited
{
    color: #3366CC;
    text-decoration: none;
}

.TReport .ActiveLink:visited:hover
{
    color: #FF3300;
    text-decoration: underline;
}

.TReport .DisabledLink
{
    color: gray;
    text-decoration: none;
    cursor: default;

    font-size: 8pt;
    font-family: Verdana;
}

.TReport .WaitText
{
    font-family: Verdana;
    font-weight: normal;
    font-size: 14pt;
}

.TReport .ReportViewerSplitterBar
{
 background-repeat : repeat-y;
 border-left : solid 1px #a7bac5;
 border-right : solid 1px #2c628b;
}

.NormalButton .Enabled, .HoverButton .Enabled,.HoverPressedButton .Enabled,.PressedButton .Enabled
{
 /* DO NOT MODIFY */
 display: inline;
}

.NormalButton .Disabled, .HoverButton .Disabled, .HoverPressedButton .Disabled, .PressedButton .Disabled
{
 /* DO NOT MODIFY */
 display: none;
}   
   
.DisabledButton .Enabled
{
 /* DO NOT MODIFY */
 display: none;
}

.DisabledButton .Disabled
{
 /* DO NOT MODIFY */
 display: inline;
}

.ReportAreaErrorControl
{
 width: 100%;
 height: 100%;
 text-align: center;
 background-color: White;
}

.ReportAreaErrorLabel
{
 font-size: 8pt;
 font-family: Verdana;
 color: Gray;
}

.DocumentMapNodeStyle
{
 font-family: "Verdana";
 font-size: 8pt;
}

.DisabledTextInput
{
 background-color: inactiveCaptionText;
 font-size: 8pt;
 font-family: Verdana;    
 text-align: left;
}


.ParameterEditor
{
 font-size: 8pt;
 font-family: Verdana;    
 text-align: left;
}