﻿@using PalletPlus.Website.Areas.Admin.Models.DataVisualization
@model PalletPlus.Website.ViewModels.Dashboard.DashboardViewModel
<script>
    $(document).ready(function () {
        resetNav();
        $("#Dashboard").addClass("active");
    });
</script>

@Scripts.Render("~/bundles/dataviz")

<div class="span9">
    
</div>