﻿@using Kendo.Mvc.UI



<div class="chart-wrapper">
    <div id="eqdayhirelinechart"></div>
    <script>
        var stocksDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: function () {
                        return "/Admin/GetDayHireBalanceViewModel";
                    },
                    dataType: "json"
                }
            },

            group: {
                field: "EquipmentName"
            },

            sort: {
                field: "MovementDateString",
                dir: "asc"
            },

            schema: {
                model: {
                    fields: {
                        date: {
                            type: "date"
                        }
                    }
                }
            }
        });
        

        function createChart() {
            $("#eqdayhirelinechart").kendoChart({
                title: { text: "Day Hire" },
                dataSource: stocksDataSource,
                series: [{
                    type: "line",
                    field: "DayHire",
                    groupNameTemplate: "#= group.value #"
                }],
                legend: {
                    position: "bottom"
                },
                valueAxis: {
                    labels: {
                        format: "{0}"
                        //,skip: 2,
                        //step: 2
                    }
                },
                categoryAxis: {
                    field: "MovementDateString",
                    labels: {
                        format: "MMM",
                        font: "9px Arial,Helvetica,sans-serif"
                    }
                },
                tooltip: {
                    visible:true
                }
                , seriesColors: colors
            });
        }

        $(document).ready(function () {
            setTimeout(function () {
              
                createChart();

               
            }, 400);
        });
    </script>
</div>

