﻿@using Kendo.Mvc.UI
@model IEnumerable<PalletPlus.Website.Models.DataVisualization.SiteEquipmentBalanceModel>

@{
    string[] arr = ViewBag.Sites;
}

<div class="chart-wrapper">
    <div id="eqbalancechart"></div>
    <script>

        function CreateChartEquipment(chartdata, seriesdata) {
            jQuery("#eqbalancechart").kendoChart(
                             {
                                 "dataSource": {
                                     data: chartdata
                                 },
                                 "title": { "text": "Equipment Balance", "color": "#9DBE51", "font": "18px Myriad Pro" },
                                 "legend": { "position": "bottom" },
                                 "series": seriesdata,
                                 "categoryAxis": { "labels": { "format": "{0}" }, "field": "SiteName" },
                                 "valueAxis": [{ "labels": { "format": "{0}" } }],

                                 "tooltip": { "format": "{0:N0}", "visible": true },
                                 "seriesColors": colors
                             });
        }

        $("document").ready(function() {
            jQuery.ajax(
                {
                    type: 'POST',
                    url: '/Admin/SetEquipmentBalanceViewModel',
                    dataType: 'json',
                    success: function(result) {
                        CreateChartEquipment(result.chartdata, result.seriesdata);
                    }
                });
        });
    </script>
</div>

