﻿@using nTrack.Web.Bootstrap

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  if (Session[ViewBag.Module+"ActiveTabId"] == null)
  {
      Session[ViewBag.Module+"ActiveTabId"] = "#detailsTab";
  }
  if (Session[ViewBag.Module + "ActiveTabPaneId"] == null)
  {
      Session[ViewBag.Module + "ActiveTabPaneId"] = "#details";
  }
}

@section Scripts
{
        @RenderSection("Scripts", false)
    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav-tabs li").click(function () {
                $.post("@Url.Action("SetActiveTabInSession", "Home", new { area = "Manager" })", { module: "@ViewBag.Module", tabId: $(this).attr("id") });
            })
            $("@Session[ViewBag.Module+"ActiveTabId"]").addClass("active");
            $("@Session[ViewBag.Module+"ActiveTabPaneId"]").addClass("active");
        })
       
    </script>
}

<div class="row">
    <div class="span3">@Html.Partial("_SidebarPartial")</div>
    <div class="span9">
        <div class="row">
                <div class="tabbable">
                <ul class="nav nav-tabs">
                    @RenderSection("Tabs", false)
                </ul>
                <div class="tab-content">
                    @Bootstrap.Alert(TempData["alert"])
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>
