﻿@using Subscription.Website.Common
<ul class="nav nav-list bs-docs-sidenav">
    <li id="Dashboard" class="@Html.GetActiveMenuClass("Manager","Home", null, ViewContext)"><a href="@Url.Action("Index", "Home", new { area="Manager" })"><i class="icon-chevron-right"></i> Dashboard</a></li>
    <li id="Users" class=" @Html.GetActiveMenuClass("Manager", "User", null, ViewContext)"><a href="@Url.Action("Index","User", new {area="Manager"})"><i class="icon-chevron-right"></i> Users</a></li>
    <li id="Subscriptions" class="@Html.GetActiveMenuClass("Manager","Subscription", null, ViewContext)"><a href="@Url.Action("Index","Subscription", new {area="Manager"})"><i class="icon-chevron-right" ></i> Subscriptions</a></li>
    <li id="Billing" class="@Html.GetActiveMenuClass("Manager","Billing", null, ViewContext)"><a href="@Url.Action("Index","Billing", new {area="Manager"})"><i class="icon-chevron-right"></i> Billing</a></li>
    <li id="CompanyInfo" class="@Html.GetActiveMenuClass("Manager","CompanyInfo", null, ViewContext)"><a href="@Url.Action("Edit","CompanyInfo", new {area="Manager"})"><i class="icon-chevron-right"></i> Company Info</a></li>
</ul>