﻿@{
    ViewBag.Title = "Registration Success";
}

<h2>Registration Success</h2>
<p>
    Thank you for registering! You can now @Html.ActionLink("login", "Login", "Authentication") using your email and password.
</p>