﻿@model RegisterInvitedUserPageViewModel

@{
    ViewBag.Title = "Invited User Registration";
}

<div id="register-invited-user-page">
<h2>Register</h2>

@Html.ValidationSummary("Plase correct the following error(s) and try again")

@{ Html.BeginForm("RegisterInvitedUser", "Invitation", new { invitationToken = Request.QueryString["invitationToken"] }, FormMethod.Post, null); }

<div class="field-container">
    <label>Email:</label> @Model.Email
</div>
<div class="field-container">
    <label for="password-input">Password:</label>
    @Html.PasswordFor(vm => vm.Password, new { id = "password-input", @class = "text-input" })
</div>
<div class="field-container">
    <label for="first-name-input">First name:</label>
    @Html.TextBoxFor(vm => vm.FirstName, new { id = "first-name-input", @class = "text-input" })
</div>
<div class="field-container">
    <label for="last-name-input">Last name:</label>
    @Html.TextBoxFor(vm => vm.LastName, new { id = "last-name-input", @class = "text-input" })
</div>
<div class="field-container">
    <label for="phone-input">Phone:</label>
    @Html.TextBoxFor(vm => vm.Phone, new { id = "phone-input", @class = "text-input" })
</div>
<div class="field-container">
    <label for="mobile-input">Mobile:</label>
    @Html.TextBoxFor(vm => vm.Mobile, new { id = "mobile-input", @class = "text-input" })
</div>
<div class="buttons-container">
    <input type="submit" value="Register" />
</div>

@{ Html.EndForm(); }
</div>