﻿#subscription-index-page .product-list
{
    margin-bottom: 40px;
    margin-left: 20px;
}

#subscription-index-page .product-list li
{
    margin-bottom: 7px;
    list-style-type: disc;
    list-style-position: inside;
}