﻿#edit-subscription-page .feature-name
{
    font-weight: bold;
}

#edit-subscription-page #feature-list
{
    margin-left: 30px;
    margin-bottom: 30px;
}

#edit-subscription-page #feature-list li
{
    margin-bottom: 15px;
}

#edit-subscription-page #feature-list li input
{
    margin-right: 5px;
}

#edit-subscription-page #feature-list li .loading-image
{
    margin-right: 2px;
}