﻿#new-subscription-page .product-image
{
    margin-bottom: 20px;
}

#new-subscription-page h3
{
    font-size: 20px;
    font-weight: bold;
}

#new-subscription-page #feature-list
{
    margin-top: 15px;
    margin-left: 18px;
}

#new-subscription-page #feature-list li
{
    margin-bottom: 8px;
}

#new-subscription-page #feature-list li input
{
    margin-right: 5px;
}

#new-subscription-page #feature-list li label
{
    font-weight: bold;
}

#new-subscription-page #subscribe-button
{
    padding: 3px 10px;
    margin-top: 15px;
}