﻿#edit-user-permissions-page .product-name
{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

#edit-user-permissions-page .permission-list
{
    margin-bottom: 20px;
    margin-left: 15px;
}

#edit-user-permissions-page .permission-list li
{
    display: inline-block;
    width: 150px;
    margin-right: 50px;
    margin-bottom: 10px;
}