﻿#manage-users-page #active-user-list
{
    margin-bottom: 40px;
}

#manage-users-page #active-user-list > li
{
    margin-bottom: 15px;
}

#manage-users-page .actions-menu
{
    display: inline-block;
    position: relative;
}

#manage-users-page .actions-menu .menu-trigger
{
    text-decoration: none;
    color: #444;
    margin-right: 4px;
    font-size: 10px;
    vertical-align: top;
}

#manage-users-page .actions-menu ul
{
    position: absolute;
    top: 23px;
    display: none;
    background-color: #FFF;
    z-index: 100;
    border: 1px solid #666;
    box-shadow: 4px 4px 5px #888;
}

#manage-users-page .actions-menu ul li
{
    border-bottom: 1px solid #AAA;
}

#manage-users-page .actions-menu ul li:last-child
{
    border-bottom: none;
}

#manage-users-page .actions-menu ul li a
{
    display: block;
    padding: 6px 15px;
    white-space: nowrap;
    text-decoration: none;
    color: #335;
    background-color: #EEE;
}

#manage-users-page #invited-user-list li
{
    margin-bottom: 11px;
}