﻿@using Kendo.Mvc.UI
@model IEnumerable<PalletPlus.Website.Models.DataVisualization.SiteEquipmentBalanceModel>

@{
    string[] arr = ViewBag.Sites;
}

<div class="chart-wrapper">
    <div id="eqexchangesbalancechart"></div>
    <script>

        function CreateChartAccount(chartdata, seriesdata) {

            $("#eqexchangesbalancechart").kendoChart(
                             {
                                 "dataSource": {
                                     data: chartdata
                                 },
                                 "title": { "text": "Exchanges Balance", "color": "#9DBE51", "font": "18px Myriad Pro" },
                                 "legend": { "position": "bottom" },
                                 "series": seriesdata,
                                 "categoryAxis": { "labels": { "format": "{0}" }, "field": "site" },
                                 "valueAxis": [{ "labels": { "format": "{0}" } }],

                                 "tooltip": { "format": "{0:N0}", "visible": true },
                                 "seriesColors": colors
                             });

            
        }

        $("document").ready(function() {
            jQuery.ajax(
                {
                    type: 'GET',
                    url: '/User/GetExchangeBalanceViewModel',
                    dataType: 'json',
                    success: function(result) {
                        CreateChartAccount(result.data, result.series);
                    }
                });
        });
    </script>
</div>

