﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sideBarPartial = ViewBag.SidebarPartial ?? "_SidebarPartial";
}

 
<div class="row">
    <div class="span3">
        @*@Html.Partial("_SidebarPartial")*@
        @Html.Partial(sideBarPartial)
    </div>
    @RenderBody()
    <script>
        $("#State").focusout(function () {
            $("#State").val($("#State").val().toUpperCase());
        });
    </script>      
</div>

@section Scripts
{
     @Scripts.Render("~/bundles/kendo")
     @Scripts.Render("~/bundles/nTrack")
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="@(Url.Content("~/Content/tagit/js/tag-it.min.js"))"></script>



}

@section Styles
{

    <style type="text/css">
        label {
            width: 100px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="@(Url.Content("~/Content/tagit/css/jquery.tagit.css"))"/>
    <link rel="stylesheet" type="text/css" href="@(Url.Content("~/Content/tagit/css/tagit.ui-zendesk.css"))"/>
}


