﻿@using PalletPlus.Website.Helpers
<div class="btn-group pull-right">
    <a class="profile-btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="profile-icon-user"></i>@(((CustomIdentity)User.Identity).UserFullName)<span class="profile-icon-caret"></span>
    </a>
    <ul class="dropdown-menu">
        @*<li><a href="@Url.Action("EditUser", "Company", new {area="Admin", key = (((CustomIdentity)User.Identity).UserKey)})">Profile</a></li>*@
        <li><a href="@Url.Action("EditUser", "Profile", new {area="", key = (((CustomIdentity)User.Identity).UserKey),role="admin"})">Profile</a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("Index", "Home", new { area="User"})">Switch to User</a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("Logout", "Authentication", new { area=""})">Sign Out</a></li>
        <div class="dropdown-menu-pointer"></div>
    </ul>
</div>

