﻿<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header"><div class="nav-list-icon-dashboard"></div>Dashboard</li>
        <li id="BalanceDashboard"><a href="@Url.Action("Index", "BalanceDashboard", new { area="Admin" })">Balance Dashboard</a></li>
        <li id="MovementDashboard"><a href="@Url.Action("Index", "MovementDashboard", new { area="Admin" })">Movement Dashboard</a></li>
        <li id="ExchangesDashboard"><a href="@Url.Action("Index", "ExchangesDashboard", new { area="Admin" })">Exchanges Dashboard</a></li>

        <li class="nav-header"><div class="nav-list-icon-operation"></div>Operation</li>
        <li id="Reconciliations"><a href="@Url.Action("Index", "Reconciliation", new { area="Admin" })">Reconciliation</a></li>
        <li id="Correction"><a href="@Url.Action("Index", "CorrectionRequests", new { area="Admin" })">Corrections</a></li>
        <li id="Partners"><a href="@Url.Action("Index", "Partner", new { area="Admin"})">Partners</a></li>
        @*<li id="Transporters"><a href="@Url.Action("Index", "Transporter", new { area = "Admin" })">TRANSPORTERS</a></li>*@
        

        <li class="nav-header"><div class="nav-list-icon-utility"></div>Utility</li>
        <li id="Company"><a href="@Url.Action("Index", "Company", new { area="Admin" })">Company Details</a></li>
        <li id="Suppliers"><a href="@Url.Action("Index", "Supplier", new { area="Admin" })">Suppliers</a></li>
        <li id="Sites"><a href="@Url.Action("Index", "Site", new { area="Admin" })">Sites</a></li>
        
        <li class="nav-header"><div class="nav-list-icon-tools"></div>Tools</li>
        <li id="exports"><a href="@Url.Action("Index", "ExportMovement", new { area = "Admin" })">Export Movements</a></li>
        <li id="imports"><a href="@Url.Action("Index", "ImportSupplierInvoice", new { area = "Admin" })">Import Invoices</a></li>
        @*<li id="ImportPartners"><a href="@Url.Action("ImportPartners", "ImportPartners", new { area="Admin" })">Import Partners</a></li>*@
        
    </ul>
</div>

<style scoped>
    .well {
        margin-right: 15px;
    }
</style>
