﻿<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>nTrack PalletPlus Website</h1>
  <p>Welcome to ntrack pallet-plus website.</p>
    <p>
        @if(!User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("Login", "Authentication")" class="btn btn-primary btn-large">Login &raquo;</a>
            <a href="@Url.Action("Register", "Authentication")" class="btn btn-primary btn-large">Register &raquo;</a>
        }
        else
        {
            if(User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Index", "Home", new {area = "Admin"})" class="btn btn-primary btn-large">Admin Panel &raquo;</a>
            }
            if(User.IsInRole("User"))
            {
                <a href="@Url.Action("Index", "Home", new {area = "User"})" class="btn btn-primary btn-large">User Panel &raquo;</a>
            }
        }
    </p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>


