﻿@model PalletPlus.Website.ViewModels.PageViewModel

@{
    ViewBag.Title = "Login page";
}

@*@section Header
{
    <a href="/">
                        <img class="pull-left" id="ntrackLogo" style="height: 40px; margin-left: 100px;" src="/Content/ntrack-pp-logo.png" alt="logo" ></a>
}*@

<div class="box login-size">
    <div class="boxHeader">
        <h4 style="color: black;">Login</h4>
    </div>
    <div class="boxBody">
        @Html.ValidationSummary()
        @Html.Partial("_Login",Model)
    </div>
</div>


