﻿@model PalletPlus.Website.Areas.User.ViewModels.RecordStocktake.RecordStocktakePartialViewModel
@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        $("#datepicker").kendoDatePicker({
            name: "StocktakeDate",
            culture: "en-AU",
            min: new Date(),
            value: new Date()
        });
    });
</script>

@using (Html.BeginForm("Save", "RecordStocktake", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => Model.EquipmentProvider)
    <fieldset>
        <legend>Movement Details</legend>
        @Html.ValidationSummary()
        
        <div class="control-group">
            @Bootstrap.LabelFor(Html, m => m.StocktakeDate)
            <div class="controls">
                <input id="datepicker" name="StocktakeDate" required style="width:150px;" />
            </div>
        </div>

        @{
            foreach (var e in Model.Equipment)
            {
                <div class="control-group">
                    <label class="control-label">@Model.EquipmentNames[e.Key]</label>
                    <div class="controls">
                        <input data-val="true" data-val-number="The field must be a number." name="Equipment[@e.Key]" type="text" value=""> 
                    </div>
                </div>
            }
        }
        
        <div class="control-group">
            <div class="controls">
                @Bootstrap.SaveButton("Save", "edit")
                @Bootstrap.BackButton("Cancel", "back", Url.Action("Index", "Home"))
            </div>
        </div>
    </fieldset>
}
<script>
    $.validator.unobtrusive.parse($('form'));
</script>