﻿@model PalletPlus.Website.Areas.User.ViewModels.RecordStocktake.RecordStocktakeViewModel
@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        resetNav();
        $("#RecordStocktake").addClass("active");
        $("#EquipmentProvider").combobox();
    });
</script>

<style scoped>
    .btn-small {
        margin-left: 15px;
    }
    .input-xlarge {
        float: left;
    }
</style>

<div class="span6">
    <div class="row">
        <div class="tabbable" style="margin-left: 10px;">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#stocktake" data-toggle="tab">Stocktake</a></li>
            </ul>
            <div class="tab-content">
                @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                <div class="tab-pane active" id="stocktake">
                    <div class="form-horizontal">
                        <div class="control-group">
                            @Bootstrap.LabelFor(Html, m => m.EquipmentProvider)
                            <div class="controls">
                                @Bootstrap.ComboboxFor(Html, m => m.EquipmentProvider, Model.Suppliers)
                            </div>
                        </div>
                        
                        <div id="EquipmentDiv">
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="span3">
    <fieldset>
        <legend>Last 10 stocktakes:</legend>

        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Equipment</th>
                    <th>Quantity</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                    foreach (var item in Model.ListOf10LastStocktakes)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.EquipmentName</td>
                            <td>@item.Quantity</td>
                            <td>@item.StocktakeDate.ToShortDateString()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </fieldset>
</div>

<script>
    $("#EquipmentProvider").change(function () {
        var id = $("#EquipmentProvider option:selected").val();
        if (id == "") {
            // $("#EquipmentDiv").hide("fast");
            $("#EquipmentDiv").html("");
            return;
        }

        CallView("@Url.Action("GetCascadeEquipment", "RecordStocktake", new { id = UrlParameter.Optional })" + id, "EquipmentDiv");
@*        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCascadeEquipment", "RecordStocktake", new { id = UrlParameter.Optional })"+id
        }).done(function (msg) {
            $("#EquipmentDiv").html(msg);
            $("#EquipmentDiv").show("fast");
        });*@
    });
</script>