﻿@model PalletPlus.Website.Areas.Admin.ViewModels.ImportSupplierInvoiceData.ImportSupplierInvoiceViewModel
@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        resetNav();
        $("#imports").addClass("active");
    });
</script>

<style scoped>
    .file-upload {padding-top: 5px;padding-bottom: 5px;}
</style>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Import Invoice</legend>
        </fieldset>

        @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
        <div class="tab-pane active" id="export">
            @using (Html.BeginForm("ImportInvoice", "ImportSupplierInvoice", FormMethod.Post, new { @class = "form-horizontal" }))
            { 
                <div class="control-group">
                    @Bootstrap.LabelFor(Html, m => Model.SupplierId)
                    <div class="controls">
                        @Bootstrap.ComboboxFor(Html, m => Model.SupplierId, Model.Suppliers)
                        <div class="file-upload">
                        @(Html.Kendo().Upload().Name("files").Multiple(false))
                        </div>
                        @Bootstrap.NextButton("Upload", "upload-button",true)
                    </div>
                </div>
            }
                    
        </div>
        
        <fieldset>
            <legend>Recently Imported</legend>
        </fieldset>

        @(Html.Kendo().Grid(Model.PreviousInvoices)
                  .Name("Grid")
                  .Columns(columns =>
                  {
                      columns.AutoGenerate(false);
                      columns.Bound(x => x.InvoiceDate).Format("{0:d}");
                      columns.Bound(x => x.InvoiceNumber);
                      columns.Bound(x => x.SupplierName);
                      columns.Bound(x => x.TotalItems);
                      columns.Template(
                          @<text>
                               @if (item.IsReconciled)
                               {
                                   <span>Yes</span>
                               }
                               else
                               {
                                   <span>No</span>
                               }
                           </text>
                          ).Title("Reconciled").Width(50);
                  })
                  .Sortable()
                  .Pageable()
         )
    </div>
</div>


<script>
    $("#SupplierId").change(function () {
        if ($("#SupplierId").val() != "")
            $("#upload-button").removeAttr("disabled");
        else {
            $("#upload-button").attr("disabled", "disabled");
        }
    });
</script>