﻿@model PalletPlus.Website.Areas.Admin.ViewModels.ImportSupplierInvoiceData.InvoiceDetailsViewModel
@using Kendo.Mvc.UI

<script>
    $(document).ready(function () {
        resetNav();
        $("#imports").addClass("active");
        $('#SupplierId').combobox();
    });
</script>

<style scoped>
    .btn-small {
        margin-left: 15px;
    }
    .input-xlarge {
        float: left;
    }
</style>


<div class="span9">
    <div class="row">
        
        <fieldset>
            <legend>Invoice Number: @Model.InvoiceNumber</legend>
            <legend>Invoice Date: @Model.InvoiceDate</legend>
        </fieldset>

        @(Html.Kendo().Grid(Model.Details)
              .Name("Grid")
              .Columns(columns =>
                           {
                               columns.AutoGenerate(false);
                               columns.Bound(x => x.MovementDate);
                               columns.Bound(x => x.EffectiveDate);
                               columns.Bound(x => x.DocketNumber);
                               columns.Bound(x => x.TransactionCode);
                               columns.Bound(x => x.EquipmentCode);
                               //columns.Bound(x => x.EquipmentName);
                               columns.Bound(x => x.Qty);
                               columns.Bound(x => x.DestinationAccountNumber);
                               
                           })
              .Sortable()
              .Pageable(action => action.PageSizes(new[] { 5, 10, 20, 50 }))
          )
    </div>
</div>