﻿@model Subscription.Website.ViewModels.Role.RoleAddEditVM

@Html.ValidationSummary(false, "", new {@class = "well well-small"})
    @Html.HiddenFor( p => p.AccountId)
                               @Html.HiddenFor(p => p.ReturnUrl)
                             <div class="control-group">
                                 @Bootstrap.LabelFor(Html, x => x.RoleName)
                                 <div class="controls">
                                     @Bootstrap.TextBoxFor(Html, x => x.RoleName)
                                 </div>
                             </div>

                             @for (int i = 0; i < Model.SubscribedProductWithPermissions.Count; i++)
                             {
                                 @Html.HiddenFor(p => Model.SubscribedProductWithPermissions[i].Id)
                                 @Html.HiddenFor(p => Model.SubscribedProductWithPermissions[i].Name)
                                 <fieldset>
                                     <legend><a href="#">@Model.SubscribedProductWithPermissions[i].Name</a></legend>
                                     <!-- Some input, p, div, whatever -->
                                     <div class="content">
                                         @for (int j = 0; j < Model.SubscribedProductWithPermissions[i].Permissions.Count; j++)
                                         {
                                             <div class="control-group">
                                                 <div class="controls">
                                                     @Html.HiddenFor(p => Model.SubscribedProductWithPermissions[i].Permissions[j].Code)
                                                     @Html.HiddenFor(p => Model.SubscribedProductWithPermissions[i].Permissions[j].Name)
                                                     @Bootstrap.CheckBoxFor(Html, p => Model.SubscribedProductWithPermissions[i].Permissions[j].IsSelected, "is-selected", Model.SubscribedProductWithPermissions[i].Permissions[j].Name)
                                                 </div>
                                             </div>
                                         }
                                     </div>
                                 </fieldset>

                             }

<div class="control-group">
    <div class="controls">
        @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
        @Bootstrap.SaveButton("Save", "edit").Disabled(!Model.AllowPost)
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('legend').click(function () {
            $(this).parent().find('.content').slideToggle("slow");
        });
    });
</script>