﻿@using nTrack.Web.Bootstrap

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    @RenderSection("Scripts", false)
}

<div class="tabbable">
    <ul class="nav nav-tabs">
        @RenderSection("Tabs", false)
    </ul>
    <div class="tab-content">
        @Bootstrap.Alert(TempData["alert"])
        @RenderBody()
    </div>
</div>
