﻿@model Subscription.Website.ViewModels.Role.RoleAddEditVM

@{
    ViewBag.Title = "Add Role";
}

@section Tabs
{
                    <li class="active"><a href="#tab1" data-toggle="tab">Add Role</a></li>
}

<div class="tab-pane active" id="tab1">
           
                    @if (Model.SubscribedProductWithPermissions.Any())
                    {
                        using (Html.BeginForm("Add", "Role", FormMethod.Post, new {@class = "form-horizontal"}))
                         {
                         
                             @Html.Partial("_Form", Model)
                         }
                    }
                    else
                    {
                        <div class="control-group">
                            <h4>Account has no subscriptions! First subscribe some products!</h4>
                        </div>

                    }
                </div>
