﻿@model Subscription.Website.ViewModels.Role.RolesVM

@{
    ViewBag.Title = "Roles";
}

@section Tabs
{
                    <li class="active"><a href="#tab1" data-toggle="tab">Roles</a></li>
}

<div class="tab-pane active" id="tab1">   

    @Html.Partial("_RolesTable",Model.Roles)
</div>
