﻿@model Subscription.Website.ViewModels.Role.RoleRemoveVM

@{
    ViewBag.Title = "Removing "+Model.RoleName+" Role";
}

@section Tabs
{
                    <li class="active"><a href="#tab1" data-toggle="tab">Removing @Model.RoleName Role</a></li>
}
                <div class="tab-pane active" id="tab1">
                    
                    @using (Html.BeginForm("RemovePost", "Role",  FormMethod.Post, new {@class = "form-horizontal"}))
                    {
                                                 @Html.ValidationSummary(false,null,(new {@class="well well-small"}))
                        @Html.HiddenFor(p => p.Key)
                        @Html.HiddenFor(p => p.RoleName)
                       @Html.HiddenFor( p => p.AccountId)
                        @Html.HiddenFor(p => p.ReturnUrl)

                            
                        <div class="control-group">
                            <div class="controls">
                                <h4>Are you sure to remove this role?</h4>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                @Bootstrap.BackButton("No", "back", Model.ReturnUrl)
                                @Bootstrap.SaveButton("Yes", "edit").Disabled(!Model.AllowPost)
                            </div>
                        </div>
                    }
                </div>
