﻿@using Kendo.Mvc.UI
@model IEnumerable<PalletPlus.Website.Models.DataVisualization.SiteEquipmentBalanceModel>

@{
    string[] arr = ViewBag.Sites;
}

<div class="chart-wrapper">
    <div id="eqbalancechart"></div>
    <script>
        jQuery(function () {
            jQuery("#eqbalancechart").kendoChart(
                {
                    "title": { "text": "Equipment Balance", "color": "#9DBE51", "font": "18px Myriad Pro" },
                    "legend": { "position": "bottom" },
                    "series": [{ "name": "quantity", "groupNameTemplate": "#= group.value #", "type": "column", "field": "Quantity" }],
                    "categoryAxis": { "labels": { "format": "{0}" } },
                    "valueAxis": [{ "labels": { "format": "{0}" } }],
                    "dataSource": {
                        "transport": { "read": { "url": "/User/GetEquipmentBalance", "type": "GET" } },
                        "sort": [{ "field": "SiteName", "dir": "asc" }],
                        "group": [{ "field": "EquipmentName", "dir": "asc" }],
                        "schema": {
                            "model": {
                                "fields": {
                                    "SiteName": { "type": "string" },
                                    "EquipmentName": { "type": "string" }, "Quantity": { "type": "number" }
                                }
                            }
                        }
                    },
                    "tooltip": { "format": "{0:N0}", "visible": true },
                    "seriesColors": colors
                });
        });
    </script>
</div>