﻿@using PalletPlus.Website.Models.DataVisualization
@model PalletPlus.Website.ViewModels.Dashboard.DashboardViewModel
<script>
    $(document).ready(function () {
        resetNav();
        $("#BalanceDashboard").addClass("active");
    });
    
    var colors = [];
    $.get("@Url.Action("GetDashboardColors", "BalanceDashboard")", function (data) {
            $.each(data, function (i) {
                colors.push(data[i]);
            });
        });
</script>

@Scripts.Render("~/bundles/dataviz")

<div class="span9">
    <div class="span4">
        @Html.Partial("_AccountEquipmentPerSiteDataVizPartial", new List<SiteEquipmentBalanceModel>())
    </div>
    <div class="span4">
        @Html.Partial("_EquipmentPerSiteDataVizPartial", new List<SiteEquipmentBalanceModel>())
    </div>
    
     <div class="span8">
        @Html.Partial("_DayHireDataVizPartial")
    </div>
</div>