﻿@model Subscription.Website.Areas.Admin.ViewModels.Account.AccountActivationVM

@{
    if (Model.Activating)
    {
        ViewBag.Title = "Activating " + Model.CompanyName;
    }
    else
    {
        ViewBag.Title = "Deactivating " + Model.CompanyName;
    }
}

@section Tabs
{
    <li class="active">
        <a href="#tab1" data-toggle="tab">
            @if (Model.Activating)
            {
                <text>Activating @Model.CompanyName</text>
            }
            else
            {
                <text>Deactivating @Model.CompanyName</text>
            }
        </a>
    </li>
}

<div class="tab-pane active" id="tab1">

    
    @using (Html.BeginForm(Model.Activating ? "Activate" : "Deactivate", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(false,null,(new {@class="well well-small"}))
        @Html.HiddenFor(x=>x.AccountId)
        @Html.HiddenFor(x=>x.CompanyName)
        @Html.HiddenFor(x=>x.Activating)
        @Html.HiddenFor(p => p.ReturnUrl)

        if(!Model.Activating)
        {
            <div class="control-group">
                @Bootstrap.LabelFor(Html, x => x.Reason)
                <div class="controls">
                    @Bootstrap.TextAreaFor(Html, x => x.Reason)
                </div>
            </div>
        }
        
        <div class="control-group">
            <div class="controls">
                @Bootstrap.BackButton("Back", "back", Model.ReturnUrl)
                @Bootstrap.SaveButton(Model.Activating ? "Activate" : "Deactivate", "edit").Disabled(!Model.AllowPost)
            </div>
        </div>
    }
</div>
