﻿@model Subscription.Website.Areas.Admin.ViewModels.Account.EditVM

@{
    ViewBag.Title = "Edit";
    ViewBag.AccountId = Model.AccountId;
}

@section Tabs
{
    <li id="detailsTab"><a href="#details" data-toggle="tab">Details</a></li>
    <li id="imageTab"><a href="#image" data-toggle="tab">Logo</a></li>
    <li id="usersTab"><a href="#users" data-toggle="tab">Users</a></li>
    @*<li id="rolesTab"><a href="#roles" data-toggle="tab">Roles</a></li>*@
    <li id="subscriptionsTab"><a href="#subscriptions" data-toggle="tab">Subscriptions</a></li>
}

<div class="tab-pane" id="details">
    @using (Html.BeginForm("Edit", "Account", new { area = "Admin", returnUrl = Request.RawUrl, accountId = Model.AccountId }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.Partial("_AccountForm", Model.AccountInfo)
        <div class="control-group">
            <div class="controls">
                @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Account"))
                @Bootstrap.SaveButton("Save", "edit").Disabled(!Model.AccountInfo.AllowPost)
            </div>
        </div>
    }
</div>

<div class="tab-pane" id="image">
    @Html.Partial("_Image", Model.ImageVM)
</div>

<div class="tab-pane" id="users">
    @Html.Partial("_UsersTable", Model.Users)
</div>
@*<div class="tab-pane" id="roles">
    @Html.Partial("_RolesTable", Model.Roles)
</div>*@
<div class="tab-pane" id="subscriptions">
    @Html.Partial("_SubscriptionsList", Model.SubscriptionsInfo)
</div>


<script type="text/javascript">
    var totalFiles = 0;

    function onselect(e) {
        var selectedFiles = e.files.length;
        if (totalFiles + selectedFiles > 1) {
            alert("You can upload only one file!");
            e.preventDefault();
        } else {


            $.each(e.files, function (index, value) {
                if (value.extension != ".jpg" && value.extension != ".png") {
                    e.preventDefault();
                    alert("You can upload only jpg and png file!");
                } else if (value.size > 1024000) {
                    e.preventDefault();
                    alert("You can not upload file that isn't bigger than 1MB!");
                } else {
                    totalFiles++;
                }
            });
        }
    }

    ;

    function onremove(e) {
        totalFiles--;
    }
</script>