﻿@model Subscription.Website.Areas.Admin.ViewModels.Account.IndexVM

@{
    ViewBag.Title = "Accounts";
}

@section Tabs
{
    <li class="active"><a href="#tab1" data-toggle="tab">Accounts</a></li>
}

<div class="tab-pane active" id="tab1">
       @(Html.Kendo()
           .Grid(Model.Accounts)
           .Name("accounts-grid")
           .DataSource(
               data=> data.Server().Model(model => model.Id(x => x.AccountId)))
           .Columns(
               cols=>
                   {
                       cols.AutoGenerate(false);
                       cols.Bound(x => x.CompanyName);
                       cols.Bound(x => x.UsersCount).Title("Total users");
                       cols.Bound(x => x.ProductSubscriptionsCount).Title("Total subscriptions");
                       cols.Template(
                           @<text>
                                <div class="btn-group">
                                    <a id="edit-account" class="btn btn-small" rel="tooltip" title="Edit" href="@Url.Action("Edit", "Account", new {accountId = item.AccountId, area = "Admin"})">
                                        <i class="icon-edit"></i>
                                    </a>
                                
                                    @{
                                        if((User.Identity as CustomIdentity).AccountId != item.AccountId)
                                        {
                                            if (item.IsActive)
                                            {
                                                <a id="deactivate-account" class="btn btn-small" rel="tooltip" title="Deactivate" href="@Url.Action("Deactivate", "Account", new {accountId = item.AccountId, area = "Admin"})">
                                                    <i class="icon-remove"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a id="activate-account" class="btn btn-small" rel="tooltip" title="Activate" href="@Url.Action("Activate", "Account", new {accountId = item.AccountId, area = "Admin"})">
                                                    <i class="icon-ok"></i>
                                                </a>
                                            }
                                        }
                                    }
                                </div>
                            </text>
                           );
                   })
          )
</div>
