﻿@using System.ComponentModel
@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.User.ViewModels.Enumerators
@model PalletPlus.Website.Areas.User.ViewModels.Movement.MovementGridVM

@(Html.Kendo().Grid<PalletPlus.Website.Areas.User.ViewModels.Movement.MovementViewModel>()
        .Name(Model.Name)
        .EnableCustomBinding(true)
        .BindTo(Model.MovementsList)
        .DataSource(dataSource =>
                        {
                            dataSource.Server().Sort(p => p.Add(x => x.MovementDate).Descending());
                            dataSource.Server().Read(read => read.Action("Index", "Movements", new {tab = Model.Name}));
                            dataSource.Server().Total(Model.Total);
                        })
        .DetailTemplate(@<text>
                             @(Html.Kendo().Grid<PalletPlus.Website.Areas.User.ViewModels.Movement.MovementEquipmentModel>()
                                   .Name("Assets_" + item.MovementId)
                                   .Columns(columns =>
                                                {
                                                    columns.Bound(o => o.EquipmentName);
                                                    columns.Bound(o => o.Quantity);
                                                })
                                   .DataSource(dataSource => dataSource
                                                                 .Ajax()
                                                                 .Read(read => read.Action("GetMovementAssets", "Movements", new { movementId = item.MovementId }))
                                   )
                                   ) 
                         </text>)
        .Columns(columns =>
                     {
                         columns.AutoGenerate(false);
                         columns.Bound(p => p.MovementDate).Format("{0:dd/MM/yyyy}");
                         columns.Bound(p => p.DocketNumber);
                         columns.Bound(p => p.MovementType);
                         columns.Bound(p => p.Direction);
                         columns.Bound(p => p.DestinationName);
                         columns.Template(
                             @<text>
                                  <div class="btn-group grid-btn-group">
                                      @if (item.Status == CorrectionStatus.None.ToString())
                                      {
                                          <a class="btn btn-small" rel="tooltip" title="Request correction" 
                                             href="@Url.Action("RequestCorrection", "Movements", new { id = item.MovementId, area = "User" })">
                                              <i class="icon-edit"></i>
                                          </a>
                                          <a class="btn btn-small" rel="tooltip" title="Request cancellation"
                                             href="@Url.Action("RequestDelete", "Movements", new { id = item.MovementId, area = "User" })">
                                              <i class="icon-remove"></i>
                                          </a>
                                      }
                                      else if (item.Status == CorrectionStatus.PendingCorrectionAndCreatedByMe.ToString() || item.Status == CorrectionStatus.PendingCorrection.ToString() || item.Status == CorrectionStatus.PendingCancellationAndCreatedByMe.ToString())
                                      {
                                          <a class="btn btn-small" rel="tooltip" title="View details" 
                                             href="@Url.Action("CorrectionDetails", "Movements", new { id = item.MovementId, area = "User" })">
                                              <i class="icon-book"></i>
                                          </a>
                                          if (item.Status != CorrectionStatus.PendingCorrection.ToString())
                                          {
                                              <a class="btn btn-small" rel="tooltip" title="Cancel pending correction" 
                                                 href="@Url.Action("WithdrawRequest", "Movements", new { id = item.MovementId, correctionKey = item.CorrectionKey, status = item.Status, area = "User" })">
                                                  <i class="icon-remove"></i>
                                              </a>
                                          }
                                      }
                      
                                      @if (item.Direction == "Out")
                                      {
                                          <a class="btn btn-small" rel="tooltip" title="Show report"
                                             href="@Url.Action("Raport", "Movements", new { movementId = item.MovementId, area = "User" })">
                                              <i class="icon-print"></i>
                                          </a>
                                      }
                                  </div>
                                  @if (item.Status == CorrectionStatus.PendingCorrectionAndCreatedByMe.ToString() || item.Status == CorrectionStatus.PendingCorrection.ToString())
                                  {
                                      <span class="badge badge-warning">!</span>
                                  }
                                  else if (item.Status == CorrectionStatus.PendingCancellationAndCreatedByMe.ToString() || item.Status == CorrectionStatus.PendingCancellation.ToString())
                                  {
                                      <span class="badge badge-important">!</span>
                                  }
                              </text>
                             ).Width(125).Title("");
        
        
                     })
        .Sortable(action => action.SortMode(GridSortMode.SingleColumn).Enabled(true).AllowUnsort(false))
        .Pageable(action => action.PageSizes(new[] { 1, 5, 10, 20, 50 }))
       )

