﻿@using Kendo.Mvc.UI
@using PalletPlus.Website.Areas.User.ViewModels.Enumerators
@using PalletPlus.Website.Areas.User.ViewModels.Movement
@model string

<script>
    $(document).ready(function () {
        resetNav();
        var url = $.getUrlVar('Grid-filter');
        if (url != null && url != "") {
            var searchVal = decodeURIComponent(url.split('~')[2].split("'")[1]);
            $("#searchText").val(searchVal);
        }
    });
</script>

<script id="movementEquipmentsTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<MovementEquipmentModel>()
                                                 .Name("Assets_#=MovementId#")
                                                 .Columns(columns =>
                                                              {
                                                                  columns.Bound(o => o.EquipmentName);
                                                                  columns.Bound(o => o.Quantity);
                                                              })
                                                 .DataSource(dataSource => dataSource
                                                                               .Ajax()
                                                                               .Read(read => read.Action("GetMovementAssets", "Movements", new { movementId = "#=MovementId#" }))
                                                 ).ToClientTemplate()
                                                 ) 
</script>



@(Html.Kendo().Grid<MovementViewModel>()
        .Name(Model)
        .DataSource(dataSource =>
                        {
                            dataSource.Ajax().Sort(p => p.Add(x => x.MovementDate).Descending());
                            dataSource.Ajax().Read(read => read.Action("GetMovements", "Movements", new { tab = Model }));
                        })
        .ClientDetailTemplateId("movementEquipmentsTemplate")
        .Columns(columns =>
                     {
                         columns.AutoGenerate(false);
                         columns.Bound(p => p.MovementDate).Format("{0:dd/MM/yyyy}");
                         columns.Bound(p => p.EffectiveDate).Format("{0:dd/MM/yyyy}");
                         columns.Bound(p => p.DocketNumber);
                         columns.Bound(p => p.MovementType);
                         columns.Bound(p => p.Direction);
                         columns.Bound(p => p.DestinationName);
                         columns.Bound(p => p.CorrectionKey).ClientTemplate(
                                            "<div class=\"btn-group grid-btn-group\">" +
                                               "# if (Status == \"None\") { #" +
                                                    "<a class=\"btn btn-small\" rel=\"tooltip\" title=\"Request correction\"" +
                                                       "href=\"" + @Url.Action("RequestCorrection", "Movements", new { area = "User" }) + "?id=#= MovementId #\">" +
                                                       " <i class=\"icon-edit\"></i>" +
                                                    "</a>" +
                                                    "<a class=\"btn btn-small\" rel=\"tooltip\" title=\"Request cancellation\"" +
                                                    "href=\"" + @Url.Action("RequestDelete", "Movements", new { area = "User" }) + "?id=#= MovementId #\">" +
                                                         " <i class=\"icon-remove\"></i>" +
                                                    "</a>" +
                                                "# } " +
                                                " else if (Status == \"" + CorrectionStatus.PendingCorrectionAndCreatedByMe.ToString() + "\" || Status == \"" + CorrectionStatus.PendingCorrection.ToString() + "\" || Status == \"" + CorrectionStatus.PendingCancellationAndCreatedByMe.ToString() + "\") { #" +
                                                    "<a class=\"btn btn-small\" rel=\"tooltip\" title=\"View details\"" +
                                                      "href=\"" + @Url.Action("CorrectionDetails", "Movements", new { area = "User" }) + "?id=#= MovementId #\">" +
                                                         " <i class=\"icon-book\"></i>" +
                                                    "</a>" +
                                                    "# if(Status != \"" + CorrectionStatus.PendingCorrection.ToString() + "\") {#" +

                                                        "<a class=\"btn btn-small\" rel=\"tooltip\" title=\"Cancel pending correction\"" +
                                                        "href=\"" + @Url.Action("WithdrawRequest", "Movements", new { area = "User" }) + "?id=#= MovementId #&correctionKey=#= CorrectionKey#&status=#= Status#" + "\">" +
                                                             " <i class=\"icon-remove\"></i>" +
                                                    "</a>" +
                                                    "# } #" +
                                                "# } #" +
                                                "# if (Direction == \"Sent\") { #" +
                                                    "<a class=\"btn btn-small\" rel=\"tooltip\" title=\"Show report\"" +
                                                    "href=\"" + @Url.Action("Raport", "Movements", new { area = "User" }) + "?id=#= MovementId #\">" +
                                                    " <i class=\"icon-print\"></i>" +
                                                    "</a>" +
                                                "# } #" +
                                            "</div>"+
                             "# if (Status == \"" + CorrectionStatus.PendingCorrectionAndCreatedByMe.ToString() + "\" || Status == \"" + CorrectionStatus.PendingCorrection.ToString() + "\") { #" +
                                 "<span class=\"badge badge-warning\">!</span>"+
                             "# } "+
                             " else if(Status == \"" + CorrectionStatus.PendingCancellationAndCreatedByMe.ToString() + "\" || Status == \"" + CorrectionStatus.PendingCancellation.ToString() + "\") { #" +
                                 "<span class=\"badge badge-important\">!</span>"+
                             "# } #"
                                       ).Width(125).Title("");
                     })
        .Sortable(action => action.SortMode(GridSortMode.SingleColumn).Enabled(true).AllowUnsort(false))
        .Pageable(action => action.PageSizes(new[] { 1, 5, 10, 20, 50 }).Refresh(true))
        .ToolBar(toolbar => toolbar.Template(
                                               "<button id='search-btn' class='btn' type='button'>Search</button></span>"+
                                               "<input type='search' id='searchText' class='searchInput'></input>"
                                       ))
      )

<script>
    
    $("#search-btn").click(function () {
        var searchValue = $("#searchText").val();
        var grid = $("#@Model").data("kendoGrid");
        if (searchValue != "") {
            grid.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "DocketNumber", operator: "startswith", value: searchValue },
                ]
            });
        } else {
            grid.dataSource.filter({});
        }
    });
</script>

<style scoped>
    #search-btn {
        float: right;
        margin-left: 5px;
    }

    .btn {
        margin-left: 5px;
        margin-bottom: 6px;
    }

    .searchInput {
        width: 230px;
        margin-top: 2px;
    }
</style>