﻿@model PalletPlus.Website.Areas.User.ViewModels.Movement.MovementCorrectionDetailsViewModel
@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        resetNav();
        $("#Movements").addClass("active");
    });
</script>

<style scoped>
    .old {
        color: red;
    }
    .new {
        color: green;
    }
</style>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Movement details</legend>
            
            <dl class="dl-horizontal">
                <dt>Docket Number</dt>
                <dd>@Model.DocketNumber</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Provider</dt>
                <dd>@Model.EquipmentProviderName</dd>
            </dl>

                    
            <dl class="dl-horizontal">
                <dt>Partner</dt>
                <dd>@Model.TradingPartnerName</dd>
            </dl>

               @if(Model.NewQuantities==null)
               {
                   <dl class="dl-horizontal">
                       <dt>Movement date</dt>
                       <dd>@Model.MovementDate.ToShortDateString()</dd>
                   </dl>
               }
            
        </fieldset>

        <fieldset>
            @if(Model.NewQuantities != null){<legend>Correction details</legend>}
            else{<legend>Cancellation details</legend>}
            @Html.ValidationSummary()
                        
             @if(Model.NewQuantities!=null)
             {
                   <dl class="dl-horizontal">
                            <dt>Dates</dt>
                            <dd>
                            <table class="table span4 table-condensed table-hover table-bordered" style="margin-left: -8px;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Old date</th>
                                        <th>New date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Movement date</td>
                                        <td class="old">@Model.MovementDate.ToShortDateString()</td>
                                        <td class="new">@Model.CorrectedMovementDate.ToShortDateString()</td>
                                    </tr>
                                    <tr>
                                        <td>Effective date</td>
                                        <td class="old">@Model.EffectiveDate.ToShortDateString()</td>
                                        <td class="new">@Model.CorrectedEffectiveDate.ToShortDateString()</td>
                                    </tr>
                                </tbody>
                            </table>
                                </dd>
                        </dl>
             }

            <dl class="dl-horizontal">
                <dt>Quantities</dt>
                <dd>
                    <table class="table span4 table-condensed table-hover table-bordered" style="margin-left: -8px;">
                        <thead>
                            <tr>
                                <th>Asset name</th>
                                <th>Old quantity</th>
                                @if(Model.NewQuantities!=null)
                                {
                                    <th>New quantity</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var i in Model.Equipment)
                            {
                                <tr>
                                    <td>@i.EquipmentCode</td>
                                    <td class="old">@Model.Equipment.FirstOrDefault(x => x.EquipmentCode == i.EquipmentCode).Quantity</td>
                                    @if(Model.NewQuantities!=null)
                                    {
                                        <td class="new">@Model.NewQuantities[i.EquipmentCode]</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>
            </dl>
                              
            <dl class="dl-horizontal">
                <dt>Reason</dt>
                <dd>@Model.Reason</dd>
            </dl>
            
            <dl class="dl-horizontal">
                <dt>Raised By</dt>
                <dd>@Model.RequestedBy</dd>
            </dl>

            <div class="control-group">
                <div class="controls">
                    @Bootstrap.BackButton("Cancel", "back", Url.Action("Index", "Movements"))
                </div>
            </div>
        </fieldset>

    </div>
</div>

<style scoped>
    .control-group {
        margin-left: 90px;
    }
        .old {
        color: red;
    }
    .new {
        color: green;
    }
</style>
