﻿@model PalletPlus.Website.Areas.User.ViewModels.Movement.MovementListVM

@{
    var tab = TempData["tab-value"] ?? "recent";
}

<script>
    $(document).ready(function () {
        resetNav();
        $("#Movements").addClass("active");
        
        $(document).ready(function () {
            $('#myTab a[href=#@tab]').tab('show');
        });
        
        CallView("@Url.Action("GetGrid", new { tab = "Recent"})", "recent");
        
        $("#recentTab").click(function () {
            $("#recent").html = "";
            CallView("@Url.Action("GetGrid", new { tab = "Recent"})", "recent");
        });
        
        $("#pendingTab").click(function () {
            $("#pending").html = "";
            CallView("@Url.Action("GetGrid", new { tab = "Pending"})", "pending");
        });
        
        $("#historicTab").click(function () {
            $("#historic").html = "";
            CallView("@Url.Action("GetGrid", new { tab = "Historic"})", "historic");
        });
        
        @*$("#searchTab").click(function () {
            $("#search").html = "";
            CallView("@Url.Action("GetGrid", new { tab = "Search" })", "search");
         });*@
        
        //$("#historicTab").click(function () {
        //    var grid = $("#Historic").data("kendoGrid");
        //    grid.dataSource.read();
        //});
    });
</script>
 
<div class="span9">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a id="recentTab" href="#recent" data-toggle="tab">Recent</a></li>
            <li><a id="pendingTab" href="#pending" data-toggle="tab">Pending</a></li>
            <li><a id="historicTab" href="#historic" data-toggle="tab">Historic</a></li>
        </ul>
        <div class="tab-content" style="overflow: hidden">
            <div class="tab-pane active" id="recent"></div>
            <div class="tab-pane" id="pending"></div>
            <div class="tab-pane" id="historic"></div>
        </div>
    </div>
</div>


<style scoped>
    .grid-btn-group {
        float: left;
    }
    .badge {
        margin-top: -5px;
        margin-left: 10px;
    }
</style>