﻿@using nTrack.Web.Bootstrap
@{
    ViewBag.Title = "Movement Report";
}


<div class="span9">

    <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#report" data-toggle="tab">Movement Report</a></li>
        </ul>
        <div class="tab-content" style="overflow: hidden">
            <div class="tab-pane active" id="report">
                @Html.Partial("_Report")
                
            </div>
        </div>
        <br/>
        <div class="control-group">
            <div class="controls">
                @Bootstrap.BackButton("Back", "back", Url.Action("Index", "Movements", new { area="User"}))
            </div>
        </div>
    </div>
    

                    
</div><!--/span-->