﻿@model PalletPlus.Website.Areas.User.ViewModels.Movement.MovementCorrectionRequestViewModel
@using Kendo.Mvc.UI
@using nTrack.Extension
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        resetNav();
        $("#Movements").addClass("active");
        $("#datepicker").kendoDatePicker({
            name: "NewMovementDate",
            culture: "en-AU",
            value: new Date(@Model.MovementDate.ToJavaScriptMilliseconds())
        });
        
        $("#datepicker2").kendoDatePicker({
            name: "NewEffectiveDate",
            culture: "en-AU",
            value: new Date(@Model.MovementDate.ToJavaScriptMilliseconds())
         });
    });
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Request movement correction</legend>

            @using (Html.BeginForm("RequestCorrection", "Movements", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(x => x.MovementId)
                @Html.HiddenFor(x => x.MovementType)
                
                <dl class="dl-horizontal">
                    <dt>Docket Number</dt>
                    <dd>@Model.DocketNumber</dd>
                </dl>
                
                <dl class="dl-horizontal">
                    <dt>Provider</dt>
                    <dd>@Model.EquipmentProviderName</dd>
                </dl>
                
                <dl class="dl-horizontal">
                    <dt>Partner name</dt>
                    <dd>@Model.TradingPartnerName</dd>
                </dl>
                
                <dl class="dl-horizontal">
                    <dt>Movement date</dt>
                    <dd>@Model.MovementDate.ToShortDateString()</dd>
                </dl>
                
                  <dl class="dl-horizontal">
                    <dt>Effective date</dt>
                    <dd>@Model.EffectiveDate.ToShortDateString()</dd>
                </dl>

                <fieldset>
                    <legend>Correction details</legend>
                    @Html.ValidationSummary()
                    
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, m => Model.NewMovementDate)
                        <div class="controls">
                            <input id="datepicker" name="NewMovementDate" required style="width:150px;" />
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, m => Model.NewEffectiveDate)
                        <div class="controls">
                            <input id="datepicker2" name="NewEffectiveDate" required style="width:150px;" />
                        </div>
                    </div>

                    @foreach (var e in Model.Equipment)
                    {
                        <div class="control-group">
                            @Bootstrap.Label(e.EquipmentName)
                            <div class="controls">
                                @Bootstrap.DisabledTextBoxFor(Html, m => e.EquipmentCode, Model.Equipment.FirstOrDefault(x => x.EquipmentCode == e.EquipmentCode).Quantity.ToString())
                                
                                @Bootstrap.TextBoxFor(Html, m => Model.NewQuantities[e.EquipmentCode])
                            </div>
                        </div>
                    }
                    
                    <div class="control-group">
                        @Bootstrap.LabelFor(Html, m => Model.Reason)
                        <div class="controls">
                            @Html.DropDownListFor(vm => vm.Reason, Model.Reasons, "", new { @class = "select-input" })
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            @Bootstrap.BackButton("Cancel", "back", Url.Action("Index", "Movements"))
                            @Bootstrap.SaveButton("Send", "edit")
                        </div>
                    </div>
                </fieldset>
            }
        </fieldset>
    </div>
</div>