﻿@model PalletPlus.Website.Areas.User.ViewModels.Movement.MovementCancellationRequestViewModel
@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap

<script>
    $(document).ready(function () {
        resetNav();
        $("#Movements").addClass("active");
    });
</script>

<div class="span9">
    <div class="row">
        <fieldset>
            <legend>Request movement correction</legend>

            @using (Html.BeginForm("RequestDelete", "Movements", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(x => x.MovementId)
                @Html.HiddenFor(x => x.MovementType)
                
                <dl class="dl-horizontal">
                    <dt>Docket Number</dt>
                    <dd>@Model.DocketNumber</dd>
                </dl>
                
                <dl class="dl-horizontal">
                    <dt>Provider</dt>
                    <dd>@Model.EquipmentProviderName</dd>
                </dl>
                    
                <dl class="dl-horizontal">
                    <dt>Partner</dt>
                    <dd>@Model.TradingPartnerName</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Movement date</dt>
                    <dd>@Model.MovementDate.ToShortDateString()</dd>
                </dl>
                
                <dl class="dl-horizontal">
                    <dt>Effective date</dt>
                    <dd>@Model.EffectiveDate.ToShortDateString()</dd>
                </dl>

                <fieldset>
                    <legend>Correction details</legend>
                    @Html.ValidationSummary()
                               
                    <dl class="dl-horizontal">
                        <dt>Quantities</dt>
                        <dd>
                            <table class="table span4 table-condensed table-hover table-bordered" style="margin-left: -8px;">
                                <thead>
                                    <tr>
                                        <th>Asset name</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var i in Model.Equipment)
                                    {
                                        <tr>
                                            <td>@i.EquipmentName</td>
                                            <td class="old">@Model.Equipment.FirstOrDefault(x => x.EquipmentCode == i.EquipmentCode).Quantity</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </dd>
                    </dl>
                           
                    <dl class="dl-horizontal">
                        <dt>Reason</dt>
                        <dd>@Html.DropDownListFor(vm => vm.Reason, Model.Reasons, "", new { @class = "select-input" })</dd>
                    </dl>

                    <div class="control-group">
                        <div class="controls">
                            @Bootstrap.BackButton("Cancel", "back", Url.Action("Index", "Movements"))
                            @Bootstrap.SaveButton("Send", "edit")
                        </div>
                    </div>
                </fieldset>
            }
        </fieldset>
    </div>
</div>
