﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Supplier.SupplierEditViewModel

<script>
    $(document).ready(function () {
        $("#add-location-modal").hide();
    });
</script>

<a id="add-location-button" data-toggle="modal" data-target="#add-location-modal" class="btn" href=""><i class="icon-plus-sign"></i>Add location</a>

@using (Html.BeginForm("AddLocation", "Wizard", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.SupplierId)
    
    <div class="modal" id="add-location-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="add-location-label">Add location</h3>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary()
            
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.LocationVM.LocationName)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.LocationVM.LocationName)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.LocationVM.AccountNumber)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.LocationVM.AccountNumber)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.LocationVM.AddressLine1)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.LocationVM.AddressLine1)
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.LocationVM.AddressLine2)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.LocationVM.Suburb)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.LocationVM.Suburb)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.LocationVM.Postcode)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.LocationVM.Postcode)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.LocationVM.State)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.LocationVM.State)
                </div>
            </div>
            
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.LocationVM.Country)
                <div class="controls">
                    @Html.DropDownListFor(m => m.LocationVM.Country, Model.ComboboxCountries)
                </div>
            </div>
            
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.LocationVM.ContactEmail)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.LocationVM.ContactEmail)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.LocationVM.ContactName)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.LocationVM.ContactName)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <button id="add-location-submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}

<script> 
    $("#add-location-submit").click(function () {
        $(this).addClass('loading');
    });
</script>
