﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Site.SiteEditViewModel

<script>
    $(document).ready(function () {
        $("#add-supplier-modal").hide();
    });
</script>

<a id="add-supplier-button" data-toggle="modal" data-target="#add-supplier-modal" class="btn"><i class="icon-plus-sign"></i>Add supplier</a>

@using (Html.BeginForm("AddSupplierToSite", "Wizard", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.SiteId)
    
    <div class="modal" id="add-supplier-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="add-supplier-label">Add supplier</h3>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary()

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.SupplierVM.SupplierId)
                <div class="controls">
                    @(Html.Kendo().ComboBoxFor(m => Model.SupplierVM.SupplierId)
                          .Name("SupplierVM.SupplierId")
                          .DataTextField("SupplierName")
                          .DataValueField("Id")
                          .BindTo(Model.ComboboxSuppliers)
                          .Value(""))
                </div>
            </div>
            
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.SupplierVM.AccountNumber)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.SupplierVM.AccountNumber)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.SupplierVM.Prefix)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.SupplierVM.Prefix)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.SupplierVM.Suffix)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.SupplierVM.Suffix)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.SupplierVM.SequenceStartNumber)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.SupplierVM.SequenceStartNumber)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <button id="add-supplier-submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}

<script> 
    $("#add-supplier-submit").click(function () {
        $(this).addClass('loading');
    });
</script>
