﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Supplier.SupplierEditViewModel

<script>
    $(document).ready(function () {
        $("#add-equipment-modal").hide();
    });
</script>

<a id="add-supplier-button" data-toggle="modal" data-target="#add-equipment-modal" class="btn" href=""><i class="icon-plus-sign"></i>Add equipment</a>

@using (Html.BeginForm("AddEquipment", "Wizard", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.SupplierId)
    
    <div class="modal" id="add-equipment-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="add-equipment-label">Add equipment</h3>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary()
            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.EquipmentVM.EquipmentCode)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.EquipmentVM.EquipmentCode)
                </div>
            </div>

            <div class="control-group">
                @Bootstrap.LabelFor(Html, m => Model.EquipmentVM.EquipmentName)
                <div class="controls">
                    @Bootstrap.TextBoxFor(Html, m => Model.EquipmentVM.EquipmentName)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <button id="add-equipment-submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}

<script> 
    $("#add-equipment-submit").click(function () {
        $(this).addClass('loading');
    });
</script>
