﻿@using PalletPlus.Website.Areas.Admin.ViewModels.Partner
@using nTrack.Web.Bootstrap
@model PartnerSupplierEquipmentViewModel

@Html.HiddenFor(x => Model.SupplierId)

<table class="table table-condensed table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>In Use</th>
            <th>Equipment Code</th>
            <th>Equipment Name</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            foreach (var item in Model.EquipmentNames)
            {
                i++;
                var inUse = Model.CheckedNodes[item.Key];
                var id = string.Format("{0}-{1}", Model.SupplierId, item.Key);
                
                <tr>
                    <td>@i</td>
                    <td>
                        @Ajax.ActionLink(inUse ? "Yes" : "No", "EditSupplierEquipmentItem", "Partner",
                                         new {id = Model.PartnerId, assetAction = !inUse, supplierId = Model.SupplierId, equipmentCode = item.Key },
                                         new AjaxOptions
                                         {
                                             HttpMethod = "Post",
                                             OnSuccess = "ChangeLink(" + Json.Encode(id) + ")"
                                         },
                                         new { id })
                    </td>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    function ChangeLink(id) {
        var innerCode = $("#" + id).html();
        
        if (innerCode == "Yes") {
            $("#" + id).html("No");
        } else {
            $("#" + id).html("Yes");
        }
    }
</script>