﻿@using nTrack.Web.Bootstrap

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Pallet Tracking MVC Website.</title>
        

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/Kendo/css")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/kendo")
        @Scripts.Render("~/bundles/nTrack")
        <script>
            $.validator.defaults.ignore = "";
        </script>
        <script type="text/javascript">
            $(function () {
                $("[data-toggle='popover']").popover();
            });
</script>
        <style type="text/css">
            body {
                padding-bottom: 40px;
            }
            .content {
                padding-top: 80px;
            }
            label {
                width: 100px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container" style="padding-top: 7px;padding-bottom: 7px;">
                    <a href="/">
                        <img class="pull-left" id="ntrackLogo" style="height: 40px;" src="/Content/UI/ntrack-pp-logo.png" alt="logo" ></a>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="span4">
                    @RenderSection("Description", false)
                </div><!--/span-->
                <div class="span8">
                    <div class="row">
                        <h4>Pallet Plus Wizard</h4>
                        <div class="progress progress-info">
                            <div class="bar" style="width: @Session["wizardProgress"]%;"></div>
                        </div>
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">@ViewBag.Title</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $("#State").focusout(function () {
                        $("#State").val($("#State").val().toUpperCase());
                    });
                </script>
            </div>

            <hr/>

            @Html.Partial("_FooterPartial")
        </div>
    </body>
</html>




