﻿@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Supplier.SupplierEditViewModel

@{
    ViewBag.Title = "Add Equipment";
}

 @Html.Partial("_AddEquipmentPartial")

                        @if (Model.Equipment.Count > 0)
                        {
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Equipment Code</th>
                                        <th>Equipment Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 0;
                                        foreach (var item in Model.Equipment)
                                        {
                                            string cls = "";
                                            if (item.IsDeleted){ cls = "deleted"; }
                                            i++;
                                            <tr class="@cls">
                                                <td>@i</td>
                                                <td>@item.EquipmentCode</td>
                                                <td>@item.EquipmentName</td>
@*                                                <td>
                                                    @if(item.IsDeleted)
                                                    {
                                                        <div class="btn-group">
                                                            <a class="btn btn-small" onclick="return confirm('Are you sure you want to re-instate this record?')" rel="tooltip" title="re-instate"
                                                               href="@Url.Action("UndeleteEquipment", "Supplier", new {id = Model.SupplierId, equipmentCode = item.EquipmentCode})">
                                                                <i class="icon-ok"></i>
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="btn-group">
                                                            <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                               href="@Url.Action("DeleteEquipment", "Supplier", new {id = Model.SupplierId, equipmentCode = item.EquipmentCode})">
                                                                <i class="icon-remove"></i>
                                                            </a>
                                                        </div>
                                                    }
                                                </td>*@
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
@Bootstrap.PreviousAction(ViewBag.PreviousLink)
@Bootstrap.NextAction(ViewBag.NextLink)