﻿@using PalletPlus.Website.Areas.Admin.ViewModels.Supplier
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Supplier.SupplierEditViewModel
@{
    ViewBag.Title = "Add Location";
}

  @Html.Partial("_AddLocationPartial")

                        @if (Model.Locations.Count > 0)
                        {
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Location Name</th>
                                        <th>Account Number</th>
                                        <th>State</th>
                                        <th>Suburb</th>
                                        <th>Contact Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 0;
                                        foreach (var item in Model.Locations.Values)
                                        {
                                            string cls = "";
                                            if (item.IsDeleted){ cls = "deleted"; }
                                            i++;
                                           // @Html.Partial("_EditLocationPartial", new LocationViewModel(item, Model.SupplierId, Model.ComboboxCountries, i))
                                            <tr class="@cls">
                                                <td>@i</td>
                                                <td>@item.CompanyName</td>
                                                <td>@item.AccountNumber</td>
                                                <td>@item.State</td>
                                                <td>@item.Suburb</td>
                                                <td>@item.ContactEmail</td>
@*                                                <td>
                                                    <div class="btn-group">
                                                        <a class="btn btn-small" rel="tooltip" title="Edit"
                                                           href="@Url.Action("EditLocation", "Supplier", new {id = Model.SupplierId, locationKey = item.LocationKey})">
                                                            <i class="icon-edit"></i>
                                                        </a>
                                                        <a class="btn btn-small" rel="tooltip" title="Edit location"
                                                           data-toggle="modal" data-target="#edit-location-modal-@i" href="#"><i class="icon-edit"></i>
                                                        </a>
                                                    </div>
                                                </td>*@
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }

@Bootstrap.PreviousAction(ViewBag.PreviousLink)
@Bootstrap.NextAction(ViewBag.NextLink)