﻿@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Wizard.CorrectionReasonVM
@{
    ViewBag.Title = "Cancellation Reason";
}

@using (Html.BeginForm("AddCancellationReason", "Wizard", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(p => p.Type)
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Reason)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Reason, null, "input-box")
                                    @Html.ValidationMessageFor(p => p.Reason)
                                    <button type="submit" class="btn btn-small btn-primary">Add</button>
                                </div>
                            </div>
                        }
                        @if (Model.ReasonsVM.Count > 0)
                        {
                            <div class="span6">
                                <table class="table table-condensed table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Reason</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 0;
                                            foreach (var item in Model.ReasonsVM)
                                            {
                                                i++;
                                                <tr>
                                                    <td style="width: 20px;">@( i)</td>
                                                    <td>@item.Value</td>
                                                    <td style="width: 20px;">
                                                        <div class="btn-group">
                                                            @using (Html.BeginForm("RemoveCancellationReason", "Wizard", FormMethod.Post, new { @class = "form-horizontal", id = item.Key }))
                                                            {
                                                                <button type="submit" class="btn btn-small">
                                                                    <i class="icon-remove "></i>
                                                                </button>
                                                            }

                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="span9">
                            </div>
                            @Bootstrap.PreviousAction(ViewBag.PreviousLink)
                            @Bootstrap.NextAction(ViewBag.NextLink)


                        }