﻿@using nTrack.Web.Bootstrap
@{
    ViewBag.Title = "Create Site Success";
}

<h4>Do you want to create another site?</h4>

<div class="control-group">
    <div class="controls">
        <a class="btn btn-primary" href="@Url.Action("CreateSite", "Wizard")">Yes</a>
        <a class="btn btn-inverse" href="@Url.Action("CorrectionReason", "Wizard")"> No</a>
    </div>
                            </div>