﻿@using Kendo.Mvc.UI
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Partner.PartnerViewModel

@{
    ViewBag.Title = "Create Partner";
}


                        @using (Html.BeginForm("CreatePartner", "Wizard", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Bootstrap.Alert(TempData["alert-message"], TempData["alert-type"])
                            @Html.ValidationSummary()

                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.CompanyName)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.CompanyName)   
                                </div>
                            </div>
                        
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.AddressLine1)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine1)
                                </div>
                            </div>
                      
                            <div class="control-group">
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.AddressLine2)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Suburb)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.Suburb)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.PostCode)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.PostCode)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.State)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.State)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.Country)
                                <div class="controls">
                                    @Html.DropDownListFor(m => m.Country, Model.ComboboxCountries)
                                </div>
                            </div>
                            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.ContactName)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.ContactName)
                                </div>
                            </div>
            
                            <div class="control-group">
                                @Bootstrap.LabelFor(Html, m => Model.ContactEmail)
                                <div class="controls">
                                    @Bootstrap.TextBoxFor(Html, m => Model.ContactEmail)
                                </div>
                            </div>
            
                             @Bootstrap.PreviousAction(ViewBag.PreviousLink)
                             @Bootstrap.NextSubmit()
                        }
