﻿@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Supplier.SupplierViewModel
@{
    ViewBag.Title = "Create Supplier";
}

 @using (Html.BeginForm("CreateSupplier", "Wizard", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.ValidationSummary()

                            <fieldset>
                                <legend>Supplier Details</legend>
                            
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.SupplierName)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.SupplierName)
                                    </div>
                                </div>
            
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.ContactEmail)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.ContactEmail)
                                    </div>
                                </div>
            
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.ProviderName)
                                    <div class="controls">
                                        <div id="ExportProviderNameCombobox">@Bootstrap.ComboboxFor(Html, m => m.ProviderName, Model.ExportProviderNames)</div>
                                    </div>
                                </div>
 
                            </fieldset>
                            
                            <fieldset>
                                <legend>Default Location Address</legend>
                                
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.LocationName)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.LocationName)
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.AccountNumber)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.AccountNumber)
                                    </div>
                                </div>

                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.AddressLine1)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.AddressLine1)
                                    </div>
                                </div>
                      
                                <div class="control-group">
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.AddressLine2)
                                    </div>
                                </div>
            
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.Suburb)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.Suburb)
                                    </div>
                                </div>
                        
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.Postcode)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.Postcode)
                                    </div>
                                </div>
                        
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.State)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.State)
                                    </div>
                                </div>
            
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => m.ContactName)
                                    <div class="controls">
                                        @Bootstrap.TextBoxFor(Html, m => m.ContactName)
                                    </div>
                                </div>
                        
                                <div class="control-group">
                                    @Bootstrap.LabelFor(Html, m => Model.Country)
                                    <div class="controls">
                                        @Html.DropDownListFor(m => m.Country, Model.ComboboxCountries)
                                    </div>
                                </div>

                            </fieldset>

     @Bootstrap.PreviousAction(ViewBag.PreviousLink)
     @Bootstrap.NextSubmit()

                        }