﻿@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Site.SiteViewModel
@{
    ViewBag.Title = "Create Site";
}

@section Description
{
    <div class="well sidebar-nav">
        <fieldset>
            <legend>General info</legend>
            Here are general info about page and what we should do.
            <span class="label label-important">Important!</span> You should use here any fireworks from bootstrap to drive user attention
        </fieldset>
    </div>
}

<style scoped>
    .well {
        margin-right: 15px;
        height: 400px;
        padding: 10px;
    }
</style>
@using (Html.BeginForm("CreateSite", "Wizard", FormMethod.Post, new { @class = "form-horizontal" }))
 {
     @Html.ValidationSummary()
     <div class="control-group">
         @Bootstrap.LabelFor(Html, m => Model.SiteName)
         <div class="controls">
             @Bootstrap.TextBoxFor(Html, m => Model.SiteName)
         </div>
     </div>

     <div class="control-group">
         @Bootstrap.LabelFor(Html, m => Model.AddressLine1)
         <div class="controls">
             @Bootstrap.TextBoxFor(Html, m => Model.AddressLine1)
             @Bootstrap.InfoPopover(Bootstrap.PopoverPlacement.Right, "Popover on right", "APS asdasd asd asd asd APS asdasd asd asd asd  asd asd asd ")
         </div>
     </div>

     <div class="control-group">
         <div class="controls">
             @Bootstrap.TextBoxFor(Html, m => Model.AddressLine2)
         </div>
     </div>
     <div class="control-group">
         @Bootstrap.LabelFor(Html, m => Model.Suburb)
         <div class="controls">
             @Bootstrap.TextBoxFor(Html, m => Model.Suburb)
         </div>
     </div>

     <div class="control-group">
         @Bootstrap.LabelFor(Html, m => Model.Postcode)
         <div class="controls">
             @Bootstrap.TextBoxFor(Html, m => Model.Postcode)
         </div>
     </div>

     <div class="control-group">
         @Bootstrap.LabelFor(Html, m => Model.State)
         <div class="controls">
             @Bootstrap.TextBoxFor(Html, m => Model.State)
         </div>
     </div>

     <div class="control-group">
         @Bootstrap.LabelFor(Html, m => Model.Country)
         <div class="controls">
             @Html.DropDownListFor(m => Model.Country, Model.ComboboxCountries)
         </div>
     </div>



             @Bootstrap.NextSubmit()

 }
