﻿@using nTrack.Web.Bootstrap
@{
    ViewBag.Title = "Create Partner Success";
}

<h4>Do you want to create another partner?</h4>

<div class="control-group">
    <div class="controls">
        <a class="btn btn-primary" href="@Url.Action("CreatePartner", "Wizard")">Yes</a>
        <a class="btn btn-inverse" href="@Url.Action("Linking", "Wizard")"> No</a>
    </div>
                            </div>