﻿@using PalletPlus.Website.Areas.Admin.ViewModels.Partner
@using nTrack.Web.Bootstrap
@model PalletPlus.Website.Areas.Admin.ViewModels.Partner.PartnerEditViewModel
@{
    ViewBag.Title = "Partner Suppliers";
}

@Html.Partial("_AddSupplierPartial")
                    
                        @if (Model.SuppliersVM.Any())
                        {
                            <table class="table table-condensed table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Supplier Name</th>
                                        <th>Supplier Account Number</th>
                                        <th>Contact Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 0;
                                        foreach (var item in Model.SuppliersVM)
                                        {
                                            using (Ajax.BeginForm("PartnerSuppliers", "Wizard", null, new {@class = "form-horizontal"}))
                                            {
                                                @Html.HiddenFor(x => Model.PartnerId)
                                                i++;
                                                <tr style="background-color: #F9F9F9">
                                                    <td>@i</td>
                                                    <td>@item.SupplierName</td>
                                                    <td>@item.SupplierAccountNo</td>
                                                    <td><a href="mailto:@item.ContactEmail">@item.ContactEmail</a></td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <span>
                                                                <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                                   href="@Url.Action("DeletePartnerSupplier", "Wizard", new {id = Model.PartnerId, supplierId = item.SupplierId})">
                                                                    <i class="icon-remove"></i>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td colspan="8">
                                                        @Html.Partial("_EditSupplierEquipmentPartial", new PartnerSupplierEquipmentViewModel(Model.PartnerId, item.SupplierId, item.Equipment, item.EquipmentAvailable))
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        }

 @Bootstrap.PreviousAction(ViewBag.PreviousLink)
 @Bootstrap.NextAction(ViewBag.NextLink)