﻿@using nTrack.Web.Bootstrap
@{
    ViewBag.Title = "Create Supplier Success";
}

<h4>Do you want to create another supplier?</h4>

<div class="control-group">
    <div class="controls">
        <a class="btn btn-primary" href="@Url.Action("CreateSupplier", "Wizard")">Yes</a>
        <a class="btn btn-inverse" href="@Url.Action("CreatePartner", "Wizard")"> No</a>
    </div>
                            </div>