﻿@using PalletPlus.Website.Areas.Admin.ViewModels.Site
@using nTrack.Web.Bootstrap
@{
    ViewBag.Title = "Link Supplier To Site";
}
@model PalletPlus.Website.Areas.Admin.ViewModels.Site.SiteEditViewModel

  @Html.Partial("_AddSupplierToSitePartial")

                        @if (Model.SuppliersVM.Any())
                        {
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Supplier Account Number</th>
                                        <th>Supplier Name</th>
                                        <th>Prefix</th>
                                        <th>Suffix</th>
                                        <th>Sequence Start Number</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                            var i = 0;
                            foreach (var item in Model.SuppliersVM)
                            {
                                if (item.IsDeleted) { continue; }
                                i++;
                                if (!item.IsCompany)
                                {
                                                @Html.Partial("_EditSupplierToSitePartial", new SiteSupplierEditViewModel(item, Model.SiteId, i))
                                }
                                else
                                {
                                                @Html.Partial("_OverrideSupplierToSitePartial", new SiteSupplierEditViewModel(item, Model.SiteId, i))
                                }
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.AccountNumber</td>
                                                <td>@Model.SupplierNames[item.SupplierId]</td>
                                                <td>@item.Prefix</td>
                                                <td>@item.Suffix</td>
                                                <td>@item.SequenceStartNumber</td>
                                                <td>
                                                    <div class="btn-group">
                                                        @if (!item.IsCompany)
                                                        {
                                                            <a class="btn btn-small" rel="tooltip" title="Edit supplier"
                                                               data-toggle="modal" data-target="#edit-supplier-modal-@i" href="#"><i class="icon-edit"></i>
                                                            </a>
                                                            <a class="btn btn-small" onclick="return confirm('Are you sure you want to delete this record?')" rel="tooltip" title="Delete"
                                                               href="@Url.Action("DeleteSupplierToSite", "Wizard", new { id = Model.SiteId, supplierId = item.SupplierId })">
                                                                <i class="icon-remove"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-small" rel="tooltip" title="Override supplier"
                                                               data-toggle="modal" data-target="#override-supplier-modal-@i" href="#"><i class="icon-plus"></i>
                                                            </a>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                            }
                                    }
                                </tbody>
                            </table>
                        }

 @Bootstrap.PreviousAction(ViewBag.PreviousLink)
 @Bootstrap.NextAction(ViewBag.NextLink)